
{% extends 'base.html' %}

{% block content %}
<div class="page-content" id="administration">
  <h1 class="heading-1">{{event.title}}</h1>
  <p><a class="button button-secondary" href="{{url_for('event.view_event', event_id=event.id)}}">Retour à la collective</a></p>

  <h4 class="heading-4">Édition du questionnaire</h4>
  Vous pouvez ajouter des questions auxquelles les utilisateurs devront répondre pour s'inscrire.

  <h5 class="heading-5"> Questions existantes </h5>
  {% if form.questions %}

    <form method="POST">
    <table id="existing_questions">
    <thead>
      <th> Intitulé / Description</th>
      <th> Type / Réponses possibles</th>
    </thead>
    {% for question_form in form.questions %}
      {{question_form.question_id}}
        
        {% if question_form.errors %}
        <tr> <td colspan="5" class="error-cell">
          <div class="form-errors">
              {% for field_name, errors in question_form.errors.items() %}
              {% for error in errors %}
              <div class="flash flash-error">
                  <strong>Erreur: {{question_form[field_name].label}}:</strong> {{error}}
              </div>
              {% endfor %}
              {% endfor %}
          </div>
        </td> </tr>
        {%endif%}
    
        <tr class="{{ loop.cycle('odd', 'even') }} fields top " >
          <td> {{ question_form.title() }} </td>
          <td>
            {{ question_form.question_type() }}
          </td>
        </tr>
        <tr class="{{ loop.cycle('odd', 'even') }} fields " >
          <td>
            {{question_form.description}}
          </td>
          <td>
            {{question_form.choices}}
          </td>
        </tr>
        <tr class="{{ loop.cycle('odd', 'even') }} fields bottom " >
          <td> 
          {{question_form.enabled}}&nbsp;{{question_form.enabled.label}}
          {{question_form.required}}&nbsp;{{question_form.required.label}}
          {% if not question_form.question.answers %}
            {{question_form.delete}}&nbsp;{{question_form.delete.label}}
          {% endif %} 
          </td>
          <td>
          {{question_form.order.label}}: {{question_form.order}} <br/>
          </td>
        </tr>
    {% endfor %}
    </table>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br />{{ form.update(class="button button-primary") }}
    </form>
  {%else%}
      Aucune question n'a été créée pour le moment.
  {%endif%}

    <form method="POST" id="new_question" class="form form-vertical">
    <h4 class="heading-4"> Nouvelle question</h4>

    <div class="form-errors">
        {% for field_name, errors in new_question_form.errors.items() %}
        {% for error in errors %}
        <div class="flash flash-error">
            <strong>Erreur: {{new_question_form[field_name].label}}:</strong> {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div class="controls">
    {{ new_question_form.title.label(class="label-top") }}
    {{ new_question_form.title(class="input-100")}}
    </div>

    <div class="controls">
    {{ new_question_form.description.label(class="label-top") }}<div class="label-help">{{ new_question_form.description.description }}</div>
    {{ new_question_form.description(rows=12)}}
    </div>

    <div class="controls">
    {{ new_question_form.question_type.label(class="label-top") }}<div class="label-help">{{ new_question_form.question_type.description }}</div>
    {{ new_question_form.question_type}}
    </div>
    
    <div class="controls">
    {{ new_question_form.choices.label(class="label-top") }}<div class="label-help">{{ new_question_form.choices.description }}</div>
    {{ new_question_form.choices(rows=8)}}
    </div>
    
    <div class="controls">
    {{ new_question_form.order.label(class="label-top") }}<div class="label-help">{{ new_question_form.order.description }}</div>
    {{ new_question_form.order(class="input-25")}}
    </div>
    
    <div class="controls">
    <div class="label-top">
    {{ new_question_form.required }} 
    {{new_question_form.required.label}}
    </div>
    </div>

    <div class="controls">
    <div class="label-top">
    {{ new_question_form.enabled }} 
    {{new_question_form.enabled.label}}
    </div>
    </div>
 
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br />{{ new_question_form.add(class="button button-primary") }}
    </form>

</div>

{% endblock %}

