{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}



{% block additionalhead %}


  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Autocomplete for leader lookup #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/event/eventlist.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>



{% endblock %}



{% block scriptJsBody %}

  {# Script JS in body tag #}
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}




{% block content %}

  <div class="panel">

    <h3>GESTION DU MATÉRIEL <span class="title_second_path">/ STOCK</span></h3>

    <h4>STOCK</h4>

    <p class="button button-primary button-small button-open-modal">Ajouter</p>


    <div class="container_table">
      <div class="table_head_container">

        <p class="head_element">Référence Catalogue</p>
        <p class="head_element">Type d'objet</p>
        <p class="head_element"> Modele </p>
        <p class="head_element">État</p>

      </div>

      <div class="table_body_container">

        {% for equipmentType in equipmentTypeList %}
        {% for model in equipmentType.models %}
          {% for equipment in model.equipments %}

            {% include 'equipment/gestion/equipment/display_one.html' %}


            <!-- {% if equipmentId != equipment.id %}
            
              <a href="{{ url_for("equipment.edit_equipment", equipmentId=equipment.id)}}">edit</a>
            {% else %}
              {% with form=editEquipmentForm, route=url_for("equipment.edit_equipment", equipmentId=equipment.id) %}
                {% include "equipment/gestion/equipment/form.html" %}
              {% endwith %}
           {% endif %}
          
            {% with form=deleteForm, route=url_for("equipment.delete_equipment",equipment_id=equipment.id) %}
              {% include 'equipment/gestion/delete_form.html' %}
            {% endwith %} -->

          {% endfor %}
        {% endfor %}
      {% endfor %}

      </div>

    </div>


  

  </div>







    <!-- {% if addEquipmentForm is defined %}
      {% with form=addEquipmentForm, route=url_for("equipment.view_equipment_stock") %}
        {% include 'equipment/gestion/equipment/form.html' %}
      {% endwith %}
    {% endif %} -->


    <!--  -->

    {% with form=addEquipmentForm, route=url_for("equipment.view_equipment_stock"),
    includePath='equipment/gestion/equipment/form.html' %}

      {% include 'partials/modal.html' %}

    {% endwith %}




{% endblock %}