{# Retex display partial, included on the event page #}

{% if event.retex %}
<div id="retex" class="collective-display--description">
  <h4 class="heading-3">
    <img class="icon" src="{{ url_for('static', filename='img/icon/material-design/dino.svg') }}"/>
    Retex
    <span class="retex-status-badge retex-status-{{ event.retex.status.value }}">
      {{ event.retex.status.display_name() }}
    </span>
  </h4>
  {{ event.retex.rendered_description | safe }}
</div>
{% elif event.needs_retex() and event.has_edit_rights(current_user) %}
<div id="retex" class="collective-display--description">
  <h4 class="heading-3">
    <img class="icon" src="{{ url_for('static', filename='img/icon/material-design/dino.svg') }}"/>
    Retex
  </h4>
  <p>Le retex de cette sortie n'a pas encore été rédigé.</p>
  <a class="button button-secondary" href="{{ url_for('retex.edit_retex', event_id=event.id) }}">
    <img class="icon" src="{{ url_for('static', filename='img/icon/material-design/dino.svg') }}"/>
    Rédiger le retex
  </a>
</div>
{% endif %}
