{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Reservations{% endblock %}
{% endblock %}

{% block additionalhead %}


  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

{% endblock %}

{% block content %}
    <h1>ICI2222</h1>
    <p>{{reservationLine}}</p>
    <div id="equipment-table"></div>
    <script>
        var ajaxURL = "{{url_for('api.reservation_line', line_id=reservationLine.id)}}";
    </script>

    <script src="{{ url_for('static', filename='js/equipment/tabulator_equipment.js') }}"></script>
{% endblock %}