{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Reservations{% endblock %}
{% endblock %}

{% block additionalhead %}


  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Equipment autocomplete #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

  {# Axios #}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}

  <div class="panel">

    <h3>
      <a href="{{ url_for('reservation.view_reservations')}}" class="link_path"> <span class="title_first_path">GESTION DES RÉSERVATIONS</span></a>
      <a href="{{ url_for('reservation.view_reservation', reservation_id=reservationLine.reservation.id )}}" class="link_path"> <span class="title_second_path">/  RÉSERVATION N°{{ reservationLine.reservation.id }} </span> </a>
    </h3>

    <h4>{{ reservationLine.equipmentType.name }} ({{ reservationLine.quantity }}) :</h4>


    {% if not reservationLine.is_full() %}
    <div class="controls">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.add_equipment.label }}
          <input type="text" id="new-equipment" placeholder="Référence">
        {{ form.add_equipment(value=0) }}
      </form>

    </div>
    {% endif %}

    {% if reservationLine.is_full() %}
        <p class="h-m">Tous les équipements ont été ajoutés</p>
    {% endif %}

    <div id="equipment-table"></div>

  </div>


  <script>
    var ajaxURL = "{{url_for('api.reservation_line', line_id=reservationLine.id)}}";
    const token_csrf = "{{ csrf_token() }}";
    const line_id = "{{reservationLine.id}}"

    window.onload = function () {
      const searchInput = document.getElementById('new-equipment');
      setupAutoComplete(
        searchInput,
        '{{url_for("api.autocomplete_availables_equipments", line_id=reservationLine.id) | safe}}',
        function(item) {
          return item.reference;
        },
        function(id, val) {
          var field = document.getElementById('{{form.add_equipment.id}}');
          field.value = id;
          field.form.submit();
        }
      );
    }
  </script>

  <script src="{{ url_for('static', filename='js/reservation/tabulator_reservation_line.js') }}"></script>
{% endblock %}