#activitylist{
}

#activitylist .action{
  text-align: right;
  padding: 0 40px;
}
#activitylist .action input{
  background-color: white;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 1em;
  border: none;
  font-size: 1em;

  border-radius: 5px;
  color: black;

  cursor: pointer;
}


#activitylist .activity{
  width: 47%;
  margin: 1%;
  height: 200px;
  float: left;
  border: 2px solid #666666;
  background: rgba(255, 255, 255, 0.9);
}
/* Mobile Adjustment :less activity on same line*/
@media only screen and (max-width:1000px) {
	#activitylist .activity{
		width: 95%;
	}
}

#activitylist .activity .photo{
  height: 200px;
  width: 200px;
  float: left;
  object-fit: cover;
  background: url("../img/icon/ionicon/md-images.svg");
  background-color: white;
}

#activitylist .activity h3{
  text-align: center;
  background-color: #00a6d0;
  margin: 0;
  font-size: 2em;
}
#activitylist .activity h3 img{
  height: 1em;
  position: relative;
  top: .15em;
}

#activitylist .activity h4{
  text-align: right;
  padding: 0 5  px;
  margin: 0.1em;
}
#activitylist .icon, #activitydetail .icon{
  height: 1.2em;
  position: relative;
  top: .2em;
}
#activitylist .slots {
  text-align: right;
  padding-right: 5px;
}
#activitylist .slots .freeslot{
  opacity: .5;
}


/* Activity details */
#activitydetail h3{
  margin-bottom: 0;
}
#activitydetail h5{
  font-size: 20px;
  margin: .5em 20px;
}
#activitydetail .slots {
  text-align: left;
}
#activitydetail .photo {
  float: left;
  max-width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}
#activitydetail .type{
  float: right;
}
#activitydetail #description{
  text-align: justify;
  max-width: 1000px;
  margin:auto;
}
