9842
__pycache__
app.db
uploads

/collectives/static/.webassets-cache
/collectives/static/dist/*

# Test DB
collectives/testdb.sqlite

# Populate db of equipments and reservations
collectives/routes/populate_db_equipment_reservation.py

.env
.coverage

doc/build

# VIM swap
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

/logs/
.vs/
