__pycache__
app.db
uploads
.DS_Store

/collectives/static/.webassets-cache
/collectives/static/dist/*
/collectives/private_assets
/collectives/testdb.sqlite

.env
.venv
.coverage
.cache
*.egg-info

# Instance configuration with secrets
instance/config.py


doc/build

# VIM swap
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

/logs/
.vs/
