# This file contains tools useful to develop, but not to run the software
flask-testing

pylint-quotes
pylint-flask-sqlalchemy

black
pytest
pytest-cov
beautifulsoup4

Sphinx===6.1.3
sphinx-book-theme
# We are using one of the latest option of docsr-coverage, thus it is loaded from
# github.
git+https://github.com/HunterMcGushion/docstr_coverage.git
# docstr_coverage
