flask
flask-login
flask_sqlalchemy
sqlalchemy-utils
passlib
flask-wtf
WTForms-Alchemy
flask_uploads
flask-migrate
flask-marshmallow
flask-testing
marshmallow-sqlalchemy
Flask-Images
markdown
pysimplesoap
# See Issue #98
Werkzeug==0.16.1
pymysql
dkimpy
email_validator
openpyxl
