cssmin
itsdangerous
markupsafe
flask
Werkzeug
flask-assets
flask-login
sqlalchemy
flask_sqlalchemy===3.0.2
sqlalchemy-utils
passlib
libsass
flask-wtf
WTForms-Alchemy
# See #98
git+https://github.com/maxcountryman/flask-uploads.git@f66d7dc93e684fa0a3a4350a38e41ae00483a796#egg=flask-uploads
flask-migrate
git+https://github.com/Club-Alpin-Annecy/flask-marshmallow.git@dev#egg=flask-marshmallow
marshmallow-sqlalchemy
git+https://github.com/Club-Alpin-Annecy/Flask-Images@master#egg=Flask-Images
cmarkgfm
# Grab pysimplesoap from Github to get list serialization fixes
git+https://github.com/pysimplesoap/pysimplesoap.git@ad03a21cafab982eed321553c4bfcda1755182eb#egg=pysimplesoap
pymysql
dkimpy
email_validator
openpyxl
babel
python-dateutil
phonenumbers
zeep
Pillow
PyYAML