
{% extends 'administration/index.html' %}

{% block page_content %}
<div class="page-content" id="administration">
  <h4 class="heading-4">Jetons de confirmation</h4>
  Si un utilisateur ne reçoit pas les emails contenant le jeton de confirmation nécessaire à
  la création ou récupération de son compte, vous pouvez en générer un manuellement avec le formulaire ci-dessous.
  <form action="{{url_for('.generate_token')}}" method="post">
    {{token_creation_form.license.label() }}
    {{token_creation_form.license() }}
    {{token_creation_form.hidden_tag() }}
    <br/>
    {{token_creation_form.submit(class="button button-primary")}}
  </form>
</div>
{% endblock %}
