
{% extends 'administration/index.html' %}

{% block additionalhead %}

  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

  {# Specific for this page #}
  <script>const filters =  {{ filters |safe }}</script>
  <script>const filters_badge =  {{ filters_badge |safe }}</script>
  <script src="{{ url_for('static', filename='js/administration.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="page-content" id="administration">
  <h4 class="heading-4">Utilisateurs</h4>
  <h5 class="heading-5">{{count['total']}} utilisateurs dont {{count['enable']}} activés</h5>

  <div class="buttons-bar">
      <a href="{{url_for('administration.manage_user')}}" class="button button-secondary">
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-add-circle-outline.svg') }}"/>
          Ajouter un utilisateur
      </a>
      <a onclick="return exportXLXS(this)" class="button button-secondary" href="{{ url_for('administration.export_role', raw_filters='') }}">
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-copy.svg') }}"/>
          Exporter les utilisateurs du rôle
      </a>
  </div>
  
  <div id="users-table"></div>
</div>
{% endblock %}
