
{% extends 'base.html' %}

{% block additionalhead %}
  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/activity/activity.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/activity/activity.css') }}">

{% endblock %}

{% block header %}
  <h1>{% block title %} {{activity.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel solidpanel" id="activitydetail">
  <h3>{{activity.title}}</h3>
    <img class="photo" src="{% if activity.photo %}{{ url_for('images.fit', filename=activity.photo, width=600 ) }}{% endif %}"/>
    <img src="{{ url_for('static', filename= "caf/icon/"+ conf["TYPES"][activity.type]["short"] + '_60x60.png') }}" class="type" alt="[{{ conf["TYPES"][activity.type]["name"] }}]"/>

    <h5 class="slots">
      Places:
      {% for i in range(0, activity.nbslots) %}
          <img src="{{ url_for('static', filename='img/icon/ionicon/md-contact.svg') }}" class="icon freeslot"/>
      {% endfor %}
    </h5>
    <h5 class="">
      <b>Dénivelé, difficulté, cotation :</b>  {{activity.shortdescription}}
    </h5>
    <h5> <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon"/>
      {{ activity.start}}
      {% if activity.start != activity.end %}
          - {{activity.end }}
      {% endif %}
    </h5>


    <div id="description" class="breaker">{{ activity.rendered_description | safe  }}</div>

</div>


{% endblock %}
