
{% extends 'base.html' %}

{% block additionalhead %}

  {# Tabulator: for tables#}
  <link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>

  {# Specific for this page #}
  <script>const filters =  {{ filters |safe }}</script>
  <script src="{{ url_for('static', filename='js/administration.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Administration{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <h3>Administration</h3>
  <h4>Utilisateurs</h4>
  <h5>{{count['total']}} utilisateurs dont {{count['enable']}} activés</h5>
  <div class="action">
      <a href="{{url_for('administration.manage_user')}}" class="button button-secondary">
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-add-circle-outline.svg') }}"/>
          Ajouter un utilisateur
      </a>
      <a onclick="return exportXLXS(this)" class="button button-secondary" href="{{ url_for('administration.export_role', raw_filters='') }}">
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-copy.svg') }}"/>
          Exporter les utilisateurs du rôle
      </a>
  </div>
  <div id="users-table"></div>
  
  <h4>Jetons de confirmation</h4>
  Si un utilisateur ne recoit pas les emails contenant le jeton de confirmation nécéssaire à 
  la création ou récupération de son compte, vous pouvez en générer un manuellement avec le formulation ci -dessous.
  <form action="{{url_for('.generate_token')}}" method="post">
    {{token_creation_form.license.label() }}
    {{token_creation_form.license() }}
    {{token_creation_form.hidden_tag() }}
    <br/>
    {{token_creation_form.submit(class="button button-primary")}}
  </form>
</div>
{% endblock %}
