<!DOCTYPE html>
<html>
    <head>
        <title>Collectives {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
        {% assets "scss_all" %}
            <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
        <link rel="icon" href="{{ url_for('static', filename=config['FAVICON']) }}" />
        <script type="text/javascript">
            function getServerLocalTime(){
                return '{{server_local_time()}}';
            }

            function checkFileFieldSize(element){
                var maxSize = parseInt("{{ config['MAX_FILE_SIZE']}}");
                var maxSizeFileMessage = "{{config['MAX_FILE_SIZE_MESSAGE']}}";
                if (element.files[0].size > maxSize)  {
                    alert(maxSizeFileMessage.replace('[size]', (element.files[0].size / 1024 / 1024).toFixed(2)));
                }
            }
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block additionalhead %}{% endblock %}
    </head>
    <body>
        {%include 'partials/main-navigation.html' %}
        <section class="page">
            {% block content %}{% endblock %}
        </section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                <div class="innermessages">
                    <img
                        src="{{ url_for('static', filename='img/icon/ionicon/md-close-circle-outline.svg') }}"
                        class="close"
                        onclick= "this.parentNode.parentNode.style.display='none'"
                    />
                    <h3>Message</h3>
                {% for category, message in messages %}
                <p class="{{category}} message">{{ message }}</p>
                {% endfor %}
                </div>
                <div class="veil" onclick= "this.parentNode.style.display='none'"></div>
            </div>
        {% endif %}
        {% endwith %}

        {%include 'partials/main-footer.html' %}
    </body>
</html>
