<!DOCTYPE html>
<html>
    <head>
        <title>Collectives {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
        {% assets "scss_all" %}
            <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
        <link rel="icon" href="{{ url_for('static', filename=config['FAVICON']) }}" />
        <script type="text/javascript">
            function getServerLocalTime(){
                return '{{server_local_time()}}';
            }

            function checkFileFieldSize(element){
                var maxSize = parseInt("{{ config['MAX_CONTENT_LENGTH']}}");
                var maxSizeFileMessage = "{{config['MAX_FILE_SIZE_MESSAGE']}}";
                if (element.files[0].size > maxSize)  {
                    alert(maxSizeFileMessage.replace('[size]', (element.files[0].size / 1024 / 1024).toFixed(2)));
                }
            }
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% if Configuration.GOOGLE_ANALYTICS_UA %}
        <!-- Analytics -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.9.5/tarteaucitron.js"
                integrity="sha512-Z59cuz/ZybHWC3/3UZNQnihn3Xmp2MZJKF6P2HX6WHbkHLrmoW0FHUhpNw+76ms9RuJC88uu3RxWW1IHrfOeug=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
               tarteaucitron.init({
                   "privacyUrl": "{{ url_for('root.legal')}}",
                   "closePopup": true,
                   "orientation"   : "bottom",
                   "showAlertSmall": false,
                   "showIcon"      : false,
               });

                tarteaucitron.user.gtagUa = '{{ Configuration.GOOGLE_ANALYTICS_UA }}';
                // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
                tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
                (tarteaucitron.job = tarteaucitron.job || []).push('gtag');

        </script>
        {% endif %}

        {% block additionalhead %}{% endblock %}
    </head>
    <body>
        {%include 'partials/main-navigation.html' %}
        <section class="page">
            {% block content %}{% endblock %}
        </section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                <div class="innermessages">
                    <img
                        src="{{ url_for('static', filename='img/icon/ionicon/md-close-circle-outline.svg') }}"
                        class="close"
                        onclick= "this.parentNode.parentNode.style.display='none'"
                    />
                    <h3 class="heading-3">Message</h3>
                {% for category, message in messages %}
                <div class="{{category}} message">{{ markdown_to_html(message|e) |safe }}</div>
                {% endfor %}
                </div>
                <div class="veil" onclick= "this.parentNode.style.display='none'"></div>
            </div>
        {% endif %}
        {% endwith %}

        {%include 'partials/main-footer.html' %}


        {% block scriptJsBody %}{% endblock %}
    </body>
</html>
