{% extends 'base.html' %}

{% block additionalhead %}
  {# DateTime picker#}
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <!-- Logging Windows -->
  <h3>{{ title }}</h3>

  <ul class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}
    <li>
      <strong>Erreur : {{field.label}}:</strong> {{error}}
    </li>
    {% endfor %}
    {% endfor %}
  </ul>

  <form action="" method="POST" enctype="multipart/form-data">
    {% for field in form %}
        {% if not ( field.type in [ "CSRFTokenField" , "SubmitField" ]) %}
            <div class="field">{{ field.label }}<span class="help">{{ field.description }}</span></div>

            {% if field.type == "PasswordField" %}
                {{ field(autocomplete="new-password", title=field.description) }}
            {% elif field.type == "FileField" %}
                {{ field(onchange="checkFileFieldSize(this)", title=field.description) }}
            {% else %}
                {{ field(title=field.description) }}
            {% endif %}

        {% endif %}
    {% endfor %}
    {{ form.hidden_tag() }}
    <br />{{ form.submit() }}
  </form>

  {% include 'contact_link.html' %}

</div>

<script>
  // Some browsers do not support HTML5 date pickers yet
  // Use tail instead for those cases
  // See https://stackoverflow.com/questions/18020950/how-to-make-input-type-date-supported-on-all-browsers-any-alternatives
  var dateInput = document.querySelector("input[type='date']");
  if (dateInput && dateInput.type != 'date') {
    tail.DateTime("input[type=date]", {
      weekStart: 1,
      timeFormat: false
    });
  }
</script>
{% endblock %}
