{% extends 'base.html' %}

{% import 'macros/basicform.html' as basicform with context %}


{% block additionalhead %}
  {# DateTime picker#}
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css')}}">
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel">
  <!-- Logging Windows -->
  <h3>{{ title }}</h3>
  {% if subtitle %}<h4>{{subtitle}}</h4>{% endif  %}

  {{ basicform.errors(form) }}

  {{ basicform.display(form) }}

  {% include 'contact_link.html' %}

</div>


{% endblock %}
