<!--htmlhint doctype-first:false -->
{% extends 'base.html' %}

{% block additionalhead %}
  {# DateTime picker#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css') }}">
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="confidentiality_agreement">
  <!-- Logging Windows -->
  <h3>{{ title }}</h3>
  <p>
      <h4>Préambule :</h4> 
      Vous avez été désigné par le Club Alpin Français d’Annecy, club affilié à la Fédération Française des Clubs Alpins et de Montagne, pour accéder à tout ou partie du site des collectives mis en place par le Club Alpin Français d’Annecy.
      Son accès est un <b>lieu sécurisé d’informations nominatives.</b><br/><br/>
      La Fédération Française des Clubs Alpins et de Montagne, soucieuse de garantir à tous les niveaux la sécurité des informations recensées par les traitements automatisés, estime utile de sensibiliser les personnes, susceptibles pour les besoins des services d’utiliser les codes d’accès, sur les précautions à prendre afin de préserver la sécurité des informations.
      Avant de vous permettre l'accès au site, la fédération vous demande donc d'accepter l'acte d'engagement ci-dessous. En fonction des droits différents qui peuvent vous être donnés par différentes instances du club, il est possible que votre acceptation vous soit demandée plusieurs fois.<br/>
      {{current_user.last_name}} {{current_user.first_name}}<br/>
      {{current_user.email}}<br/>
<br/>
      <h4>ACTE D’ENGAGEMENT DE CONFIDENTIALITÉ</h4>
      Devant accéder à certaines données à caractère personnel dans le cadre de mes fonctions ou missions pour le Club Alpin Français d’Annecy, en signant électroniquement le présent document, je déclare reconnaître la confidentialité desdites données.
      Je m'engage par conséquent, conformément aux articles 34 et 35 de la loi du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés ainsi qu'aux articles 32 à 35 du règlement général sur la protection des données du 27 avril 2016, à prendre toutes précautions conformes aux usages et à l'état de l'art dans le cadre de mes attributions afin de protéger la confidentialité des informations auxquelles j'ai accès, et en particulier d'empêcher qu'elles ne soient communiquées à des personnes non expressément autorisées à recevoir ces informations.<br/><br/>

      Je m'engage en particulier à :
      <ul>
          <li>ne pas utiliser les données auxquelles je peux accéder à des fins autres que celles prévues par mes attributions ;</li>
          <li>ne divulguer ces données qu'aux personnes dûment autorisées, en raison de leurs fonctions, à en recevoir communication, qu'il s'agisse de personnes privées, publiques, physiques ou morales ;</li>
          <li>ne faire aucune copie de ces données sauf à ce que cela soit nécessaire à l'exécution de mes fonctions ;</li>
          <li>prendre toutes les mesures conformes aux usages et à l'état de l'art dans le cadre de mes attributions afin d'éviter l'utilisation détournée ou frauduleuse de ces données ;</li>
          <li>prendre toutes précautions conformes aux usages et à l'état de l'art pour préserver la sécurité physique et logique de ces données ;</li>
          <li>m'assurer, dans la limite de mes attributions, que seuls des moyens de communication sécurisés seront utilisés pour transférer ces données ;</li>
          <li>en cas de cessation de mes fonctions, restituer intégralement les données, fichiers informatiques et tout support d'information relatif à ces données.</li>
      </ul><br/>
      Cet engagement de confidentialité, en vigueur pendant toute la durée de mes fonctions, demeurera effectif, sans limitation de durée après la cessation de mes fonctions, quelle qu'en soit la cause, dès lors que cet engagement concerne l'utilisation et la communication de données à caractère personnel.<br/>
      J'ai été informé(e) que toute violation du présent engagement m'expose à des sanctions disciplinaires et pénales conformément à la réglementation en vigueur, notamment au regard des articles 226-16 à 226-24 du code pénal.<br/>
<br/>
      <b>J'accepte sans aucune réserve les conditions ci-dessus.</b><br/>


  </p>

  {% if current_user.confidentiality_agreement_signature_date == None %}
          <form action="#" method="post"><br/><br/>
              <input type="submit" name="" value="SIGNER" class="button button-primary">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </form>
  {% else %}
          <p><br/><em>Charte signée par <b>{{current_user.full_name()}}</b> le <b>{{current_user.confidentiality_agreement_signature_date.strftime("%d/%m/%Y à %H:%M")}}</b></em></p>
  {% endif %}

</div>

{% endblock %}
