
{% extends 'base.html' %}

{% block additionalhead %}
  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/event/edit.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/event/edit.css') }}">

  {# DateTime picker#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css') }}">
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>

  {# Wysiwyg Editor #}
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Rédaction d'activité{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="eventedit">
  <!-- Logging Windows -->
  <h3>Rédaction d'activité</h3>
  <form
        action=""
        method="POST"
        onsubmit="document.querySelector('textarea[name=description]').value= JSON.stringify(quill.getContents())"
        enctype="multipart/form-data"
  >
    <h4>Informations</h4>
     <label for="title">Titre : </label> {{ form.title(size=200) }}<br/>
     <label for="type">Type : </label> {{ form.type }}<br/>
     <label for="status">État : </label> {{ form.status }}<br/>
     <label for="num_slots">Nombre de participants : </label> {{ form.num_slots(size=4) }}<br/>
     <label for="shortdescription">Dénivelé, difficulté, cotation : </label> {{ form.shortdescription(size=99) }}<br/>

    <div class="dates">
      <h4>Dates</h4>
      <span class="datetimepicker" id="datetimepickerstart"><label for="start" onchange="copyStartDate();">Date et heure de rendez-vous : </label>{{ form.start(onchange="copyStartDate()")}}</span>
      <span class="datetimepicker" id="datetimepickerend"><label for="end" >Date de fin : </label>{{ form.end }}</span>
    </div>

    <div class="dates">
      <h4>Inscriptions par internet</h4>
      <label for="num_online_slots">Nombre de participants internet : </label> {{ form.num_online_slots(size=4) }}<br/>
      <span class="datetimepicker" id="datetimepicker_open"><label for="registration_open_time" >Ouverture des inscriptions : </label>{{ form.registration_open_time}}</span>
      <span class="datetimepicker" id="datetimepicker_close" ><label for="registration_close_time" >Fermeture des inscriptions : </label>{{ form.registration_close_time }}</span>
    </div>

    <h4>Description</h4>
    <div id="editor"></div>
    {{ form.description(style="display:none;", required=false) }}<br/>
    <label for="photo_file">Image de présentation : <br/>&#9432; Max 2MB. Photo uniquement </label> {{ form.photo_file }} <br/>
    <br/>
    {{ form.hidden_tag() }}
     <br/><input type="submit" value="Enregistrer"  />
  </form>
</div>
<script>
tail.DateTime("input[type=datetime]",{
    weekStart: 1
});
var quill = new Quill('#editor', {
  theme: 'snow'
});

quill.setContents(JSON.parse(document.querySelector('textarea[name=description]').defaultValue));
</script>

{% endblock %}
