
{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/event/edit.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/event/edit.css') }}">

  {# DateTime picker#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css') }}">
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Wysiwyg Editor #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Rédaction d'activité{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="eventedit">
  <!-- Logging Windows -->
  <h3>Rédaction d'activité</h3>
  <ul class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}
    <li>
      <strong>Erreur: {{field.label}}:</strong> {{error}}
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
  <form
        action="{{ action }}"
        method="POST"
        onsubmit="document.querySelector('textarea[name=description]').value=simplemde.value()"
        enctype="multipart/form-data"
  >

    {# We want to make sure pressing 'Enter' submits the whole form #}
    {# For this add a hidden submit button before 'update_leaders' #}
    {{form.save_all(id="hidden_save_all", style="visibility:hidden;position:absolute;") }} 

    <h4>Activité et encadrants</h4>
      {{form.update_activity(value=0)}}
     
      <label for="type">Activité : </label> {{ form.type(onchange="javascript:updateActivity(this)") }}<br/>
      <fieldset>
      <legend>Encadrants:</legend>

      <div id="encadrement">
        {% for action in form.leader_actions %}
          {% with user = form.current_leaders[loop.index0]%}
          <div class="useractionmenu">
            {% with leader_info=True %}
              {{ macros.usericon(user, leader_info, user_info) }}
            {% endwith %}
            <br/>
            <div class="inline_field">
              {{action.leader_id}}  
              {% if form.can_remove_leader(event, user)  %}
                <button class="button delete"  name="{{action.delete.name}}" onclick="javascript:removeRequiredAttributes();" value="y">
                  <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-trash-white.svg') }}"/>
                  Supprimer
                </button>
              {% endif %}
              {{ form.main_leader_fields[loop.index0](onchange="javascript:updateLeaders(this);") }}
              {{ form.main_leader_fields[loop.index0].label }}
            </div>
          </div>
          {% endwith %}
        {% endfor %}
      </div>
      <div>
        {{ form.add_leader.label }}
        {{ form.add_leader(title=form.add_leader.description, onchange="javascript:updateLeaders(this);") }}<br />
      </div>
      {{ form.update_leaders(value=0) }}
    </fieldset>
    
    <h4>Informations</h4>
     <label for="title">Titre : </label> {{ form.title(size=200) }}<br/>
     <label for="status">État : </label> {{ form.status }}<br/>
     <label for="num_slots">Nombre de participants : </label> {{ form.num_slots(size=4) }}<br/>

    <div class="dates">
      <h4>Dates</h4>
      <div class="datetimepicker" id="datetimepickerstart"><label for="start">Date et heure de rendez-vous : </label>{{ form.start(onchange="copyStartDate(); checkDateOrder();")}}</div>
      <div class="datetimepicker" id="datetimepickerend"><label for="end" >Date de fin : </label>{{ form.end(onchange="checkDateOrder();") }}</div>
      <span id="starts_before_ends_error" class="date_error"><br/>
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"  alt="Attention: "/>
          L'événement doit commencer avant de se terminer.
      </span>
    </div>

    <div class="dates">
      <h4>Inscriptions par internet</h4>
      <label for="num_online_slots">Nombre de participants internet : </label> {{ form.num_online_slots(size=4) }}<br/>
      <div class="datetimepicker" id="datetimepicker_open"><label for="registration_open_time" >Ouverture des inscriptions : </label>{{ form.registration_open_time(onchange="checkDateOrder();")}}</div>
      <div class="datetimepicker" id="datetimepicker_close" ><label for="registration_close_time" >Fermeture des inscriptions : </label>{{ form.registration_close_time(onchange="checkDateOrder();") }}</div>
      <span id="halfregistration" class="date_error"><br/>
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"  alt="Attention: "/>
          Vous devez définir le début et la fin des inscriptions.
      </span>
      <span id="closes_before_starts_error" class="date_error"><br/>
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"  alt="Attention: "/>
          Les inscriptions par internet doivent se terminer avant le début de l'événement
      </span>
      <span id="opens_before_closes_error" class="date_error"><br/>
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"  alt="Attention: "/>
          Les inscriptions par internet doivent débuter avant de se terminer.
      </span>
    </div>

    <h4>Description</h4>
    <div id="editor">
    {{ form.description }}
    </div>
    <label for="photo_file">Image de présentation : <br/>&#9432; Photo uniquement, d'une taille maximum de 2Mo</label> {{ form.photo_file(onchange="checkFileFieldSize(this)") }} <br/>
    <br/>
    {{ form.hidden_tag() }}
     <br/>{{ form.save_all }}
  </form>
</div>
<script>
function updateActivity(element)
{
    document.getElementById('update_activity').value=1; 
    element.form.submit();
}
function updateLeaders(element)
{
    document.getElementById('update_leaders').value=1; 
    element.form.submit();
}

document.querySelectorAll("input[type=datetime]").forEach(function(input){
                var datepicker = tail.DateTime(input,{
                    animate: false,
                    weekStart: 1,
                    locale: "fr",
                    timeStepMinutes: 15,
                    timeSeconds: false,
                    closeButton: false,
                    startOpen: true,
                    stayOpen: true, 
                    position: "#"+input.parentElement.id,
                    classNames:"form-tail-datetime default",
                });
});
var simplemde = makeEditor("description");
</script>

{% endblock %}
