
{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  {# DateTime picker#}
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css')}}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/event/edit.js') }}"></script>

  {# Wysiwyg Editor #}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

  {# Multi-select #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  {# Leader autocomplete #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>
  <script>

      window.onload = function () {
        const searchInput = document.getElementById('new-leader');
        setupAutoComplete(
          searchInput,
          '{{url_for("api.autocomplete_available_leaders", eid=form.current_leader_ids(), aid=form.leader_activity_ids()) | safe}}',
          function(item) {
            return item.full_name;
          },
          function(id, val) {
            var field = document.getElementById('{{form.add_leader.id}}');
            field.value = id;
            updateLeaders(field);
          }
          );

        const eventSearchInput = document.getElementById('parent-event-search');
        const parentEventId = document.getElementById('{{form.parent_event_id.id}}');
        setupAutoComplete(
          eventSearchInput,
          '{{url_for("api.autocomplete_event", aid=form.leader_activity_ids(), eid=[event.id]) | safe}}',
          function(item) {
            return formatParentEvent(item.id, item.title, item.start) ;
          },
          function(id, val) {
            parentEventId.value = id;
          }
          );

         eventSearchInput.addEventListener('change', function(event) {
            if(!event.target.value) {
              var field = document.getElementById('{{form.parent_event_id.id}}');
              parentEventId.value = "";
            }
         });

         {% if form.parent_event %}
            eventSearchInput.value = formatParentEvent("{{form.parent_event.id}}", "{{form.parent_event.title}}", "{{form.parent_event.start}}");
         {% endif %}
      };
  </script>

{% endblock %}

{% block header %}
  <h1>{% block title %}Rédaction d'activité{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="eventedit">
  <!-- Logging Windows -->
  <h3>Rédaction d'activité</h3>
  <div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}
    <div class="flash flash-error">
      <strong>Erreur : {{field.label}} :</strong> {{error}}
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <form
        action="{{ action }}"
        method="POST"
        onsubmit="document.querySelector('textarea[name=description]').value=easymde.value()"
        enctype="multipart/form-data"
        class="form"
        id="form_edit_event"
  >

    {# We want to make sure pressing 'Enter' submits the whole form #}
    {# For this add a hidden submit button before 'update_leaders' #}
    {{form.save_all(id="hidden_save_all", style="visibility:hidden;position:absolute;") }}

    <h4>Activité et encadrants</h4>
    <div class="controls">
      {{form.update_activity(value=0)}}
      <div class="inline_field">
         {{form.multi_activities_mode(onchange="javascript:updateActivity(this)") }}
         {{form.multi_activities_mode.label}}
      </div>
    </div>
    <div class="controls">
      {% if form.multi_activities_mode.data %}
        <label for="{{form.types.id_for_label}}">Activités:</label> {{form.types(class="choices")}}
      {% else %}
        <label for="{{form.type.id_for_label}}">Activités:</label> {{ form.type(onchange="javascript:updateActivity(this)") }}
      {% endif %}
    </div>
      <fieldset>
      <legend>Encadrants :</legend>

      <div id="encadrement">
        {% for action in form.leader_actions %}
          {% with user = form.current_leaders[loop.index0]%}
          <div class="useractionmenu">
            {% with leader_info=True %}
              {{ macros.usericon(user, leader_info, user_info) }}
            {% endwith %}

            <div class="inline_field">
              {{action.leader_id}}
              {% if form.can_remove_leader(event, user)  %}
                <button class="button button-danger delete"  name="{{action.delete.name}}" onclick="javascript:removeRequiredAttributes();" value="y">
                  <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-trash.svg') }}"/>
                  Supprimer
                </button>
              {% endif %}
              {{ form.main_leader_fields[loop.index0](onchange="javascript:updateLeaders(this);") }}
              {{ form.main_leader_fields[loop.index0].label }}
            </div>
          </div>
          {% endwith %}
        {% endfor %}
      </div>
      <div class="controls">
        {{ form.add_leader.label }}
        <input type="text" id="new-leader" placeholder="Nom…">
        {{ form.add_leader(value=0) }}
      </div>
      {{ form.update_leaders(value=0) }}
    </fieldset>

    <h4>Informations</h4>
    <div class="controls">
      <label for="title">Titre : </label> {{ form.title(size=200) }}
    </div>
    <div class="controls">
      <label for="status">État : </label> {{ form.status }}
    </div>
    <div class="controls">
      <label for="num_slots">Nombre de participants : </label> {{ form.num_slots(size=4) }}
    </div>

    <div class="dates">
      <h4>Dates</h4>

      <div class="controls">
        <div class="datetimepicker" id="datetimepickerstart"><label for="start">Date et heure de rendez-vous : </label>{{ form.start(onchange="copyStartDate(); checkDateOrder();")}}</div>
        <div class="datetimepicker" id="datetimepickerend"><label for="end" >Date et heure de fin : </label>{{ form.end(onchange="checkDateOrder();") }}</div>
        <span id="starts_before_ends_error" class="date_error flash flash-error">
            L'événement doit commencer avant de se terminer.
        </span>
      </div>

    </div>

    <div class="dates">
      <h4>Inscriptions par internet</h4>
      <div class="controls">
        <label for="num_online_slots">Nombre de participants internet : </label> {{ form.num_online_slots(size=4) }}
      </div>
      <div class="controls">
        <div class="datetimepicker" id="datetimepicker_open"><label for="registration_open_time" >Ouverture des inscriptions : </label>{{ form.registration_open_time(onchange="checkDateOrder();")}}</div>
        <div class="datetimepicker" id="datetimepicker_close" ><label for="registration_close_time" >Fermeture des inscriptions : </label>{{ form.registration_close_time(onchange="checkDateOrder();") }}</div>
      </div>
      <span id="halfregistration" class="date_error flash flash-error">
          Vous devez définir le début et la fin des inscriptions.
      </span>
      <span id="closes_before_starts_error" class="date_error flash flash-error">
          Les inscriptions par internet doivent se terminer avant le début de l'événement
      </span>
      <span id="opens_before_closes_error" class="date_error flash flash-error">
          Les inscriptions par internet doivent débuter avant de se terminer.
      </span>
    </div>

    <h4>Restrictions d'inscription</h4>
    Restreindre les inscriptions aux participants de la collective:
    {{ form.parent_event_id }}
    <input type="text" id="parent-event-search" placeholder="Titre ou ID…">


    <h4>Description</h4>
    <div id="editor">
        {{ form.description }}
    </div>
    <div class="controls">
        <label for="photo_file">Image de présentation :<span class="label-help">&#9432; Photo uniquement, d'une taille maximum de 2Mo</span></label> {{ form.photo_file(onchange="checkFileFieldSize(this)") }}
    </div>
    <div class="controls">
        <label for="{{form.tag_list.id_for_label}}">Labels:</label>{{ form.tag_list }}
    </div>


    {{ form.hidden_tag() }}
    <div class="controls">
    {{ form.save_all(class="button button-primary") }}
    </div>
  </form>
</div>
<script>
function updateActivity(element)
{
    document.getElementById('update_activity').value=1;
    element.form.submit();
}
function updateLeaders(element)
{
    document.getElementById('update_leaders').value=1;
    element.form.submit();
}

document.querySelectorAll("input[type=datetime]").forEach(function(input){
                var datepicker = tail.DateTime(input,{
                    animate: false,
                    weekStart: 1,
                    locale: "fr",
                    {% if not event.id %}
                    timeHours: 0,
                    timeMinutes: 0,
                    {% endif  %}
                    timeStepMinutes: 15,
                    timeSeconds: false,
                    closeButton: false,
                    startOpen: true,
                    stayOpen: true,
                    position: "#"+input.parentElement.id,
                    classNames:"form-tail-datetime default",
                });
});
var easymde = makeEditor("description");

var activities_multiselect = document.getElementById("types");
if(activities_multiselect) {
  const choices = new Choices(activities_multiselect, {
    removeItemButton:true
  });
}
const labelsChoices = new Choices(document.getElementById("tag_list"), {
    maxItemCount: 3,
    removeItemButton:true
});

</script>

{% endblock %}
