
{% extends 'base.html' %}

{% block additionalhead %}
  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/event/event.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/event/event.css') }}">

{% endblock %}

{% block header %}
  <h1>{% block title %} {{event.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel solidpanel" id="eventdetail">
  <h3>{{event.title}}</h3>
    <img class="photo" src="{% if event.photo %}{{ url_for('images.fit', filename=event.photo, width=600 ) }}{% endif %}"/>
    Encadrement par {{ ", ".join(event.leader_names()) }}.

    {% for atype in event.activity_types %}
      <img src="{{ url_for('static', filename= "caf/icon/"+ atype.short + '_60x60.png') }}" class="type" alt="[{{ atype.name }}]"/>
    {% endfor %}
    <h5 class="slots">
      Places:
      {% for i in range(0, event.num_slots) %}
          <img src="{{ url_for('static', filename='img/icon/ionicon/md-contact.svg') }}" class="icon freeslot"/>
      {% endfor %}
    </h5>
    <h5 class="">
      <b>Dénivelé, difficulté, cotation :</b>  {{event.shortdescription}}
    </h5>
    <h5> <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon"/>
      {{ event.start}}
      {% if event.start != event.end %}
          - {{event.end }}
      {% endif %}
    </h5>
    <div id="description" class="breaker">{{ event.rendered_description | safe  }}</div>

    <h5><a class="button" href="{{ url_for('event.manage_event', id=event.id)}}"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}"/> Editer</a></h5>
    
    <div>
      <h5> Liste des inscrits</h5>
      <ul>
      {% for registration in event.active_registrations() %}
        <li>{{registration.user.abbrev_name()}}</li>
      {% endfor %}
      </ul>
      
      {% if can_self_register %}
        <form action="{{url_for('event.self_register', id=event.id)}}" method="post">
          <input type="submit" value="S'inscrire" >
        </form>
      {% elif event.is_registered(current_user) %}
        <form action="{{url_for('event.self_unregister', id=event.id)}}" method="post">
          <input type="submit" value="Se désinsicrire" >
        </form>
      {% endif %}

    </div>


</div>


{% endblock %}
