
{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  {# Specific for this page #}

  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/event/event.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

  <script>
      window.onload = function () {
        const searchInput = document.getElementById('user-search');
        setupAutoComplete(
          searchInput,
          '{{url_for("api.autocomplete_users")}}',
          function(item) { return item.full_name; },
          function(id, val) { return onSelectAutocomplete(id, val);}
          )
      };
  </script>

{% endblock %}

{% block header %}
  <h1>{% block title %} {{event.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="eventdetail">

      {# Title / Photo / tags #}

      <h3>
          {% for atype in event.activity_types %}
              <span class="activity {{atype.short}} type"></span>
          {% endfor %}

        {% if not event.is_confirmed() %}
          <span class="event-status">{{event.status_string()}}</span>&nbsp;
        {% endif %}
        {{event.title}}
      </h3>
      {% if event.tags %}
      <h5>
          {% for tag in event.tags %}
               <span class="activity s30px {{tag.short}}" title="{{tag.name}}" ></span> {{tag.name}}
          {% endfor %}
          <br/><br/>
      </h5>
      {% endif %}

      <h5 class="date"> <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon"/>
        {{ format_datetime_range(event.start, event.end) | capitalize}}
      </h5>


    <img class="photo" src="{% if event.photo %}{{ url_for('images.fit', filename=event.photo, width=800 ) }}{% endif %}"/>


    {# Leaders #}

    <div id="encadrement">
      <h5>Encadrement</h5>
      <div class="userlist">
      {% for user in event.ranked_leaders() %}
        {% with leader_info=True %}
          {{ macros.usericon(user, leader_info, user_info) }}
        {% endwith %}
      {% endfor %}

      {% if event.coleaders() | length %}
        <h5>Co-encadrants en formation</h5>
        {% for registration in event.coleaders() %}
          <div class="useractionmenu">
            {% with user = registration.user, user_info = event.has_edit_rights(current_user) %}
              {{ macros.usericon(user, leader_info, user_info) }}
            {% endwith %}

            {% if event.has_edit_rights(current_user) %}
            <div class="popover">
              <form class="update" action="{{url_for('event.change_registration_level', reg_id=registration.id, reg_level=registration.level.Normal)}}" method="post" onclick="this.submit();">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                Enlever des co-encadrants
              </form>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>

    {# Active registrations and self-register #}

    <div class="subscriptions">
      <h5> Inscrits {{event.num_taken_slots()}} / {{event.num_slots}}
          {% if event.num_pending_registrations() > 0 %}
            (dont {{event.num_pending_registrations()}} en attente)
          {% endif %}

          {% if not event.has_free_slots() %}
            <span class="tag red">COMPLET</span>
          {% endif %}
      </h5>
      {% if event.is_registered(current_user) %}
        {% if event.is_rejected(current_user)%}
          <p>Votre inscription a été refusée.</p>
        {% elif event.has_pending_payment(current_user) %}
          <p>Votre inscription est en attente de paiement.
          <ul>
          {% for r in event.existing_registrations(current_user) %}
            {% if r.is_pending_payment() %}
              {% for payment in r.unsettled_payments() %}
                <li><a href="{{url_for('payment.request_payment', payment_id=payment.id)}}">Procéder au paiement de '{{payment.item.title}} -- {{payment.price.title}}'</a></li>
              {% else %}
                {# No pending payments, propose to choose item and price #}
                {% with registration=r %}
                  {% include 'partials/event/payment_item_choice.html' %}
                {% endwith %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          </ul></p>
        {% else %}
          {% if not current_user.check_license_valid_at_time(event.end) %}
          <form action="{{url_for('profile.force_user_sync')}}" method="post" id="refresh_extranet">
            <p>
              Votre licence va expirer avant la fin de l'événement; votre demande d'inscription a été prise en compte, mais ne sera confirmée qu'une fois le renouvellement effectif.
              Si vous venez de renouveller votre licence, merci de resynchroniser vos informations FFCAM via le bouton ci-dessous. <br />
              <button type="submit" class="button button-secondary">
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}"/> Resynchroniser mes informations FFCAM
              </button>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </p>
          </form>
          {% endif %}

          {% if current_time < event.start %}
          <form action="{{url_for('event.self_unregister', event_id=event.id)}}" method="post"   class="selfunregister">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <a class="button button-secondary" onclick="if(confirm(unregister_message)) this.parentNode.submit()"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-exit.svg') }}"/> Se désinscrire</a>
          </form><br/><br/>
          {% endif %}
        {% endif %}
      {% elif event.parent_event %}
          Les inscriptions en ligne sont restreintes aux participants à la collective
          <a href="{{url_for('.view_event', event_id=event.parent_event.id)}}">{{event.parent_event.title}}</a>
          {% if event.is_user_registered_to_parent_event(current_user) %}
            dont vous faites partie.
          {% else %}
            dont vous ne faites pas partie.
          {% endif %}
      {% endif %}

      {% for registration in event.active_normal_registrations() %}
          <div class="useractionmenu">
            {% with user = registration.user, user_info = event.has_edit_rights(current_user) %}
              {{ macros.usericon(user, leader_info, user_info) }}
            {% endwith %}

            {% if event.has_edit_rights(current_user) %}
            <div class="popover">
              <form class="delete" action="{{url_for('event.reject_registration', reg_id=registration.id)}}" method="post" onclick="if(confirm('Vous êtes en passe de refuser l\'inscripton d`un adhérent à votre sortie. Il recevra un mail de notification. Confirmez-vous le refus?')) this.submit()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                Refuser
              </form>
              {% if event.can_be_coleader(registration.user) %}
                <form class="update" action="{{url_for('event.change_registration_level', reg_id=registration.id, reg_level=registration.level.CoLeader)}}" method="post" onclick="this.submit();">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  Co-encadrant en formation
                </form>
              {% endif %}
            </div>
            {% endif %}
          </div>
      {% endfor %}

     {# Pending registrations #}
      {% if event.has_edit_rights(current_user) %}
        {% for registration in event.registrations if registration.is_pending_renewal() %}
            <div class="useractionmenu">
              {% with user = registration.user, user_info = True, is_pending_renewal = True %}
                {{ macros.usericon(user, leader_info, user_info, is_pending_renewal) }}
              {% endwith %}

              <div class="popover">
                <form class="delete" action="{{url_for('event.reject_registration', reg_id=registration.id)}}" method="post" onclick="if(confirm('Vous êtes en passe de refuser l\'inscripton d`un adhérent à votre sortie. Il recevra un mail de notification. Confirmez-vous le refus?')) this.submit()">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  Refuser
                </form>
              </div>
            </div>
        {% endfor %}
      {% endif %}


        {% if event.can_self_register(current_user, current_time) %}
        {% include 'partials/event/self_register.html' %}
        {% elif not event.is_confirmed() %}
        <p>Inscriptions indisponibles actuellement.</p>
        {% elif not event.has_free_online_slots() %}
        <p>Le nombre maximum d'inscrits par internet a été atteint.</p>
        {% elif current_time < event.registration_open_time %}
        <p>Inscriptions possibles à partir du {{format_date(event.registration_open_time)}} à {{format_time(event.registration_open_time)}}.</p>
        {% elif current_time > event.registration_close_time %}
        <p>Les inscriptions sont closes.</p>
        {% endif %}
    </div>


    {# Payment-pending registrations #}

    {% if event.requires_payment()  and event.has_edit_rights(current_user) and event.num_pending_registrations() > 0 %}
    <div class="administration">
      <h4>Inscriptions en attente de paiement</h4>
      <ul>
      {% for registration in event.registrations if registration.is_pending_payment() %}
        {{ macros.registration_admin_list_item(registration) }}
      {% else %}
        <li>Aucune inscription en attente de paiement.</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}


    <div id="description" class="breaker">{{ event.rendered_description | safe  }}</div>

    {# Administration #}

    {% if event.has_edit_rights(current_user) %}
      <div class="administration">
      <h4>Administration</h4>

      <div>
          <a class="button button-secondary" href="{{ url_for('event.manage_event', event_id=event.id)}}">
              <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}"/>
              Editer
          </a>

          <a class="button button-secondary" href="{{ url_for('event.duplicate', event_id=event.id)}}">
              <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-copy.svg') }}"/>
              Dupliquer
          </a>

          <a class="button button-secondary" target="_blank" href="{{ url_for('event.print_event', event_id=event.id)}}">
            <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-exit.svg') }}"/>
            Fiche collective
          </a>

          {% if current_user.can_create_events() %}
          <a href="{{url_for('reservation.register', event_id=event.id, role_id=10)}}" class="button button-secondary">
            <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon" />
            Réserver du matériel en tant qu'encadrant
          </a>
          {% endif %}

          {% if event.has_delete_rights(current_user) and not event.has_payments() %}
            <form class="inline" action="{{url_for('event.delete_event', event_id=event.id)}}" method="post" onsubmit="return confirm('Confirmation de la suppression ?')">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" class="button button-danger">
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-trash.svg') }}"/>
                Supprimer
              </button>

            </form>
          {% endif %}

          {% if config["PAYMENTS_ENABLED"] %}
            <br>
            <a class="button button-secondary" href="{{ url_for('payment.edit_prices', event_id=event.id)}}">
              <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}"/>
              Gestion des tarifs
            </a>

            {% if event.requires_payment() and event.has_payments() %}
              <a class="button button-secondary" href="{{ url_for('payment.list_payments', event_id=event.id)}}">
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}"/>
                Liste des paiements
              </a>
              {% if config["REFUND_ENABLED"] %}
                <form class="inline" action="{{url_for('payment.refund_all', event_id=event.id)}}" method="post" onsubmit="return confirm('Confirmer le remboursement de tous les inscrits ayant fait un paiment en ligne ? Les inscriptions correspondantes ne seront pas supprimées.')">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <button type="submit" class="button button-danger">
                    <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}"/>
                    Tout rembourser
                  </button>
                </form>
              {% endif %}
            {% endif %}
          {% endif %}

        </div>
      <h5>Coordonnées du groupe</h5>
      {% if current_user.has_signed_ca() %}
          <div class="contactinfos">
              <p class="inputGrow">
                  <label for="phonelist">
                      Liste téléphonique :
                  </label>
                  <input type="text"
                         value="{{ event.active_registrations() | map(attribute='user') | map(attribute='phone') | select | join(', ') }}"
                         id="phonelist"
                         readonly
                         class="grow"
                         />
                   <input type="button" value="Copier" onclick="copyToClipboard('phonelist' )">
                   {%if isMobileUser() %}
                       <input type="button" value="Message" onclick="document.location.href='sms:' + document.getElementById('phonelist').value">
                   {% endif %}

              </p>
               <p class="inputGrow">
                  <label>
                      Liste d'email :
                  </label>
                  <input type="text"
                         value="{{ event.active_registrations() | map(attribute='user') | map(attribute='mail') | join('; ') }}"
                         id="maillist"
                         readonly
                         class="grow"
                         />
                  <input type="button" value="Copier" onclick="copyToClipboard('maillist')">
                  <input type="button" value="Message" onclick="document.location.href='mailto:' + document.getElementById('maillist').value">
                </p>
          </div>
      {% else %}
          <p>
              Vous ne pouvez pas voir les coordonnées des participants car vous n'avez pas signé la
              <a href="{{url_for('profile.confidentiality_agreement')}}">
                   <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}"  alt=""/>
                  Charte RGPD
              </a>
          </p>
      {% endif %}

      <h5> Inscrire un adhérent </h5>
      <form action="{{url_for('event.register_user', event_id=event.id)}}" id="user-search-form" method="POST" >
      <div id="user-search-data" class="form-search search-data">
        <p>
            <input id = "user-search"  autocomplete="off" class="search-input" placeholder="Nom…" >
        </p>
        {{ register_user_form.user_id(id = 'user-search-resultid', type = 'hidden') }}
        {{ register_user_form.hidden_tag() }}
      </div>
      </form>

      <h5> Inscriptions refusées</h5>
      <ul>
      {% for registration in event.registrations if registration.is_rejected() %}
        <li>
          <a href="{{url_for('profile.show_user', user_id=registration.user.id)}}">{{registration.user.full_name()}}</a>
          <form class="inline" action="{{url_for('event.delete_registration', reg_id=registration.id)}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" class="button button-danger button-small" value="Supprimer" >
          </form>
        </li>
      {% else %}
        <li>Aucune inscription refusée.</li>
      {% endfor %}
      </ul>

    </div> <!-- .administration -->
    {% endif %}

    {# Accountant space #}

    {% if config["PAYMENTS_ENABLED"] and current_user.is_accountant()  %}
    <div class="administration">
    <h4>Comptabilité</h4>
    {% if event.requires_payment() %}
        <a class="button button-secondary" href="{{ url_for('payment.list_payments', event_id=event.id)}}">
          <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}"/>
          Liste des paiements
        </a>
    {% else %}
        Pas de paiement requis sur cette collective
    {% endif %}
    </div>
    {% endif %}
</div>


{% endblock %}
