
{% extends 'base.html' %}

{% block additionalhead %}
  <script src="{{ url_for('static', filename='js/event/edit.js') }}"></script>
  {# Wysiwyg Editor #}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-content" id="administration">
  <!-- Logging Windows -->
  <h3>{{ title }}</h3>

  <div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}
    <div class="flash flash-error">
      <strong>Erreur : {{field.label}}:</strong> {{error}}
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <div class="form-errors">
    {% for message in failed%}
    <div class="flash flash-error">{{message}}</div>
    {% endfor %}
  </div>


  <form action=""
        onsubmit="document.querySelector('textarea[name=description]').value= JSON.stringify(quill.getContents())"
        method="POST" enctype="multipart/form-data">

    {% for field in form %}
    {% if not ( field.type in [ "CSRFTokenField" , "SubmitField", "TextAreaField" ]) %}
    <div class="field">{{ field.label }}<span class="help">{{ field.description }}</span></div>
    {% if field.type == "FileField" %}
        {{ field(onchange="checkFileFieldSize(this)", title=field.description) }}
    {% else %}
        {{ field(title=field.description) }}
    {% endif %}
    {% endif %}
    {% endfor %}

    <h4>Squelette de description</h4>
    <br/>
    <div id="editor">
    {{ form.description }}
    </div>
    <br/>
    {{ form.hidden_tag() }}
     <br/><input type="submit" value="Importer" class="button button-primary"/>
    <h4>Description des colonnes</h4>
    <p>Le fichier doit être au format CSV. Les colonnes doivent être séparées par une virgule ','. La 1ère ligne doit contenir le titre des colonnes :</p>
    <ul>
    {% for (key, column) in config["CSV_COLUMNS"].items(): %}
        <li><p align="left"><b>{{ key }}</b>: {{ column["description"] }}{% if column["optional"] == 1 %} (<i>optionnel</i>{% if column["default"] %}, valeur par défaut: {{ column["default"]}}{% endif %}){% endif %}</p></li>
    {% endfor %}</ul>
    <br/>
  </form>
</div>
<script>
var easymde = makeEditor("description");
</script>

{% endblock %}
