
{% extends 'base.html' %}


{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}

{% block additionalhead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/activitylist.css') }}">
{% endblock %}

{% block content %}

<div id="activitylist" class="panel">

  <p class="action"><a href="{{url_for('add_activity')}}"><input type="button" value="Ajouter une activité"/></a></p>

{% for activity in activities %}
  <div class="activity">
    <img class="photo" src="{{ url_for('_uploads.uploaded_file', setname='photos', filename=activity.photo) }}"/>


    <h3>{{ activity.title}}</h3>
    <h4> <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon"/>
      {{ activity.start}}
      {% if activity.start != activity.end %}
          - {{activity.end }}
      {% endif %}
    </h4>
    <div class="slots">
      {% for i in range(0, activity.nbslots) %}
          <img src="{{ url_for('static', filename='img/icon/ionicon/md-contact.svg') }}" class="icon freeslot"/>
      {% endfor %}
    </div>

    <div>

    </div>
  </div>
{% endfor %}

</div>
{% endblock %}
