{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  <link href="https://unpkg.com/tabulator-tables@4.5.1/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.1/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  <script>
      var ajaxURL= '/api/leader/{{user.id}}/events';
  </script>
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block header %}
<h1>{% block title %} {{user.full_name()}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="eventdetail">
    <h3>{{user.full_name()}}</h3>
    
    <div><img src="{%   if user.avatar
                                    %}{{ url_for('images.crop', filename=user.avatar, width=200, height=200) }}{%
                        else
                                    %}{{ url_for('static', filename='img/icon/ionicon/md-person.svg')   }}{%
                        endif %}"
                alt="Avatar de l'utilisateur"
                class="avatar big float_right" />
    </div>
    
    <h4>Rôles</h4>
    <ul>
        {% for role in user.roles %}
        <li>{{role.name}}
            {% if role.activity_type %}
            pour l'activité <em>{{role.activity_type.name}}</em>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h4>Informations de contact</h4>
    <ul>
        <li><b>Email :</b> {{user.mail}}</li>
        <li><b>Téléphone :</b> {{user.phone}}</li>
    </ul>

    <h4>Sorties encadrées à venir</h4>
    <div id="eventstable">
    </div>

    <h4>Sorties encadrées effectuées</h4>
    <div id="pasteventstable">
    </div>
</div>

{% endblock %}
