{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://unpkg.com/moment@2.30.1/min/moment.min.js"></script>
  <script src="{{ url_for('api.models_to_js') }}"></script>

  <script>
      var ajaxURL= '/api/leader/{{user.id}}/events';
  </script>
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-content">
    <h1 class="heading-1">{{user.full_name()}}</h1>

    <div class="centeralign">
        <img src="{%   if user.avatar
                    %}{{ url_for('images.crop', filename=user.avatar, width=200, height=200) }}{%
            else
                    %}{{ url_for('static', filename='img/default/users/avatar-0'+ str(user.id % 6 + 1) +'.png')   }}{%
            endif %}"
        alt="Avatar de l'utilisateur"
        class="avatar big" />
    </div>

    <h4 class="heading-4">Rôles</h4>
    <ul>
        {% for role in user.roles %}
        <li>{{role.name}}
            {% if role.activity_type %}
            pour l'activité <em>{{role.activity_type.name}}</em>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h4 class="heading-4">Informations de contact</h4>
    <ul>
        <li><b>Email :</b> <a href="mailto:{{user.mail}}">{{user.mail}}</a></li>
        <li><b>Téléphone :</b> {{format_phones(user.phone)}}</li>
    </ul>

    <h4 class="heading-4">Sorties encadrées à venir</h4>
    <div id="eventstable" class="collectives-list">
    </div>

    <h4 class="heading-4">Sorties encadrées passées</h4>
    <div id="pasteventstable" class="collectives-list">
    </div>
</div>

{% endblock %}
