<h4>Identité</h4>
<p>
    <b>Club Alpin Français d'Annecy</b><br/>
    17 Rue du Mont Blanc<br/>
    74000 ANNECY<br/>
    Tél. 04 50 09 82 09<br/>
    <a href="mailto:secretariat@cafannecy.fr">secretariat@cafannecy.fr</a><br/>
<br/>
    Ouverture au public :<br/>
    <ul>
        <li>le mercredi de 15h à 19h</li>
        <li>le vendredi de 11h30 à 13h30 et de 17h30 à 20h30</li>
    </ul>
</p>


<h4>Mentions relatives à l'utilisation des cookies</h4>
<p>
    Un cookie est un petit fichier informatique qui permet de suivre les usagers lors de la visite d'un site internet.<br/>
    Sur ce site, les cookies ne sont utilisés que pour organiser l'accès aux fonctionnalités réservées aux membres (cookie de sessions)<br/>
    La durée de validité d'un cookie dans ce cadre est de 13 mois maximum, ou la durée de la session utilisateur.
</p>

<h4>Mentions relatives à l'utilisation de données personnelles</h4>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Conform&eacute;ment
&agrave; la loi sur le RGPD du 25 mai 2018, les donn&eacute;es
personnelles des adh&eacute;rents ayant un compte activ&eacute; sur
le site des collectives https://collectives.cafannecy.fr seront
utilis&eacute;es &agrave; plusieurs fins.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><b>Information
g&eacute;n&eacute;rales r&eacute;cup&eacute;r&eacute;es &agrave;
l&rsquo;activation de son compte</b></p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Les
donn&eacute;es personnelles pr&eacute;sentes sur le site des
collectives sont une copie de celles fournies lors de l&rsquo;adh&eacute;sion
au Club Alpin Fran&ccedil;ais d'Annecy. Elles sont stock&eacute;es au
niveau de la F&eacute;d&eacute;ration Fran&ccedil;aise des Clubs
Alpins et de Montagne, f&eacute;d&eacute;ration &agrave; laquelle le
club est affili&eacute;. <br/>
Elles sont modifiables dans l&rsquo;espace
personnel FFCAM de chaque adh&eacute;rent sur
<a href="https://extranet-clubalpin.com/mesinfos/">https://extranet-clubalpin.com/mesinfos/</a>
puis dans le menu &quot;Mes informations&quot;.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Une
fois les donn&eacute;es &agrave; jour sur le site de la FFCAM, elles
peuvent &ecirc;tre resynchronis&eacute;es &agrave; tout moment sur le
site des collectives, depuis le menu &ldquo;Profil adhérent&rdquo;.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Les
donn&eacute;es personnelles synchronis&eacute;es sont:</p>
<ul>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Nom</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Pr&eacute;nom</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Sexe</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Date
	de naissance</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Email</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Num&eacute;ro
	de t&eacute;l&eacute;phone</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Num&eacute;ro
	de licence FFCAM</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	En
	cas d&rsquo;accident</p>
	<ul>
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		qui
		pr&eacute;venir</p>
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		num&eacute;ro
		de t&eacute;l&eacute;phone de la personne &agrave; pr&eacute;venir</p>
	</ul>
</ul>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">L&rsquo;historique
des collectives &agrave; laquelle vous avez particip&eacute; sera
aussi &eacute;tabli.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Par
la suite, vos donn&eacute;es personnelles pourront &ecirc;tre
trait&eacute;es par:</p>
<ul>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	des
	encadrants proposant des sorties collectives</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	des
	responsables d&rsquo;activit&eacute; s&rsquo;assurant du bon
	d&eacute;roulement des collectives de son activit&eacute;</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	des
	mod&eacute;rateurs du site apportant support aux diff&eacute;rents
	utilisateurs</p>
</ul>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Toutes
ces
personnes auront accept&eacute; un &ldquo;<b>Acte
d&rsquo;engagement de confidentialit&eacute;</b>&rdquo;.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Les
donn&eacute;es seront utilis&eacute;es pour:</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<ol>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%"><u>Liste
	des p</u><u>ersonnes inscrites &agrave; une collective</u><br/>

	Pour chaque collective, sont affich&eacute;s le pr&eacute;nom et la
	1&egrave;re lettre du nom de chaque inscrit.<br/>
 Cette liste n&rsquo;est
	visible que pour un adh&eacute;rent ayant un compte activ&eacute;
	sur le site des collectives</p>
</ol>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<ol start="2">
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%"><u>A</u><u>cc&egrave;s
	aux donn&eacute;es </u><u>par</u><u>
	les encadrants </u><u>et
	responsables d&rsquo;activit&eacute;s</u><u><br/>
</u><span style="text-decoration: none">Une
	fois inscrit &agrave; une collective, l&rsquo;encadrant proposant
	cette collective aura </span><span style="text-decoration: none">pour
	chaque inscrit </span><span style="text-decoration: none">acc&egrave;s
	&agrave;:</span></p>
	<p align="left" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	</p>
</ol>
<ul>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Nom</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Pr&eacute;nom</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Email</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Num&eacute;ro
	de t&eacute;l&eacute;phone</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">En
	cas d&rsquo;accident:</p>
	<ul>
		<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">qui
		pr&eacute;venir</p>
		<li><p align="left" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		num&eacute;ro
		de t&eacute;l&eacute;phone de la personne &agrave; pr&eacute;venir</p>
	</ul>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	Historique
	des collectives r&eacute;alis&eacute;es<br/>
<br/>

	</p>
</ul>
<ol start="3">
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%"><u>E</u><u>nvoi
	d&rsquo;informations<br/>
</u><span style="text-decoration: none">Votre
	</span><span style="text-decoration: none">email
	et </span><span style="text-decoration: none">votre</span><span style="text-decoration: none">
	num&eacute;ro de t&eacute;l&eacute;phone pourront &ecirc;tre
	utilis&eacute;s par l&rsquo;encadrant pour vous joindre pour
	apporter des &eacute;ventuelles pr&eacute;cisions sur sa collective,
	</span><span style="text-decoration: none">annulation,
	etc.</span></p>
	<p align="left" style="margin-bottom: 0cm; line-height: 100%"></p>
</ol>
<p align="left" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="left" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%">
<u>Edition
d&rsquo;une fiche collective</u><br/>
Pour
chaque collective, un encadrant pourra &eacute;diter une fiche
imprimable
de
la collective qu&rsquo;il encadre. Sur cette fiche appara&icirc;tront:</p>
<ul>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Nom</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Pr&eacute;nom</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Email</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">Num&eacute;ro
	de t&eacute;l&eacute;phone</p>
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">En
	cas d&rsquo;accident:</p>
	<ul>
		<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">qui
		pr&eacute;venir</p>
		<li><p align="left" style="margin-bottom: 0cm; line-height: 100%">num&eacute;ro
		de t&eacute;l&eacute;phone de la personne &agrave; pr&eacute;venir</p>
	</ul>
</ul>
<p align="left" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<p align="left" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%">
<br/>

</p>
<ol start="4">
	<li><p align="left" style="margin-bottom: 0cm; line-height: 100%"><u>A</u><u>cc&egrave;s
	aux donn&eacute;es </u><u>des encadrants<br/>
</u><span style="text-decoration: none">L&rsquo;email
	et le num&eacute;ro de t&eacute;l&eacute;phone d&rsquo;un encadrant
	proposant une collective seront visibles depuis la page d&rsquo;une
	collective.</span></p>
</ol>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><b>Droits
de la personne concern&eacute;e</b></p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Chaque
adh&eacute;rent ayant un compte activ&eacute; sur le site des
collectives dispose d&rsquo;un droit d&rsquo;acc&egrave;s et de
rectification des donn&eacute;es personnelles le concernant:</p>
<ul>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Droit
	d&rsquo;information des donn&eacute;es &agrave; caract&egrave;re
	personnel qui
	sont collect&eacute;es aupr&egrave;s de la personne concern&eacute;e</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Droit
	d&rsquo;information sur les finalit&eacute;s du traitement</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Droit
	d&rsquo;information sur les destinataires auxquels les donn&eacute;es
	&agrave; caract&egrave;re personnel ont &eacute;t&eacute; ou seront
	communiqu&eacute;es</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Droit
	d&rsquo;information sur la dur&eacute;e de conservation des donn&eacute;es
	&agrave; caract&egrave;re personnel</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Droit
	&agrave; la rectification et &agrave; l&rsquo;effacement &laquo;droit
	&agrave; l&rsquo;oubli&raquo;</p>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	Limitation
	du traitement des donn&eacute;es</p>
</ul>
