{% extends 'base.html' %}

{% block content %}
<div class="page-content" id="legal">
    <h1 class="heading-1">Mentions légales</h1>

    {% if  current_user.is_authenticated  %}
        {% if current_user.has_signed_legal_text() %}
            <p>Vous avez accepté ces mentions légales le {{current_user.legal_text_signature_date.strftime("%d/%m/%Y à %H:%M")}}</p>
        {% else %}
            <form action="{{ url_for('root.legal_accept')}}" method="post">
                <div class="flex">
                      <div>{{ form.legal_accepted(title=form.legal_accepted.description) }}</div>
                      <div class="leftalign">{{ form.legal_accepted.label(class="leftalign") }}<span class="help">{{ form.legal_accepted.description }}</span></div>

                </div>
                <input type="submit" value="Accepter" class="button button-primary">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        {% endif %}
    {% endif %}

    {% if Configuration.GOOGLE_ANALYTICS_UA %}
        <p><input type="button" value="Panneau de gestion des cookies" class="button button-primary" onclick="tarteaucitron.userInterface.openPanel();"/> </p>
    {% endif %}

    {% include 'legal_text.html' %}

</div>

{% endblock %}
