{# ========= LEGAL TEXT VERSIONNING =============
    When a significant modification to the legal text has been made, please:
        - update the versionning manifest in this file
        - update the CURRENT_LEGAL_TEXT_VERSION  in config.py

    Versions are simple numbers without dots (eg v1 v2 v3 v4)

#}
<h4 class="heading-4">Versionnement des mentions légales:</h4>
<p>
    <ul>
        <li><b>v5</b> : (version actuelle) Ajout des CGUs.</li>
        <li><b>v4</b> : Ajout d'email de contact. Mise à jour de la façon dont les données sont mises à disposition. </li>
        <li><b>v3</b> : Mise à jour de <a href="#statistics">Mentions relatives à la réalisation de statistiques d'utilisation</a> </li>
        <li><b>v2</b> : Ajout de <a href="#statistics">Mentions relatives à la réalisation de statistiques d'utilisation</a> </li>
        <li><b>v1</b> : Document initial</li>
    </ul>
</p>

<h4 class="heading-4">Identité</h4>
    <p>
        {{markdown_to_html(Configuration.CLUB_IDENTITY) | safe}}
    </p>

<h4 id="statistics" class="heading-4">Conditions Générales d'Utilisation (CGU) du site</h4>
    <h5 class="heading-5">1. Acceptation des Conditions Générales d'Utilisation</h5>
    <p>L'utilisation du site implique l'acceptation pleine et entière des présentes conditions générales d'utilisation (CGU). Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>

    <h5 class="heading-5">2. Accès et Utilisation du Site</h5>
    <p>L'accès au site est gratuit. Toute utilisation abusive, frauduleuse ou portant atteinte à l'intégrité du site est interdite. Certaines parties du site sont réservées aux adhérents à jour de cotisation du Club, notamment les descriptions des événements.</p>

    <h5 class="heading-5">3. Absence de Garantie</h5>
    <p>Le site est fourni "en l'état" et sans aucune garantie, expresse ou implicite. Nous ne garantissons ni l'exactitude, ni la fiabilité, ni la disponibilité du site et de son contenu. Nous déclinons toute responsabilité en cas d'erreur, d'omission, d'indisponibilité, ou de tout préjudice résultant de son utilisation.

    <h5 class="heading-5">6. Interdiction de Récupération et d'Analyse Automatique des Données</h5>
    <p>Toute extraction, collecte ou analyse automatique des données du site sans autorisation préalable écrite est strictement interdite. Cette interdiction inclut, sans s'y limiter, le scraping, le data mining et toute autre technique similaire.</p>

    <h5 class="heading-5">7. Signalement des Failles de Sécurité</h5>
    <p>Les utilisateurs ayant identifié une faille de sécurité doivent en informer immédiatement l'administrateur du site sans en divulguer le contenu à des tiers.</p>

    <h5 class="heading-5">8. Limitation de Responsabilité</h5>
    <p>Nous ne pourrons être tenus responsables des dommages directs ou indirects causés par l'utilisation du site. L'utilisateur reconnaît utiliser le site à ses propres risques.</p>

    <h5 class="heading-5">9. Modification des CGU</h5>
    <p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés des changements par tout moyen approprié.</p>

    <h5 class="heading-5">10. Droit Applicable et Juridiction Compétente</h5>
    <p>Les présentes CGU sont régies par le droit en vigueur. En cas de litige, les tribunaux compétents seront ceux du lieu de notre siège social.</p>

<h4 class="heading-4">Mentions relatives à l'utilisation des cookies</h4>
    <p>Un cookie est un petit fichier informatique qui permet de suivre les usagers lors de la
    visite d'un site internet.<br/>
    Sur ce site, les cookies obligatoires ne sont utilisés que pour organiser l'accès aux fonctionnalités
    réservées aux membres (cookie de sessions), et pour enregistrer votre choix de gestion des cookies facultatifs.<br/>
    La durée de validité d'un cookie dans ce cadre est de 13 mois maximum, ou la durée de la session utilisateur.<br/>
    Nous pouvons aussi utiliser des cookies facultatifs pour la réalisation de statistiques d'utilisation. Plus
    d'information dans la section <a href="#statistics">Mentions relatives à la réalisation de statistiques d'utilisation</a>.
    </p>

<h4 class="heading-4">Mentions relatives à l'utilisation de données personnelles</h4>
    <p>Conformément
    au Règlement général sur la protection des données (RGPD) du 25 mai 2018, les données
    personnelles des adhérents ayant un compte activé sur
    ce site seront
    utilisées à plusieurs fins, strictement réservés à
    l'usage interne du {{Configuration.CLUB_NAME}}.
    </p>

     <!-- FIXME should be 1.1em -->
    <h5 class="heading-5">Information générales récupérées à l'activation de son compte</h5>

    <p>Les données personnelles présentes sur ce site peuvent être une copie de celles
        fournies lors de l'adhésion au {{Configuration.CLUB_NAME}}, ou directement fournies
        par l'utilisateur à son inscription sur ce site.
    </p>

    <p>
    Dans le cas où les informations sont celle fournies lors de l'adhésion au club, elles sont sauvegardées au niveau
    de la Fédération Française des Clubs Alpins et de Montagne, fédération à laquelle le club est
    affilié. <br/>
    Elles sont modifiables dans l'espace personnel FFCAM de chaque adhérent sur
    <a href="https://extranet-clubalpin.com/monespace/">https://extranet-clubalpin.com/monespace/</a>
    puis dans le menu «&nbsp;Mes informations&nbsp;».     Une fois les données à jour sur le site de la FFCAM, elles
    peuvent étre resynchronisées à tout moment sur le
    site des collectives, depuis le menu «&nbsp;Profil adhérent&nbsp;».
    </p>

    <p>
    Les données personnelles sont&nbsp;:</p>
    <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Sexe</li>
        <li>Date de naissance</li>
        <li>Email</li>
        <li>Numéro de téléphone</li>
        <li>Numéro de licence FFCAM</li>
        <li>En cas d'accident
            <ul>
                <li>qui prévenir</li>
                <li>numéro de téléphone de la personne à prévenir</li>
            </ul>
        </li>
    </ul>

    <p>L'historique des collectives à laquelle vous avez participé sera aussi établi.
    </p>

    <p>Par la suite, vos données personnelles pourront étre traitées par&nbsp;:
    </p>
    <ul>
        <li>des encadrants proposant des sorties collectives</li>
        <li>des responsables d'activité s'assurant du bon
        déroulement des collectives de son activité</li>
        <li> des modérateurs du site apportant support aux différents utilisateurs</li>
    </ul>

    <p>Toutes ces personnes auront accepté un «&nbsp;
    <b>Acte d'engagement de confidentialité</b>&nbsp;».
    </p>

    <p>Les données seront utilisées pour&nbsp;:</p>
    <ol>
        <li><u>Liste des personnes inscrites à une collective</u><br/>
        Pour chaque collective, sont affichés le prénom et la
        première lettre du nom de chaque inscrit.<br/>
        </li>
        <li><u>Accès aux données par les encadrants et responsables d'activités</u><br/>
        Une fois inscrit à une collective, l'encadrant proposant
        cette collective aura pour chaque inscrit accès à&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Email</li>
            <li>Numéro de téléphone</li>
            <li>Catégorie au sens FFCAM de l'adhérent afin de différencier mineurs et jeunes</li>
            <li>En cas d'accident
                <ul>
                    <li>qui prévenir</li>
                    <li>numéro de téléphone de la personne à prévenir</li>
                </ul>
            </li>
            <li>Historique des collectives réalisées</li>
        </ul>
        </li>
        <li><u>Envoi d'informations</u><br/>
        Votre email et votre numéro de téléphone pourront étre utilisés par l'encadrant pour vous
        joindre pour apporter des éventuelles précisions sur sa collective(changement d'horaire,
         annulation, etc.)
        </li>
        <li><u>Édition d'une fiche collective</u><br/>
        Pour chaque collective, un encadrant pourra éditer une fiche imprimable de la collective
        qu'il encadre. Sur cette fiche apparaîtront&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Email</li>
            <li>Numéro de téléphone</li>
            <li>En cas d'accident
                <ul>
                    <li>qui prévenir</li>
                    <li>numéro de téléphone de la personne à prévenir</li>
                </ul>
            </li>
        </ul>
        </li>
        <li><u>Accès aux données des encadrants</u><br/>
        L'email et le numéro de téléphone d'un encadrant proposant une collective seront visibles
        depuis la page d'une collective.
        </li>
        <li><u>Accès aux données liées aux réservations</u><br/>
        Une fois une réservation de matériel terminée, le personnel gérant le matériel aura accès à&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Numéro de licence</li>
            <li>Matériel contenu dans votre réservation</li>
            <li>Date de votre réservation</li>
            <li>Historique des réservations passées</li>
        </ul>
        </li>
    </ol>

<h5 class="heading-5">Droits de la personne concernée</h5>
    <p>Chaque adhérent ayant un compte activé sur ce site dispose d'un droit d'accès, de rectification ou de suppression des données
    personnelles le concernant&nbsp;:
    </p>
    <ul>
        <li> Droit d'information des données à caractère personnel qui sont collectées auprès de
        la personne concernée</li>
        <li>Droit d'information sur les finalités du traitement</li>
        <li>Droit d'information sur les destinataires auxquels les données
        à caractère personnel ont été ou seront communiquées</li>
        <li>Droit d'information sur la durée de conservation des données
        à caractère personnel</li>
        <li>Droit à la rectification ou à l'effacement «&nbsp;droit à l'oubli&nbsp;»</li>
        <li>Droit à la limitation du traitement des données</li>
    </ul>
    <p>Pour l'exercer, vous pouvez contacter l'adresse <a href="{{Configuration.SUPPORT_EMAIL}}">{{Configuration.SUPPORT_EMAIL}}</a>.</p>

    <h4 id="statistics" class="heading-4">Mentions relatives à la réalisation de statistiques d'utilisation</h4>
    <p>
        Google Analytics peut être utilisé pour les statistiques d'utilisation du site. La participation à ces statistiques est optionnelle
        et peut être configurée dans le <a href="" onclick="tarteaucitron.userInterface.openPanel();return false">Panneau de gestion des cookies</a>.
    </p>
    <p>
        Si vous accepter de participer à ces statistiques, Google Analytics pourra collecter et compiler des données vous concernant.
        Vous pouvez avoir plus d'information sur le site de <a href="https://policies.google.com/privacy">Google</a>, et sur
        le site de <a href="https://tarteaucitron.io/service/gajs/" >tarteaucitron</a>, le gestionnaire de consentement.
    </p>
