{% extends 'base.html' %}

{% block content %}
<div class="page-content" id="legal">
    <h3>Mentions légales</h3>

    {% if  current_user.is_authenticated  %}
        {% if current_user.has_signed_legal_text() %}
            <p>Vous avez accepté ces mentions légales le {{current_user.legal_text_signature_date.strftime("%d/%m/%Y à %H:%M")}}</p>
        {% else %}
            <form action="{{ url_for('root.legal_accept')}}" method="post">
                <div class="flex">
                      <div>{{ form.legal_accepted(title=form.legal_accepted.description) }}</div>
                      <div class="leftalign">{{ form.legal_accepted.label(class="leftalign") }}<span class="help">{{ form.legal_accepted.description }}</span></div>

                </div>
                <input type="submit" value="Accepter" class="button button-primary">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        {% endif %}
    {% endif %}

    {% if config['STATISTICS_ENABLED'] %}
        <h4>Gestion des cookies de statistiques</h4>
        <p>
            Le suivi statistique et anonyme des utilisateurs est détaillé <u><a href="#statistics" >ci-dessous</a></u>. Votre suivi est <b>{% if is_tracking_disabled() %}désactivé{% else %}activé{% endif %}</b>.
            <a class="button" href="{{ url_for('root.stat_cookie', status='agree' if is_tracking_disabled() else 'disagree' )}}">{{ 'Accepter' if is_tracking_disabled() else 'Refuser' }}</a>.
        </p>
    {% endif %}

    {% include 'legal_text.html' %}

</div>

{% endblock %}
