{# ========= LEGAL TEXT VERSIONNING =============
    When a significant modification to the legal text has been made, please:
        - update the versionning manifest in this file
        - update the CURRENT_LEGAL_TEXT_VERSION  in config.py

    Versions are simple numbers without dots (eg v1 v2 v3 v4)

#}
<h4>Versionnement des mentions légales:</h4>
<p>
    <ul>
        {% if config['STATISTICS_ENABLED'] %}
            <li><b>v2</b> : (version actuelle) Ajout de <a href="#statistiics">Mentions relatives à la réalisation de statistiques d'utilisation</a> </li>
        {% endif %}
        <li><b>v1</b> : Document initial</li>
    </ul>
</p>

<h4>Identité</h4>
    <p>
        <b>Club Alpin Français d'Annecy</b><br/>
        17 Rue du Mont Blanc<br/>
        74000 ANNECY<br/>
        Tél. 04 50 09 82 09<br/>
        <a href="mailto:secretariat@cafannecy.fr">secretariat@cafannecy.fr</a><br/>
        <br/>
        Informations générales sur le site internet du club
        <a href="https://www.cafannecy.fr/leclub/contacts">www.cafannecy.fr</a>
    </p>


<h4>Mentions relatives à l'utilisation des cookies</h4>
    <p>Un cookie est un petit fichier informatique qui permet de suivre les usagers lors de la
    visite d'un site internet.<br/>
    Sur ce site, les cookies ne sont utilisés que pour organiser l'accès aux fonctionnalités
    réservées aux membres (cookie de sessions).<br/>
    La durée de validité d'un cookie dans ce cadre est de 13 mois maximum, ou la durée de la session utilisateur.
    </p>

<h4>Mentions relatives à l'utilisation de données personnelles</h4>
    <p>Conformément
    au Règlement général sur la protection des données (RGPD) du 25 mai 2018, les données
    personnelles des adhérents ayant un compte activé sur
    le site des collectives https://collectives.cafannecy.fr seront
    utilisées à plusieurs fins, strictement réservés à
    l'usage interne du Club Alpin Français d'Annecy.
    </p>

     <!-- FIXME should be 1.1em -->
    <h5>Information générales récupérées à l'activation de son compte</h5>

    <p>
    Les données personnelles présentes sur le site des collectives sont une copie de celles
    fournies lors de l'adhésion au Club Alpin Français d'Annecy. Elles sont sauvegardés au niveau
    de la Fédération Française des Clubs Alpins et de Montagne, fédération à laquelle le club est
    affilié. <br/>
    Elles sont modifiables dans l'espace personnel FFCAM de chaque adhérent sur
    <a href="https://extranet-clubalpin.com/mesinfos/">https://extranet-clubalpin.com/mesinfos/</a>
    puis dans le menu «&nbsp;Mes informations&nbsp;».
    </p>

    <p>
    Une fois les données à jour sur le site de la FFCAM, elles
    peuvent étre resynchronisées à tout moment sur le
    site des collectives, depuis le menu «&nbsp;Profil adhérent&nbsp;».
    </p>
    <br/>

    <p>
    Les données personnelles synchronisées sont&nbsp;:</p>
    <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Sexe</li>
        <li>Date de naissance</li>
        <li>Email</li>
        <li>Numéro de téléphone</li>
        <li>Numéro de licence FFCAM</li>
        <li>En cas d'accident
            <ul>
                <li>qui prévenir</li>
                <li>numéro de téléphone de la personne à prévenir</li>
            </ul>
        </li>
    </ul>

    <br/>
    <p>L'historique des collectives à laquelle vous avez participé sera aussi établi.
    </p>

    <br/>
    <p>Par la suite, vos données personnelles pourront étre traitées par&nbsp;:
    </p>
    <ul>
        <li>des encadrants proposant des sorties collectives</li>
        <li>des responsables d'activité s'assurant du bon
        déroulement des collectives de son activité</li>
        <li> des modérateurs du site apportant support aux différents utilisateurs</li>
    </ul>

    <br/>
    <p>Toutes ces personnes auront accepté un «&nbsp;
    <b>Acte d'engagement de confidentialité</b>&nbsp;».
    </p>

    <br/>
    <p>Les données seront utilisées pour&nbsp;:</p>
    <ol>
        <li><u>Liste des personnes inscrites à une collective</u><br/>
        Pour chaque collective, sont affichés le prénom et la
        première lettre du nom de chaque inscrit.<br/>
        Cette liste n'est visible que pour un adhérent ayant un compte activé
        sur le site des collectives.
        </li>
        <li><u>Accès aux données par les encadrants et responsables d'activités</u><br/>
        Une fois inscrit à une collective, l'encadrant proposant
        cette collective aura pour chaque inscrit accès à&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Email</li>
            <li>Numéro de téléphone</li>
            <li>Catégorie au sens FFCAM de l'adhérent afin de différencier mineurs et jeunes</li>
            <li>En cas d'accident
                <ul>
                    <li>qui prévenir</li>
                    <li>numéro de téléphone de la personne à prévenir</li>
                </ul>
            </li>
            <li>Historique des collectives réalisées</li>
        </ul>
        </li>
        <li><u>Envoi d'informations</u><br/>
        Votre email et votre numéro de téléphone pourront étre utilisés par l'encadrant pour vous
        joindre pour apporter des éventuelles précisions sur sa collective(changement d'horaire,
         annulation, etc.)
        </li>
        <li><u>Édition d'une fiche collective</u><br/>
        Pour chaque collective, un encadrant pourra éditer une fiche imprimable de la collective
        qu'il encadre. Sur cette fiche apparaîtront&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Email</li>
            <li>Numéro de téléphone</li>
            <li>En cas d'accident
                <ul>
                    <li>qui prévenir</li>
                    <li>numéro de téléphone de la personne à prévenir</li>
                </ul>
            </li>
        </ul>
        </li>
        <li><u>Accès aux données des encadrants</u><br/>
        L'email et le numéro de téléphone d'un encadrant proposant une collective seront visibles
        depuis la page d'une collective.
        </li>
        <li><u>Accès aux données liées aux réservations</u><br/>
        Une fois une réservation de matériel passée, le personnel gérant le matériel aura accès à&nbsp;:
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Numéro de license</li>
            <li>Matériel contenu dans votre réservation</li>
            <li>Date de votre réservation</li>
            <li>Historique des réservations passées</li>
        </ul>
        </li>
    </ol>

<h5>Droits de la personne concernée</h5>
    <p>Chaque adhérent ayant un compte activé sur le site des
    collectives dispose d'un droit d'accès, de rectification ou de suppression des données
    personnelles le concernant&nbsp;:
    </p>
    <ul>
        <li> Droit d'information des données à caractère personnel qui sont collectées auprès de
        la personne concernée</li>
        <li>Droit d'information sur les finalités du traitement</li>
        <li>Droit d'information sur les destinataires auxquels les données
        à caractère personnel ont été ou seront communiquées</li>
        <li>Droit d'information sur la durée de conservation des données
        à caractère personnel</li>
        <li>Droit à la rectification ou à l'effacement «&nbsp;droit à l'oubli&nbsp;»</li>
        <li>Droit à la limitation du traitement des données</li>
    </ul>

    {% if config['STATISTICS_ENABLED'] %}
    <h4 id="statistics">Mentions relatives à la réalisation de statistiques d'utilisation</h4>
        <p>
            Conformément au Règlement général sur la protection des données (RGPD) du 25 mai 2018,
            les données personnelles des visiteurs du site ne sont pas enregistrées. Pour la réalisation de
            statistiques d'utilisation du site, chaque requête est enregistrée avec ces données:
        </p>

        <ul>
            <li><b>response_time :</b>	Le temps du serveur à générer la requête</li>
            <li><b>date :</b>	La date de la requête</li>
            <li><b>method :</b>	La méthode HTTP de la requête</li>
            <li><b>size :</b>	La taille de la réponse de la requête</li>
            <li><b>status_code :</b>	Le code de retour HTTP de la requête</li>
            <li><b>user_agent :</b>	Le User-Agent de la requête</li>
            <li><b>remote_address :</b>	L’IP anonymisée de la requête (masquage des deux derniers octets)</li>
            <li><b>exception :</b>	L’erreur éventuelle de la requête</li>
            <li><b>referrer :</b>	Le lien qui a renvoyé vers la page de la requête</li>
            <li><b>browser :</b>	Le type de client du visiteur</li>
            <li><b>platform :</b>	La plateforme du client du visiteur</li>
            <li><b>mimetype :</b>	Le Mime type de la requête</li>

        </ul>

        <p>
            Ces données ne sont collectées que pour améliorer le service. Elles ne sont à destination que des équipes du site et ne sont pas communiquées à des tiers.
        </p>
        <p>
            Vous pouvez désactiver les statistiques grâce au bouton en début de page. Votre choix est conservé pendant 1 an et est rattaché au navigateur (cookie).
        </p>
    {% endif %}
