{% macro usericon(user, leader_info=None, user_info=None, is_pending_renewal=False) -%}
{#
      user: User object of the icon to create
      leader_info: Boolean: True if displayed icon is for a leader
      user_info: Boolean: True if user details should be displayed (eg, icon is for leader) 
      is_pending_renewal: Boolean: True if user should be displayed as not having a valid license for when the event starts
      #}
<div class="usericon">
      <a class="usericon-wrapper" href="{% if leader_info %}{{url_for('profile.show_leader', leader_id=user.id)}}{% elif user_info %}{{url_for('profile.show_user', user_id=user.id)}}{%else%}#{% endif %}"
                  alt="Avatar de {{user.abbrev_name()}}">
            <img class="usericon-avatar" src="{% if user.avatar
                        %}{{ url_for('images.crop', filename=user.avatar, width=80, height=80) }}{%
                  else
                        %}{{ url_for('static', filename='img/icon/ionicon/md-person.svg')   }}{%
                  endif %}" />
            <span class="usericon-name">
                  {% if leader_info %}
                        {{user.full_name().title()}}
                  {% elif user_info %}
                        {% if user.is_minor() %}
                              <span class="license-tag minor">-18</span>
                        {% elif user.is_youth() %}
                              <span class="license-tag youth">-25</span>
                        {% endif %}
                        {% if is_pending_renewal %}
                              <span class="license-tag pending-renewal">
                                    <img src="{{url_for('static', filename='img/icon/ionicon/md-time-white.svg')}}">
                                    Licence à renouveler
                              </span>
                        {% endif %}
                        {% set grade = user.attendance_grade(datetime.timedelta(days=30)) %}
                        {% if grade >= 'D' %}
                              <span class="license-tag attendance">
                                    <span class="tooltip">
                                          <img src="{{url_for('static', filename='img/icon/ionicon/md-warning-white.svg')}}">
                                          Note d'absence: {{grade}}
                                          <span class="tooltiptext">Cet utilisateur a plusieurs incidents à son actif.</span>
                                    </span>
                              </span> 
                        {% endif %}
                        {{user.full_name().title()}}
                  {% else %}
                        {{user.abbrev_name().title()}}
                  {% endif %}
            </span>
      </a>
</div>
{%- endmacro %}

{% macro registration_admin_list_item(registration) -%}
<li>
      <a href="{{url_for('profile.show_user', user_id=registration.user.id)}}">{{registration.user.full_name()}}</a>

      {% if registration.unsettled_payments() | length %}
        Paiements en cours:
        {% for p in registration.unsettled_payments() %}
           <a class="button button-secondary" href="{{url_for('payment.payment_details', payment_id=p.id)}}"> {{p.item.title}}</a>
        {% endfor %}
      {% elif registration.is_pending_payment() %}
      <a href="{{url_for('payment.report_offline', registration_id=registration.id)}}" class="button button-secondary">Saisir un paiement
            hors-ligne</a>
      {% endif %}

      <form class="inline" action="{{url_for('event.delete_registration', reg_id=registration.id)}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="button button-danger" value="Effacer l'inscription">
      </form>
</li>
{%- endmacro %}
