{% macro usericon(user, leader_info=None, user_info=None) -%}
<div class="usericon">
  <img class="avatar" src="{% if user.avatar
                      %}{{ url_for('images.crop', filename=user.avatar, width=80, height=80) }}{%
                else
                      %}{{ url_for('static', filename='img/icon/ionicon/md-person.svg')   }}{%
                endif %}" />
  <div class="name">
      {% if leader_info %}
            <a href="{{url_for('root.show_leader', id=user.id)}}" alt="{{user.full_name()}}">{{user.abbrev_name()}}</a>
      {% elif user_info %}
            <a href="{{url_for('root.show_user', id=user.id)}}" alt="{{user.full_name()}}">{{user.abbrev_name()}}</a>
      {% else %}
            {{user.abbrev_name()}}
      {% endif %}
  </div>
</div>
{%- endmacro %}

{% macro eventitem(event) -%}
<a href="{{url_for('event.view_event', id=event.id)}}">
  <div class="event">
    <img class="photo" src="{% if event.photo %}{{ url_for('images.crop', filename=event.photo, width=200, height=200 ) }}{% endif %}"/>

    <h3>
      {% if event.activity_types %}
      <img src="{{ url_for('static', filename= "caf/icon/"+ event.activity_types[0].short + '_60x60.png') }}" class="type" alt="[{{ event.activity_types[0].name }}]"/>
      {% endif %}
      {{ event.title }}
    </h3>

    <h4> <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="icon"/>
      {{ format_date_range(event.start, event.end) }}
    </h4>
    <div class="slots">
      {% if not event.has_free_slots() %} COMPLET {% endif %}
      {% for i in range(0, event.free_slots()) %}
          <img src="{{ url_for('static', filename='img/icon/ionicon/md-contact.svg') }}" class="icon freeslot"/>
      {% endfor %}
      {% for i in range(event.free_slots(), event.num_slots) %}
          <img src="{{ url_for('static', filename='img/icon/ionicon/md-contact-on.svg') }}" class="icon"/>
      {% endfor %}

    </div>
    <div class="">
      {{event.shortdescription}}
    </div>
  </div>
</a>
{%- endmacro %}
