{% macro usericon(user, leader_info=None, user_info=None) -%}
<div class="usericon">
  <img class="avatar" src="{% if user.avatar
                      %}{{ url_for('images.crop', filename=user.avatar, width=80, height=80) }}{%
                else
                      %}{{ url_for('static', filename='img/icon/ionicon/md-person.svg')   }}{%
                endif %}" />
  <span class="name">
      {% if leader_info %}
            <a href="{{url_for('profile.show_leader', leader_id=user.id)}}" alt="Avatar de {{user.full_name()}}">{{user.full_name().title()}}</a>
      {% elif user_info %}
            {% if user.is_minor() %}
            <span class="license-tag minor">-18</span>
            {% elif user.is_youth() %}
            <span class="license-tag youth">-25</span>
            {% endif %}
            <a href="{{url_for('profile.show_user', user_id=user.id)}}" alt="Avatar de {{user.abbrev_name()}}">{{user.abbrev_name().title()}}</a>
      {% else %}
            {{user.abbrev_name().title()}}
      {% endif %}
  </span>
</div>
{%- endmacro %}
