
{% extends 'base.html' %}

{% block additionalhead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/administration.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Gestion utilisateur{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel solidpanel" id="administration">
  <!-- Logging Windows -->
  <h3>Ajout d'utilisateur</h3>
  <form action="" method="POST"   >
      {% for field in form %}
          {{ field.label }}
          {{ field }}<br/>
    {% endfor %}
    {{ form.hidden_tag() }}
     <br/><input type="submit" value="Enregistrer"  />
  </form>
</div>


{% endblock %}
