{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

  <link href="https://unpkg.com/tabulator-tables@4.5.1/dist/css/materialize/tabulator_materialize.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.1/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  <script>
      var ajaxURL= '/api/user/{{user.id}}/events';
  </script>
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block header %}
<h1>{% block title %} {{user.full_name()}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="profile">
    <h3>{{user.full_name()}}</h3>

    {% if user == current_user %}
    <a class="button" href="{{url_for('root.update_user')}}">
         <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}"  alt=""/>
        Modifier mes paramètres
    </a>
    {% elif current_user.is_admin() %}
    <a class="button" href="{{url_for('administration.manage_user', user_id=user.id)}}">Modifier l'utilisateur</a>
    {% endif %}


    <h4>Informations FFCAM </h4>

    <table id="profile_info">
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}" alt=""/> Licence :</td>
            <td>Catégorie {{user.license_category}}</td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-time.svg') }}" alt=""/> Expiration :</td>
            <td>{{format_date(user.license_expiry_date)}}</td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-person.svg') }}" alt=""/>Genre :</td>
            <td> {{user.get_gender_name()}}</td>
        </tr>
        {% if user == current_user %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" alt=""/> Date de naissance :</td>
            <td>{{format_date(user.date_of_birth)}}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/ios-mail.svg') }}" alt=""/> Email :</td>
            <td>{{user.mail}}</td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-call.svg') }}" alt=""/> Téléphone :</td>
            <td> {{user.phone}}</td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"/> Contact d'urgence :</td>
            <td>{{user.emergency_contact_name}} au {{user.emergency_contact_phone}}</td>
        </tr>
    </table>

    {% if user == current_user and not user.is_test %}
    <form action="{{url_for('root.force_user_sync')}}" method="post" id="refresh_extranet">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Resynchroniser mes informations FFCAM">
        <p id="info_extranet">
            <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-information-circle-outline.svg') }}"/>
            Si après synchronisation ces informations ne sont toujours pas à jour, veuillez contacter <a href="mailto:secretariat@cafannecy.fr">le secrétariat du club.</a>
        </p>
    </form>
    {% endif %}

    <h4>Sorties à venir</h4>
    <div id="eventstable">
    </div>

    <h4>Sorties effectuées</h4>
    <div id="pasteventstable">
    </div>
</div>

{% endblock %}
