{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block additionalhead %}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://unpkg.com/moment@2.30.1/min/moment.min.js"></script>
  <script src="{{ url_for('api.models_to_js') }}"></script>

  <script>
      var ajaxURL= '/api/user/{{user.id}}/events';
  </script>
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-content" id="profile">
    <h1 class="heading-1">{{user.full_name()}}</h1>



    <div class="buttons-bar">
        {% if user == current_user %}
            <a class="button button-secondary" href="{{url_for('profile.update_user')}}">
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}"  alt=""/>
                Modifier mes paramètres
            </a>
            <a class="button button-secondary" href="{{url_for('root.legal')}}">
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-document.svg') }}"  alt=""/>
                Mentions légales
            </a>
            {% if current_user.has_any_role() %}
                <a class="button button-secondary" href="{{url_for('profile.confidentiality_agreement')}}">
                    <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}"  alt=""/>
                    Charte RGPD
                </a>
            {%endif%}

            {% if user.has_a_valid_benevole_badge() or user.has_any_role() %}
                {% if Configuration.VOLUNTEER_CERT_IMAGE %}
                    <a class="button button-secondary" href="{{url_for('profile.volunteer_certificate')}}">
                        <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-file-document.svg') }}"  alt=""/>
                        Attestation Bénévole
                    </a>
                {% endif %}
            {% endif %}

        {% endif %}
        {% if current_user.is_admin() %}
            <a class="button button-secondary" href="{{url_for('administration.manage_user', user_id=user.id)}}">Modifier l'utilisateur</a>
            <a class="button button-secondary" href="{{url_for('administration.add_user_role', user_id=user.id)}}">Gérer ses rôles</a>
            <a class="button button-secondary" href="{{url_for('administration.add_user_badge', user_id=user.id)}}">Gérer ses badges</a>
        {% endif %}

        {% if current_user.is_hotline() and user.type == models.UserType.Extranet %}
        <form action="{{url_for('profile.force_user_sync', user_id=user.id)}}" method="post">
            <input type="submit" value="Resynchronisation FFCAM" class="button button-secondary" style="width: 100%;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {% endif %}
    </div>

    <h4 class="heading-4">
        Informations 
        {% if user.type == models.UserType.Extranet %}FFCAM{% endif %}
    </h4>

    <div class="centeralign">
        <img src="{%   if user.avatar
                    %}{{ url_for('images.crop', filename=user.avatar, width=200, height=200) }}{%
            else
                    %}{{ url_for('static', filename='img/default/users/avatar-0'+ str(user.id % 6 + 1) +'.png')   }}{%
            endif %}"
        alt="Avatar de l'utilisateur"
        class="avatar big" />
    </div>

    {% if user.type == models.UserType.UnverifiedLocal %}
        <div>
            Le compte de l'utilisateur n'est pas encore validé par mail. Il peut refaire sa validation en faisant une demande de nouveau mot de passe.
        </div>
    {% endif %}

    <table id="profile_info"  class="center_table">

        

        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}" alt=""/> Licence :</td>
            <td>{{user.license}}</td>
        </tr>
        {% if user.license_category %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}" alt=""/> Catégorie :</td>
            <td>{{user.license_category}}</td>
        </tr>
        {% endif %}
        {% if user.license_expiry_date %}
            <tr>
                <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-time.svg') }}" alt=""/> Expiration :</td>
                <td>{{format_date(user.license_expiry_date)}}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-person.svg') }}" alt=""/>Genre :</td>
            <td> {{user.get_gender_name()}}</td>
        </tr>
        {% if user == current_user %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" alt=""/> Date de naissance :</td>
            <td>{{format_date(user.date_of_birth)}}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/ios-mail.svg') }}" alt=""/> Email :</td>
            <td><a href="mailto:{{user.mail}}">{{user.mail}}</a></td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-call.svg') }}" alt=""/> Téléphone :</td>
            <td> {{format_phones(user.phone) | default("Non renseigné", true)}}</td>
        </tr>
        <tr>
            <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}"/> Contact d'urgence :</td>
            <td>{{user.emergency_contact_name}} au {{format_phones(user.emergency_contact_phone)}}</td>
        </tr>
    </table>

    {% if user == current_user and not user.has_valid_phone_number() %}
        <div class="flash-warning flash">{{get_bad_phone_message(user) | safe }}</div>
    {%endif%}

    {% if user == current_user and not user.has_valid_phone_number(emergency=True) %}
        <div class="flash-warning flash">{{get_bad_phone_message(user, emergency=True) | safe }}</div>
    {%endif%}


    {% if user == current_user and user.type == models.UserType.Extranet %}
    <form action="{{url_for('profile.force_user_sync')}}" method="post" id="refresh_extranet">
        <p id="info_extranet">
            <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-information-circle-outline.svg') }}"/>
            Ces données personnelles sont une copie de celles que vous avez fournies lors de votre adhésion au {{Configuration.CLUB_NAME}}. Elles sont stockées au niveau de la Fédération Française des Clubs Alpins et de Montagne, fédération à laquelle le club est affilié. <br/>
            Pour les modifier, rendez-vous dans votre espace personnel FFCAM <a href="https://extranet-clubalpin.com/monespace/">https://extranet-clubalpin.com/monespace/</a> puis dans le menu "Mes informations". L'authentification se fera via votre numéro de licence et votre code internet fourni lors de votre adhésion.<br/>
            Une fois vos données à jour, vous pourrez les synchroniser sur ce site via le bouton ci-dessous.
        </p>
        <input type="submit" value="Resynchroniser mes informations FFCAM" class="button button-secondary">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {% endif %}

    {% if user != current_user and user.type != models.UserType.Extranet %}
        <p id="info_extranet">
            Ces informations sont fournies par l'utilisateur et n'ont pas été vérifiées par la fédération.
        </p>
    {% endif %}

    <h4 class="heading-4">Autres informations</h4>
        <table id="site_info" class="center_table">
            {% if user.has_a_valid_suspended_badge() or user.number_of_valid_warning_badges() > 0 %}
            <tr>
                <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-warning.svg') }}" alt=""/> Désinscriptions tardives ou absences injustifiées:</td>
                <td>
                    {% if user.has_a_valid_suspended_badge() %}
                        Compte suspendu jusqu'au {{format_date(user.suspension_end_date())}} 
                    {% else %}
                        {{user.number_of_valid_warning_badges()}} avertissement(s) 
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/thumbs-up.svg') }}" alt=""/> Bénévolat régulier :</td>
                <td>
                    {% if user.has_a_valid_benevole_badge() %}
                        {% for activity in user.activities_with_valid_badge([models.BadgeIds.Benevole])  %}
                            {% if loop.index != 1 %} & {% endif %}
                            {{activity.name}} 
                        {% endfor %}
                    {% else %}
                        Non
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="head"><img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}" alt=""/> Rôle(s) sur le site :</td>
                <td>
                    {% if user.roles %}
                        {% for role in user.roles %}
                            {% if loop.index != 1 %} & {% endif %}
                            {{role.name}}
                            {% if role.activity_type %}
                                pour l'activité <em>{{role.activity_type.name}}</em>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Aucun
                    {% endif %}
                </td>
            </tr>
        </table>

    <h4 class="heading-4">Sorties à venir</h4>
    <div id="eventstable" class="collectives-list">
    </div>


    <h4 class="heading-4">Sorties en liste d'attente</h4>
    <div id="waitingtable" class="collectives-list">
    </div>

    <h4 class="heading-4">Sorties effectuées</h4>
    <div id="pasteventstable" class="collectives-list">
    </div>

    <p class="align-right">
        {%if current_user == user%}
            {%if not current_user.is_admin() %}
                <a class="button button-small button-danger" href="{{url_for('profile.delete_user')}}">Supprimer mon compte utilisateur</a>
            {% endif %}
        {%elif current_user.is_hotline()%}
            <a class="button button-small button-danger" href="{{url_for('profile.delete_user', user_id=user.id)}}">Supprimer le compte utilisateur</a>
        {%endif%}
    </p>
</div>

{% endblock %}
