<div class="usericon">
  <img class="avatar" src="{% if user.avatar
                      %}{{ url_for('images.crop', filename=user.avatar, width=80, height=80) }}{%
                else
                      %}{{ url_for('static', filename='img/icon/ionicon/md-person.svg')   }}{%
                endif %}" />
  <div class="name">
      {% if leader_info %}
            <a href="{{url_for('root.show_leader', leader_id=user.id)}}" alt="{{user.full_name()}}">{{user.abbrev_name()}}</a>
      {% elif user_info %}
            <a href="{{url_for('root.show_user', user_id=user.id)}}" alt="{{user.full_name()}}">{{user.abbrev_name()}}</a>
      {% else %}
            {{user.abbrev_name()}}
      {% endif %}
  </div>
</div>
