
{% extends 'base.html' %}
{% import 'partials/form-fields.html' as generator  %}

{% block content %}
<div class="page-content" id="administration">
  <h2 class="heading-2">{{user.full_name()}}</h2>

  <h4 class="heading-4">Renouvellement badge</h4>

  {%if form.submit.data %}
    {{ generator.form_errors(form) }}
  {%endif%}
  <form action="{{url_for('administration.renew_user_badge', badge_id=badge.id)}}" method="POST" >
    {% for field in form %}
        {% if not ( field.type in [ "CSRFTokenField" , "SubmitField" ]) %}
          {{ field.label }}
          {{ field }}<br/>
        {% endif %}
    {% endfor %}
    {{ form.hidden_tag() }}
     <br/>{{ form.submit(class="button button-primary") }}
  </form>
  <button class="button button-danger" onclick="window.history.back()">Annuler</button>
</div>
{% endblock %}
