
<!--htmlhint doctype-first:false -->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <h2>{{user.full_name()}}</h2>

  <h4>Roles existants</h4>
  <ul>
  {% for role in user.roles %}
  <li>{{role.name}}
  {% if role.activity_type %}
   pour l'activité <em>{{role.activity_type.name}}</em>
  {% endif %}
        <form class="inline" action="{{url_for('administration.remove_user_role', user_id=role.id)}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" class="button button-danger" value="Supprimer" >
        </form>
  </li>
  {% endfor %}
  </ul>

  <h4>Nouveau role</h4>
  <form action="{{url_for('administration.add_user_role', user_id=user.id)}}" method="POST" >
    {% for field in form %}
        {% if not ( field.type in [ "CSRFTokenField" , "SubmitField" ]) %}
          {{ field.label }}
          {{ field }}<br/>
        {% endif %}
    {% endfor %}
    {{ form.hidden_tag() }}
     <br/>{{ form.submit(class="button button-primary") }}
  </form>
</div>
{% endblock %}
