
{% extends 'base.html' %}
{% import 'partials/form-fields.html' as generator  %}

{% block additionalhead %}
  <script src="{{ url_for('static', filename='js/utils/badge.js') }}"></script>
  <script>
      const badgeLevels = {{models.BadgeIds.js_levels() | safe}};
      window.onload = function () {
        const badgeSelect = document.getElementById("{{form.badge_id.id}}")
        const badgeActivityIdSelect = document.getElementById("{{form.activity_id.id}}")
        const levelSelect = document.getElementById("{{form.level.id}}")
        
        const updateLevels = () => {
            updateBadgeLevels(badgeLevels, badgeSelect, badgeActivityIdSelect, levelSelect);
        };
        updateLevels();
        badgeSelect.addEventListener("change", updateLevels);
        badgeActivityIdSelect.addEventListener("change", updateLevels);
      };
  </script>
{% endblock %}

{% block content %}
<div class="page-content" id="administration">
  <h2 class="heading-2">{{user.full_name()}}</h2>

  <h4 class="heading-4">Badges existants</h4>
  <ul>
  {% for badge in user.badges %}
  <li>{{badge.name}}
  {% if badge.level %}
   <em>{{badge.level_name()}}</em>
  {% endif %}
  {% if badge.registration %}
   pour l'événement <a href="{{url_for('event.view_event', event_id=badge.registration.event.id)}}">{{badge.registration.event.title}}</a>
  {% endif %}
  {% if badge.activity_id %}
   pour l'activité <em>{{badge.activity_name}}</em>
  {% endif %}
  {% if badge.expiration_date %}
   expirant le <em>{{format_date(badge.expiration_date)}}</em>
  {% endif %}
  {% if badge.grantor %}
    (attribué par {{badge.grantor.full_name()}})
  {% endif %}
    <form class="inline" action="{{url_for('administration.renew_user_badge', badge_id=badge.id)}}" method="get">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="submit" class="button button-primary button-small" value="Renouveler" >
    </form>
      <form class="inline" action="{{url_for('administration.delete_user_badge', badge_id=badge.id)}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="submit" class="button button-danger button-small" value="Supprimer" >
        </form>
  </li>
  {% endfor %}
  </ul>

  <h4 class="heading-4">Nouveau badge</h4>
  {{ generator.form_generator(form, action=url_for('administration.add_user_badge', user_id=user.id)) }}
</div>
{% endblock %}
