
{# DateTime picker#}
<script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css')}}">

<script>
  window.addEventListener("load", function() {
    // Some browsers do not support HTML5 date pickers yet
    // Use tail instead for those cases
    // See https://stackoverflow.com/questions/18020950/how-to-make-input-type-date-supported-on-all-browsers-any-alternatives
    var dateInput = document.querySelector("input[type='date']");
    if (dateInput && dateInput.type != 'date') {
        tail.DateTime("input[type=date]", {
        weekStart: 1,
        timeFormat: false
        });
    }
  });
</script>