{% macro form_generator(form, action='', form_id='basic_form') -%}

  {{ form_errors(form) }}

  <script  type="text/javascript">
    function togglePassword( inputId ) {
        const passwordInput = document.getElementById(inputId);
        const type = passwordInput.type === "password" ? "text" : "password";
        passwordInput.type = type;
    }
  </script>

  <form action="{{action}}" method="POST" enctype="multipart/form-data" class="form form-vertical" id="{{form_id}}">
    {% for field in form %}
        {% if field.type == "HiddenField"%}
            {{ field }}
        {% elif field.type == "BooleanField"%}
            <div class="controls">
                <div style="display: inline-block;">{{ field }} {{ field.label }}</div><br />
                <div class="label-help">
                    {{ field.description }}
                </div>
            </div>
        {% elif not ( field.type in [ "CSRFTokenField" , "SubmitField" ]) %}
            <div class="controls">
                {{ field.label(class="label-top") }}
                <div class="label-help">{{ field.description }}</div>

                {% if field.type == "PasswordField" %}
                    {{ field(autocomplete="new-password", title=field.description, class="input-100") }}
                    <div style="display: none" >
                        <img src="{{ url_for('static', filename='img/icon/ionicon/eye.svg') }}" alt="👁️" onclick="togglePassword('{{field.id}}')"/>
                    </div>
                {% elif field.type == "FileField" %}
                    {{ field(onchange="checkFileFieldSize(this)", title=field.description, class="input-100") }}
                {% else %}
                    {{ field(title=field.description, class="input-100") }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% if form.hidden_tag %}
        {{ form.hidden_tag() }}
    {% endif %}
    <div class="controls">
    <br />
    {% if form.submit %}
        {{ form.submit(class="button button-primary input-100") }}
    {% endif %}
    </div>
    {{ form.csrf_token }}
  </form>

{%- endmacro %}

{% macro form_errors(form) -%}
<div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}

    <div class="flash flash-error">
        <strong>Erreur : {{field.label}}:</strong> {{error}}
    </div>

    {% endfor %}
    {% endfor %}

    {% if form.generic_error %}
        <div class="flash flash-error">
        <strong>Erreur :</strong> {{form.generic_error}}
        </div>
    {% endif %}

  </div>
{%- endmacro %}