{% macro form_generator(form, action='', form_id='basic_form') -%}

  {{ form_errors(form) }}

  <form action="{{action}}" method="POST" enctype="multipart/form-data" class="form form-vertical" id="{{form_id}}">
    {% for field in form %}
        {% if not ( field.type in [ "CSRFTokenField" , "SubmitField", "HiddenField" ]) %}
            <div class="controls">
                {{ field.label(class="label-top") }}
                <div class="label-help">{{ field.description }}</div>

                {% if field.type == "PasswordField" %}
                    {{ field(autocomplete="new-password", title=field.description, class="input-100") }}
                {% elif field.type == "FileField" %}
                    {{ field(onchange="checkFileFieldSize(this)", title=field.description, class="input-100") }}
                {% else %}
                    {{ field(title=field.description, class="input-100") }}
                {% endif %}
            </div>
        {% elif field.type == "HiddenField"%}
            {{ field }}
        {% endif %}
    {% endfor %}
    {% if form.hidden_tag %}
        {{ form.hidden_tag() }}
    {% endif %}
    <div class="controls">
    <br />
    {% if form.submit %}
        {{ form.submit(class="button button-primary input-100") }}
    {% endif %}
    </div>
    {{ form.csrf_token }}
  </form>

{%- endmacro %}

{% macro form_errors(form) -%}
<div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}

    <div class="flash flash-error">
        <strong>Erreur : {{field.label}}:</strong> {{error}}
    </div>

    {% endfor %}
    {% endfor %}

    {% if form.generic_error %}
        <div class="flash flash-error">
        <strong>Erreur :</strong> {{form.generic_error}}
        </div>
    {% endif %}

  </div>
{%- endmacro %}