<!--htmlhint doctype-first:false -->
<div class="main-footer">
    <div class="layout-container main-footer-container">
        <div class="columns">
            <div class="column is-3">
                <a href="{{ url_for('root.index')}}" class="main-footer-navigation-logo">
                    <img alt="CAF logo" src="{{ url_for('static', filename='caf/logo-caf-annecy.svg') }}"
                        title="{{ conf['TITLE'] }}">
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('root.legal') }}">Mentions légales</a> - <a
                    href="mailto:secretariat@cafannecy.fr">Contacter le club</a> <br /><br />
                Version du site : {{ version_link(conf['VERSION'])|safe }}
            </div>

        </div>
    </div>
</div>
