<header class="main-navigation layout-row">
    <div class="layout-container main-navigation-container">
        <div class="main-navigation-container-primary">
            <a href="{{ url_for('root.index')}}" class="main-navigation-logo">
                <img src="{{ url_for('static', filename='caf/logo-caf-annecy.svg') }}" alt="{{ config['TITLE'] }}"
                    title="{{ config['TITLE'] }}">
            </a>


            {% if current_user.is_authenticated %}
                <div class="menu-dropdown menu-dropdown-left">
                    <div class="menu-dropdown-trigger main-navigation-menu">
                        <div class="main-navigation-menu-link">
                            <img src="{{ url_for('static', filename='img/icon/ionicon/md-menu.svg') }}" class="menubutton legacy-icon" alt="Bouton du menu" title="Menu"/> Menu
                        </div>
                    </div>
                    <div class="menu-dropdown-container">
                        <ul>
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('root.index')}}"  class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-list-box.svg') }}"
                                        class="legacy-icon" /> Liste des collectives
                                </a>
                            </li>
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('static', filename='caf/doc/guide_collectives/'+config['GUIDE_FILENAME']) }}"  class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-document.svg') }}"  class="legacy-icon" />
                                    Organisation des sorties
                                </a>
                            </li>

                            {% if current_user.can_manage_equipment() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('equipment.stock_situation')}}"  class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-box.svg') }}"  class="legacy-icon" />
                                    Gestion du matériel
                                </a>
                            </li>
                            {% endif %}

                            {% if current_user.can_manage_reservation() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('reservation.view_reservations')}}" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-calendar.svg') }}" class="legacy-icon" />
                                    Gestion des réservations
                                </a>
                            </li>
                            {% endif %}

                            {% if current_user.can_create_events() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('event.manage_event')}}" class="menu-dropdown-item-link"><img
                                        src="{{ url_for('static', filename='img/icon/ionicon/md-add-circle-outline.svg') }}"
                                        class="legacy-icon" /> Ajouter un événement</a>
                            </li class="menu-dropdown-item">
                            {% endif %}

                            {% if current_user.get_supervised_activities() | length %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('activity_supervision.csv_import')}}" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-document.svg') }}"
                                        class="legacy-icon" />Import CSV
                                </a>
                            </li>
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('activity_supervision.leader_list')}}" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}"
                                        class="legacy-icon" />Encadrants
                                </a>
                            </li>
                            {% endif %}

                            {% if current_user.is_hotline() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('administration.administration')}}" class="menu-dropdown-item-link"><img
                                        src="{{ url_for('static', filename='img/icon/ionicon/md-cog.svg') }}" class="legacy-icon" />
                                    Administration</a>
                            </li>
                            {% endif %}

                            {% if current_user.is_technician() and config['STATISTICS_ENABLED'] %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('statistics.index')}}" class="menu-dropdown-item-link"><img
                                        src="{{ url_for('static', filename='img/icon/ionicon/analytics-sharp.svg') }}" class="legacy-icon" />
                                    Statistiques</a>
                            </li>
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('technician.list_logs')}}" class="menu-dropdown-item-link"><img
                                        src="{{ url_for('static', filename='img/icon/ionicon/md-document.svg') }}" class="legacy-icon" />
                                    Logs du serveur</a>
                            </li>
                            {% endif %}

                            {%  if config["PAYMENTS_ENABLED"] and current_user.is_accountant() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('payment.list_all')}}" class="menu-dropdown-item-link"><img
                                        src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}" class="legacy-icon" />
                                    Liste des paiements</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="main-navigation-container-secondary">
            {% if current_user.is_authenticated %}
                <div class="menu-dropdown menu-dropdown-right">
                    <div class="menu-dropdown-trigger">
                        {% if current_user.avatar %}
                        <div class="user-image">
                            <img src="{{ url_for('images.crop', filename=current_user.avatar, width=80, height=80) }}"
                                alt="{{ current_user.full_name() }} " title="{{ current_user.full_name() }} ">
                        </div>
                        {% else %}
                        <div class="user-image user-image-default" title="{{ current_user.full_name() }} ">
                            <svg viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.79091 0.000488281C7.71202 0.000488281 9.27879 1.56726 9.27879 3.48837C9.27879 5.40948 7.71202 6.97625 5.79091 6.97625C3.8698 6.97625 2.30303 5.40948 2.30303 3.48837C2.30303 1.56726 3.8698 0.000488281 5.79091 0.000488281ZM5.79091 6.90958C8.98048 6.90958 11.5818 9.51091 11.5485 12.7338L10.3636 12.7005C10.3636 10.1685 8.32293 8.12776 5.79091 8.12776C3.25889 8.12776 1.21818 10.1685 1.18485 12.7338L0 12.7005C0 9.51091 2.60134 6.90958 5.79091 6.90958ZM5.79091 1.21867C4.53186 1.21867 3.52121 2.22931 3.52121 3.48837C3.52121 4.74742 4.53186 5.75806 5.79091 5.75806C7.04996 5.75806 8.06061 4.74742 8.06061 3.48837C8.06061 2.22931 7.04996 1.21867 5.79091 1.21867Z" />
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                    <div class="menu-dropdown-container">
                        <ul>
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('profile.show_user', user_id=current_user.id)}}" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-person.svg') }}" class="legacy-icon" /> Mon Profil
                                </a>
                            </li>
                            {% if current_user.can_create_events() %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('profile.show_leader', leader_id = current_user.id)}}"
                                    class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-person.svg') }}"
                                        class="legacy-icon" /> Profil encadrant
                                </a>
                            </li>
                            {% endif %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('reservation.my_reservations')}}"  class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-bag.svg') }}"  class="legacy-icon" />
                                    Mes Locations
                                </a>
                            </li>
                            {% if config["PAYMENTS_ENABLED"] %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('profile.my_payments')}}" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-cash-outline.svg') }}" class="legacy-icon" /> Mes paiements
                                </a>
                            </li>
                            {% endif %}
                            <li class="menu-dropdown-item">
                                <a href="{{ url_for('auth.logout') }}" title="Déconnexion" class="menu-dropdown-item-link">
                                    <img src="{{ url_for('static', filename='img/icon/ionicon/md-log-out.svg') }}"  class="legacy-icon" alt="Déconnexion" /> Déconnexion
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div>
                    <a href="{{ url_for('auth.login') }}" class="button button-secondary">
                        <img src="{{ url_for('static', filename='img/icon/ionicon/md-unlock.svg') }}" class="legacy-icon" /> Se connecter
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
