
{% macro user_group_form_errors(conditions) -%}
{% for errors in conditions.errors if errors %}
<div class="flash flash-error">
    {% for field_name, field_errors in errors.items() %}
    {% for error in field_errors %}
        <strong>Erreur :</strong> {{error}}
    {% endfor %}
    {% endfor %}
</div>
{% endfor %}
{%- endmacro %}

<h5 class="heading-5">Participation à un événement</h4>
{{ user_group_form_errors(user_group_form.event_conditions) }}
<div id="{{user_group_form.event_conditions.id}}" class="user_group_condition_table">
</div>

{{user_group_form.new_event_is_leader(style="width:auto; margin:auto")}}
à l' événement :
<input type="text" id="{{user_group_form.prefix}}event-search" placeholder="Titre ou ID…">

<h5 class="heading-5">Détention d'un rôle</h4>
{{ user_group_form_errors(user_group_form.role_conditions) }}
<div id="{{user_group_form.role_conditions.id}}" class="user_group_condition_table">
</div>

<div class="inline_field">
Détenteurs du rôle :
{{user_group_form.new_role_id(style="width:auto; margin:auto")}}
{{user_group_form.new_role_activity_id(style="width:auto; margin:auto")}}
<input type="button" id="{{user_group_form.prefix}}role-add" value="Ajouter" 
    onclick='addRoleCondition("{{user_group_form.role_conditions.id}}", "{{user_group_form.new_role_id.id}}", "{{user_group_form.new_role_activity_id.id}}")'
></div>

<h5 class="heading-5">Détention d'un badge</h4>
{{ user_group_form_errors(user_group_form.badge_conditions) }}
<div id="{{user_group_form.badge_conditions.id}}" class="user_group_condition_table">
</div>

<div class="inline_field">
Détenteurs du badge :
{{user_group_form.new_badge_id(style="width:auto; margin:auto", onchange="updateBadgeLevels(this);", data_level_target=user_group_form.new_badge_level.id)}}
{{user_group_form.new_badge_activity_id(style="width:auto; margin:auto")}}
<select id="{{user_group_form.new_badge_level.id}}" name="{{user_group_form.new_badge_level.name}}" style="width:auto; margin:auto; display:none">
</select>
<input type="button" id="{{user_group_form.prefix}}badge-add" value="Ajouter" 
    onclick='addBadgeCondition("{{user_group_form.badge_conditions.id}}", "{{user_group_form.new_badge_id.id}}", "{{user_group_form.new_badge_activity_id.id}}", "{{user_group_form.new_badge_level.id}}")'
></div>

<h5 class="heading-5">Types de licence</h4>
{{user_group_form.license_invert}}
{{user_group_form.license_conditions(class="choices")}}

<script>

const badgeLevels = {{models.BadgeIds.js_levels() | safe}};

document.addEventListener('DOMContentLoaded', ()=> {
    var license_multiselect = document.getElementById("{{user_group_form.license_conditions.id}}");
    if(license_multiselect) {
        const choices = new Choices(license_multiselect, {
            removeItemButton:true,
            placeholder:true,
            placeholderValue:"Types de licence"
        });
    }

    current_event_conditions = {{ user_group_form.event_conditions_as_json()  | safe}};
    var eventConditionsTable = setupEventConditionsEditor("{{user_group_form.event_conditions.id}}", current_event_conditions);

    const eventSearchInput = document.getElementById("{{user_group_form.prefix}}event-search");
    setupAutoComplete(
        eventSearchInput,
        '{{event_search_url | safe}}',
        function(item) {
            return JSON.stringify(item);
        },
        function(id, val) {
            addEventCondition(eventConditionsTable, "{{user_group_form.event_conditions.id}}", val, "{{user_group_form.new_event_is_leader.id}}");
            eventSearchInput.value = "";
        },
        {
            "itemInnerHTML" : 
            function(item, val) {
                return `<span>${escapeHTML(formatParentEvent(item.id, item.title, item.start))}</span>` ;
            }
        }
        );

    current_role_conditions = {{ user_group_form.role_conditions_as_json()  | safe}};
    var roleConditionsTable = setupRoleConditionsEditor("{{user_group_form.role_conditions.id}}", current_role_conditions);

    current_badge_conditions = {{ user_group_form.badge_conditions_as_json()  | safe}};
    var badgeConditionsTable = setupBadgeConditionsEditor("{{user_group_form.badge_conditions.id}}", current_badge_conditions);


    updateBadgeLevels(document.getElementById("{{user_group_form.new_badge_id.id}}"));
});

function updateBadgeLevels(badgeSelect) {
    const levelSelect = document.getElementById(badgeSelect.dataset.levelTarget);
    const badgeId = badgeSelect.value;
    while (levelSelect.options.length > 0) {                
        levelSelect.remove(0);
    }        
    hidden = true;
    if(badgeId in badgeLevels) {

        levels = Object.entries(badgeLevels[badgeId])
        for(const [key, level] of levels) {
            const option = document.createElement("option");
            option.value = key;
            option.text = level[0];
            levelSelect.add(option);

            hidden = false;
        }
    }
    levelSelect.style.display = hidden ? "none" : "inline-block";
}

</script>