#eventlist #filters {
    background: white;
    padding: 20px;
    text-align: center;
}

#eventlist #filters .button {
    height: 40px;
    border: 2px solid rgb(29, 105, 137);
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    color: grey;
    cursor: pointer;
}
#eventlist #filters .button.checked, #eventlist #filters form img {
    color: white;
    background-color: rgb(29, 105, 137);
    font-weight: bold;
}
#eventlist #filters form {
    display: inline-block;
    border: 2px solid rgb(29, 105, 137);
    height: 40px;
    overflow: hidden;
    margin: 5px 0;
    vertical-align: middle;
    box-sizing: border-box;
}

#eventlist #filters form input{
    height: 100%;
}

#eventlist #eventstable {
    border-top: 1px solid #cccccc;
}

#eventlist #eventstable .row {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    white-space: normal;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}
#eventlist #eventstable .row:hover {
    text-decoration: none;
    background-color: #eeeeee;
}
#eventlist #eventstable .row .section {
    margin: 0 20px;
}

@media screen and (max-width: 1023px) {
    #eventlist #eventstable .row .section-photo {
        display: none;
    }
}

#eventlist #eventstable img.photo {
    height: 130px;
    width: 200px;
}
#eventlist #eventstable h4 {
    font-size: 160%;
    margin: 0;
}

#eventlist #eventstable .row div div {
    font-size: 120%;
}
#eventlist #eventstable .activities {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#eventlist #eventstable .activity {
    margin: 1px;
}

#eventlist #eventstable .slots .free_slot {
    opacity: 0.5;
}

.pagination {
  text-align: center;
  margin: 1em auto;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  color:  #1d6989;
  border: 1px solid #1d6989; /* Gray */
  margin: 0 4px;
}
.pagination a.active {
  background-color: #1d6989;
  color: white;
  border-color: #1d6989;
}
.pagination a:hover:not(.active) {
    background-color: #dddddd;
}
.pagination a:hover{
    text-decoration: inherit;
}

span.event-status {
    padding: 0.4em 0.5em 0.3em;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
}

/* Event details */
#eventdetail h5 {
    font-size: 20px;
    margin: 0.5em 20px;
}
#eventdetail .slots {
    text-align: left;
}
#eventdetail .photo {
    width: 50%;
    margin: 2em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}
#eventdetail .type {
    float: right;
}
#eventdetail #description {
    text-align: justify;
    max-width: 1000px;
    margin: 2em auto 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 40px;
    overflow-wrap: break-word;
}

#eventdetail .subscriptions,
#eventdetail #encadrement {
    padding: 3px 20px;
}

#eventdetail .date,
#eventdetail .subscriptions h5,
#eventdetail #encadrement h5 {
    color: rgb(235, 105, 28);
}

#eventdetail .useractionmenu {
    position: relative;
    display: inline-block;
}

#eventdetail .useractionmenu div.popover{
    display: none;
    position: absolute;
    top: 50px;
    z-index: 500;
}

#eventdetail .useractionmenu:hover div.popover {
    display: block;
}

#eventdetail .useractionmenu form{
    display:inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#eventdetail .useractionmenu form.delete {
    background-color: red;
}

#eventdetail .useractionmenu form.update {
    background-color: #006880;
}

#eventdetail .selfsubscribe {
    cursor: pointer;
    margin-left: 40px;
    background-color: #006880;
    color: white;
}

#eventdetail .selfunregister {
    display: inline;
    vertical-align: middle;
}

#eventdetail .administration {
    background-color: #cccccc;
    margin-top: 5em;
    padding: 20px 10px;
}

#eventdetail .administration h4 {
    text-align: center;
}

#eventdetail .administration h5 {
    margin-top: 2em;
}

#eventdetail .search-input {
    width: 400px;
}

#eventdetail p {
    padding: 1em 20px;
}

#description a {
    text-decoration: underline;
}
#description a:hover {
    text-decoration: none;
}

.select {
    height: 40px;
    width: 360px;
    position: relative;
    border: 1px solid rgb(29, 105, 137);
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    z-index: $z-index-m;
    margin: 5px 0;
    box-sizing: border-box;
}

.select .chevrons {
    float: right;
    height: 30px;
    margin-top: 5px;
    z-index: $z-index-m;
    transform: rotate(90deg);
    position: relative;
    color: rgb(29, 105, 137);
}

.select #select_display ~ .cell, .select #select_display{
    display: none;
}
.select #select_display:checked ~ .cell , .select #select_display:checked ~ .closer {
    display: block;
}

.select label.closer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: none;
    display: none;
    z-index: $z-index-m;
}

.select .cell {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(29, 105, 137);
    background-color: white;
    cursor: pointer;
    z-index: $z-index-m;
    position: relative;
    text-decoration: none;
    padding: 0px 5px;
    color:  rgb(29, 105, 137);
}

.select .cell:hover{
    background-color: #eeeeee;
}



ul.radio_fields {
    margin-top:0.25em;
}

ul.radio_fields li {
    list-style:none;
}

ul.radio_fields li label {
  font-weight:normal;
}
