/* Event details */

#eventdetail .slots {
    text-align: left;
}

#eventdetail .useractionmenu {
    position: relative;
    display: inline-block;
}

#eventdetail .useractionmenu div.popover{
    display: none;
    position: absolute;
    top: 50px;
    z-index: 500;
}

#eventdetail .useractionmenu:hover div.popover {
    display: block;
}

#eventdetail .useractionmenu form{
    display:inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#eventdetail .useractionmenu form.delete {
    background-color: red;
}

#eventdetail .useractionmenu form.update {
    background-color: #006880;
}

#eventdetail .selfsubscribe {
    cursor: pointer;
    margin-left: 40px;
    background-color: #006880;
    color: white;
}

#eventdetail .selfunregister {
    display: inline;
    vertical-align: middle;
}


#eventdetail .search-input {
    max-width: 400px;
}


#description a {
    text-decoration: underline;
}
#description a:hover {
    text-decoration: none;
}
#attendancelistform{
    text-align: center;
}
#attendancelistform table{
    margin: auto;
    text-align: left;
}
#attendancelistform td select{
    width: 100%;
}

.select {
    height: 40px;
    width: 360px;
    max-width: 100%;
    position: relative;
    border: 1px solid rgb(29, 105, 137);
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
}

.select .chevrons {
    height: 30px;
    margin-top: 5px;
    z-index: $z-index-m+1;
    transform: rotate(90deg);
    position: absolute;
    color: rgb(29, 105, 137);
    right: $padding-horizontal-xs;
}
.select input[type="checkbox"] {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-m;
}
.select input[type="checkbox"]:checked + .message {
    display: block;
}
.select input[type="radio"] {
    display: none;
}

.select label.closer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: none !important;
    z-index: $z-index-m;
}

.select label {
    display: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(29, 105, 137);
    background-color: white;
    cursor: pointer;
    z-index: $z-index-m;
    position: relative;
}
.select input[type="checkbox"]:checked ~ label {
    display: block;
    border-top: none;
    z-index: $z-index-m+2;
}
.select input[type="radio"]:checked + label {
    display: block;
    background-color: #e0e0e0;
}

.select input[type="checkbox"]:not(:checked) ~ label {
    background-color: white !important;
}

.select label label {
    display: block;
    border: none;
    background: none;
    padding: 0 10px;
}

ul.radio_fields {
    margin-top:0.25em;
}

ul.radio_fields li {
    list-style:none;
}

ul.radio_fields li label {
  font-weight:normal;
}
