







    {% for aModel in listEquipementModel %}
        {% if modelId != aModel.id %}
            <p> {{ aModel.name }}
            <a href="{{ url_for('equipment.edit_equipment_model', typeId=typeId, modelId=aModel.id)}}">edit</a></p>
        {% else %}
          {% with form=formEditModel, route=url_for("equipment.edit_equipment_model", typeId=typeId, modelId=aModel.id), titre="EIDTER" %}
            {% include "equipment/gestion/equipmentModel/form.html" %}
          {% endwith %}
          {% with form=deleteFormModel, route=url_for("equipment.delete_equipment_model",typeId=typeId, modelId=aModel.id) %}
            {% include 'equipment/gestion/delete_form.html' %}
          {% endwith %}
        {% endif %}
    {% endfor %}






    {% with form=formAjoutModel, route=url_for("equipment.detail_equipment_type",typeId=typeId),
      includePath='equipment/gestion/equipmentModel/form.html', titre="Ajouter un modèle" %}
      {% include 'partials/modal.html' %}
    {% endwith %}
