
{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}
{% import 'partials/event/self_register.html' as self_register with context %}


{% block additionalhead %}
  {# Specific for this page #}

  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

  <script src="{{ url_for('static', filename='js/event/event.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

  <script src="{{ url_for('api.models_to_js') }}"></script>

  {# Multi-select #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  <script>
      window.onload = function () {
        const searchInput = document.getElementById('user-search');
        setupAutoComplete(
          searchInput,
          '{{url_for("api.autocomplete_users")}}',
          function(item) { return item.full_name; },
          function(id, val) { return onSelectAutocomplete(id, val);}
          )

        {% if question_form.question_fields %} 
        const choices = new Choices('.choices', {
            removeItemButton:true,
            noChoicesText:"Pas d'autres choix disponibles",
            noResultsText:"Aucun choix trouvé",
            itemSelectText:"Ajouter",
            searchEnabled:false,
            placeholder:true,
            placeholderValue:"Choix…"
          });
        {% endif %}
      };
  </script>
{% endblock %}

{% block content %}
<div class="page-content" id="eventdetail">
  <div class="collective-display">
      {# Title / Photo / tags #}

    <div class="collective-display--header">
      <div>
        <h1 class="heading-1">
          {{event.title}}
          {% if event.visibility == models.EventVisibility.Activity %}
            <span class="event-status-badge event-status-private">Interne</span>&nbsp;
          {% elif event.visibility == models.EventVisibility.External %}
            <span class="event-status-badge event-status-external">Grand public</span>&nbsp;
          {% endif %}
          {% if not event.is_confirmed() %}
            <span class="event-status-badge event-status-{{event.status.value}}">{{event.status_string()}}</span>&nbsp;
          {% endif %}
        </h1>
        {% if event.tags %}
        <h2 class="heading-3">
            {% for tag in event.tags %}
                <span class="activity s30px {{tag.short}}" title="{{tag.name}}" ></span> {{tag.name}}
            {% endfor %}
            <br/><br/>
        </h2>
        {% endif %}

        <span class="collective-display--date">
          <add-to-calendar-button 
            name="{{event.title}}"
            description="{{event.description}}"
            startDate="{{event.start.strftime('%Y-%m-%d')}}"
            endDate="{{event.end.strftime('%Y-%m-%d')}}"
            startTime="{{event.start.strftime('%H:%M')}}"
            endTime="{{event.end.strftime('%H:%M')}}"
            timeZone="Europe/Paris"
            options="'Google','Apple','iCal'"
            listStyle="dropdown-static"
            hideTextLabelButton
            hideCheckmark
            language="fr"
            inline
            pastDateHandling="hide"
          ></add-to-calendar-button>
          {{ format_datetime_range(event.start, event.end) | capitalize}}
        </span>
      </div>
      <div>
        <span class="activity {{event.event_type.short}}  collective-display--activity-type s90px" title="{{event.event_type.name}}"></span>
        {% for atype in event.activity_types %}
          <span class="activity {{atype.short}} type collective-display--activity-type s90px" title="{{atype.name}}"></span>
        {% endfor %}
      </div>
    </div>



    <img class="photo collective-display--photo" src="{% if event.photo %}{{ url_for('images.fit', filename=event.photo, width=1100 ) }}{% endif %}"/>


    {# Leaders #}

    <div id="encadrement">
      <h3 class="heading-3">Encadrement</h3>
      <div class="userlist">
      {% for user in event.ranked_leaders() %}
        {{ macros.leader_icon(user) }}
      {% endfor %}

      {% if event.coleaders() | length %}
        <h4 class="heading-4">Co-encadrants en formation</h4>
        {% for registration in event.coleaders() %}
          <div class="useractionmenu">
            {{ macros.registration_icon(registration) }}
            {% if event.has_edit_rights(current_user) %}
            <div class="popover">
              <form class="update" action="{{url_for('event.change_registration_level', reg_id=registration.id, reg_level=registration.level.Normal)}}" method="post" onclick="this.submit();">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                Enlever des co-encadrants
              </form>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>

    {# Active registrations  #}

    <div class="subscriptions">
      <h3 class="heading-3"> Inscrits {{event.num_taken_slots()}} / {{event.num_slots}}
          {% if event.num_pending_registrations() > 0 %}
            (dont {{event.num_pending_registrations()}} en attente)
          {% endif %}

          {% if not event.has_free_slots() %}
            {% if event.has_free_waiting_slots() %}
                <span class="tag blue">LISTE D'ATTENTE</span>
            {% else %}
                <span class="tag red">COMPLET</span>
            {% endif %}

          {% endif %}
      </h3> 
 
      {% if event.num_online_slots > 0 or event.num_waiting_list > 0 %}
        <p>Les inscriptions en ligne sont possibles {{format_datetime_range(event.registration_open_time, event.registration_close_time)}}. </p>
      {% endif %}

      {% for registration in event.active_normal_registrations() %}
          <div class="useractionmenu">
            {{ macros.registration_icon(registration) }}

            {% if event.has_edit_rights(current_user) %}
            <div class="popover">
              {% if event.can_be_coleader(registration.user) %}
                <form class="update" action="{{url_for('event.change_registration_level', reg_id=registration.id, reg_level=registration.level.CoLeader)}}" method="post" onclick="this.submit();">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  Co-encadrant en formation
                </form>
              {% endif %}
            </div>
            {% endif %}
          </div>
      {% endfor %}

     {# Registrations pending licence renewal #}
      {% if event.has_edit_rights(current_user) %}
        {% for registration in event.holding_slot_registrations() if registration.is_pending_renewal() and registration.status.is_valid() %}
            <div class="useractionmenu">
            {{ macros.registration_icon(registration) }}
            </div>
        {% endfor %}
      {% endif %}

      {% if current_user.is_active %}
        {% if not current_user.has_valid_phone_number() %}
          <div class="flash-warning flash">
              {{get_bad_phone_message(current_user) | safe }}
          </div>
        {% endif %}
        {% if not current_user.has_valid_phone_number(emergency=True) %}
          <div class="flash-warning flash">
              {{get_bad_phone_message(current_user, emergency=True) | safe }}
          </div>
        {% endif %}
      {% endif %}

      {# Current user status and self-register#}

      {% if event.is_registered(current_user) %}
        <p>Vous êtes inscrit à cet évènement en tant que 
           {{event.existing_registrations(current_user)[0].level.display_name()}}
           avec le statut {{event.existing_registrations(current_user)[0].status.display_name()}}.
        </p>
      {% endif %}
 
      {% if event.is_registered(current_user) %}
        {% if event.is_rejected(current_user)%}
          <p>Votre inscription a été refusée.</p>
        {% elif event.is_unregistered(current_user)%}
          <p>Vous vous êtes désincrit. Si vous souhaitez vous réinscrire, contactez l'encadrant.</p>
        {% else %}
          {# Active registration or waiting list #}

          {%if event.is_pending_payment(current_user) %}
            <p>Votre inscription est en attente de paiement.
            <ul>
            {% for r in event.existing_registrations(current_user) %}
              {% if r.is_pending_payment() %}
                {% for payment in r.unsettled_payments() %}
                  <li><a href="{{url_for('payment.request_payment', payment_id=payment.id)}}">Procéder au paiement de '{{payment.item.title}} -- {{payment.price.title}}'</a></li>
                {% else %}
                  {# No pending payments, propose to choose item and price #}
                  {% with registration=r, is_leader=False %}
                    {% include 'partials/event/payment_item_choice.html' %}
                  {% endwith %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </ul></p>
          {%endif%}

          {% if not current_user.check_license_valid_at_time(event.end) %}
            {# Pending licence renewal #}
            <form action="{{url_for('profile.force_user_sync')}}" method="post" id="refresh_extranet">
              <p>
                Votre licence va expirer avant la fin de l'événement; votre demande d'inscription a été prise en compte, mais ne sera confirmée qu'une fois le renouvellement effectif.
                Si vous venez de renouveller votre licence, merci de resynchroniser vos informations FFCAM via le bouton ci-dessous. <br />
                <button type="submit" class="button button-secondary">
                  <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-ribbon.svg') }}"/> Resynchroniser mes informations FFCAM
                </button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </p>
            </form>
          {% endif %}

          {% if event.can_self_unregister(current_user, current_time) %}
            <form action="{{url_for('event.self_unregister', event_id=event.id)}}" method="post"   class="selfunregister">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <a  class="button button-secondary"
                  onclick="if(confirm(unregister_message{% if event.is_registered_with_status(current_user, [models.RegistrationStatus.Waiting]) %}_waiting{%endif%})) this.parentNode.submit()" >
                <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-exit.svg') }}"/> Se désinscrire
              </a>
            </form><br/><br/>
          {% endif %}

          {# Questionnaire #}
          {% include 'partials/event/questionnaire.html' %}

        {% endif %}
      {% else %}  {#  Not registered, display registration conditions #}
        {% if event.event_type.license_types %}
            Les inscriptions en ligne sont restreintes aux licenses de type {{event.event_type.license_types}},
            {% if event.event_type.has_valid_license(current_user) %}
              ce qui est votre cas.
            {% else %}
              ce qui n'est pas votre cas.
            {% endif %}
            <br/>
        {% endif %}
        {% if event.user_group and event.user_group.has_conditions() %}
            Les inscriptions en ligne sont restreintes aux 
            {% with user_group = event.user_group %}
              {% include 'partials/user-group-text.html' %}
            {% endwith %},
            {% if event.user_group.contains(current_user) %}
              dont vous faites partie.
            {% else %}
              dont vous ne faites pas partie.
            {% endif %}
            <br/>
        {% endif %}
      {% endif %}


        {% if event.can_self_register(current_user, current_time) %}
          {{ self_register.button() }}
        {% elif not event.is_confirmed() %}
          <p>Inscriptions indisponibles actuellement.</p>
        {% elif (event.num_online_slots == 0 and event.num_waiting_list == 0) or not event.has_defined_registration_date() %}
          <p>Il n'y a pas d'inscription par Internet pour cette événement</p>
        {% elif current_time < event.registration_open_time %}
            {% if payment_item_choice_form and payment_item_choice_form.item_price.choices %}
              <p>Cet événement sera payant; sous réserve de changement, les tarifs suivants vous seront proposés :
                <ul>
                  {% for id, choice in payment_item_choice_form.item_price.choices%}
                    <li>{{choice}}</li>
                  {% endfor %}
                </ul>
              </p>
            {% endif %}
        {% elif current_time > event.registration_close_time %}
          <p>Les inscriptions sont closes.</p>
        {% elif not event.has_free_online_slots()%}
            {% if event.num_online_slots != 0 %}
              <p>Le nombre maximum d'inscrits par internet a été atteint.</p>
            {% else %}
              <p>Les inscriptions se font par la liste d'attente.</p>
            {% endif %}
        {% endif %}

        {% if event.num_waiting_list != 0 and  ( not event.has_free_online_slots() or event.waiting_registrations())  %}
          <h3 class="heading-3"> Liste d'attente {{event.waiting_registrations() |length }} / {{ event.num_waiting_list }}
              {% if not event.has_free_waiting_slots() %}
                <span class="tag red">COMPLET</span>
              {% endif %}
          </h3>
          {% if event.can_self_register(current_user, current_time, true) %}
              {{ self_register.button(True) }}
          {% endif %}
          <br/>
          {% for registration in event.waiting_registrations() %}
              <div class="useractionmenu">
                {{ macros.registration_icon(registration) }}
              </div>
          {% endfor %}
        {% endif %}

    </div>


    {# Leader payment #}
    {% if event.requires_payment() and event.is_leader(current_user) %}
      <p>Cet événement est payant; en tant qu'encadrant ou bénévole, vous pouvez participer aux frais.</p>
      {% if event.has_approved_or_unsettled_payments(current_user) %}
        <ul>
        {% for payment in event.user_payments(current_user) %}
          {%if payment.is_unsettled() %}
            <li><a href="{{url_for('payment.request_payment', payment_id=payment.id)}}">Procéder au paiement de '{{payment.item.title}} -- {{payment.price.title}}'</a></li>
          {%elif payment.is_approved()%}
            <li>Vous avez réglé <a href="{{url_for('payment.payment_details', payment_id=payment.id)}}">'{{payment.item.title}} -- {{payment.price.title}}'</a></li>
          {%endif%}
        {% endfor %}
        </ul>
      {%else%}
        {% with is_leader=True%}
            {% include 'partials/event/payment_item_choice.html' %}
        {% endwith %}
      {% endif %}
    {% endif %}


    {# Payment-pending registrations #}

    {% if event.requires_payment()  and event.has_edit_rights(current_user) and event.num_pending_registrations() > 0 %}
    <div class="administration">
      <h4 class="heading-4">Inscriptions en attente de paiement</h4>
      <ul>
      {% for registration in event.registrations if registration.is_pending_payment() %}
        {{ macros.registration_admin_list_item(registration) }}<br/>
      {% else %}
        <li>Aucune inscription en attente de paiement.</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div id="description" class="collective-display--description">
      <h4 class="heading-3">Description</h4>
      {{ event.rendered_description | safe  }}
    </div>

    {% if event.uploaded_files | length %}
    <div id="uploaded_files">
      <strong>Fichier joints: </strong>
      {% for file in event.uploaded_files %}
        <a class="collective-display--uploaded-file-link" href="{{file.url()}}">{{file.name}} <span>({{format_bytes(file.size)}})</span></a>
      {% endfor %}
    </div>
    {% endif %}

    {% if event.user_answers(current_user) %}
    <h3 class="heading-3">Vos réponses au questionnaire</h3>
    Pour rappel, vous avez fourni les réponses suivantes. Pour les modifier, contactez l'encadrant.

    {% for qa in event.user_answers(current_user) %}
    <p>
    <span class="h-s">{{qa.question.title}}</span>
    {{qa.value}}
    </p>

    {% endfor %}
    {% endif %}

    {% if event.requires_payment() %} {% include 'partials/event/payment_item_list.html' %} {% endif %}
    <br/>



    {# Administration #}
    {% include 'event/partials/admin.html' %}
    
  </div>
</div>


{% endblock %}
