<html>
    <head>
        <title>{{event.title}} -- Fiche collective</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/print-event.css') }}">
    </head>
    <body>


        <div id="emergency">
            <ul>
            <li><span class="what">Nivo météo :</span> <span class="phone">08 92 68 10 20</span></li>
            <li><span class="what">Secours :   </span> <span class="phone">112</span></li>
            <li><span class="what">{{Configuration.CLUB_NAME}}:</span> <span class="phone">{{Configuration.CLUB_PHONE}}</span></li>
            </ul>
        </div>
        
        <div id="logo"><img 
            style = "max-width: 200px; max-height: 50px" 
            src="{{ url_for('static', filename=Configuration.CLUB_LOGO) }}"></div>

        <div id="title">
            <h2 class="heading-2">
                {{event.event_type.name | capitalize}} 
                {%if activity_names|length%}
                 de {{','.join(activity_names)}} 
                {%endif%}
                 &mdash; 
            </h2>
            <h1 class="heading-1">{{event.title}}</h1>
        </div>

        <div id="description">
            <pre>
            {{description | safe}}
            </pre>
        </div>

        <div id="info">
            <div id="leaders">
                <h4 class="heading-4">Encadrement : </h4>
                {%for leader in event.ranked_leaders()%}
                <div class="leader {% if leader.id == event.main_leader_id %} main {% endif %}">
                    <span class="name">{{leader.full_name()}}</span>
                    <span class="phone">{{leader.phone}}</span>
                    <span class="email">{{leader.mail}}</span>
                </div>
                {%endfor%}
            </div>
            
            <div id="dates">
                <ul>
                    <li><span>Départ</span> : {{format_date(event.start)}}</li>
                    <li><span>Retour</span> : {{format_date(event.end)}}</li>
                </ul>
            </div>
        </div>


        <table id="registrations">
            <thead>
                <tr>
                    <th></th>
                    <th>Licence</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>E-mail</th>
                    <th>En cas d'accident</th>
                    <th>Absent</th>
                </tr>
            </thead>
            <tbody>
                {% for reg in event.active_registrations()|sort(attribute='user.first_name,user.last_name') %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{loop.index}}</td>
                    <td>{{reg.user.license}}</td>
                    <td>{{reg.user.full_name()}}</td>
                    <td>{{reg.user.phone if reg.user.phone != None else 'Non renseigné'}}</td>
                    <td>{{reg.user.mail}}</td>
                    <td>{{'{} ({})'.format(reg.user.emergency_contact_name, reg.user.emergency_contact_phone)}}</td>
                    <td class="presence"><input type="checkbox"></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

        <div id="footer">
            <h3 id="observations">Observations :</h3>
            <h3 id="signature">Signature :</h3>
        </div>

    </body>
    <script>window.print();</script>
</html>
