<h4 class="heading-4">{{ titre or 'Ajouter un modèle' }}</h4>

<div class="modal_form_container">
  <form action="{{ route }}" method="post" class="modal_form">
      {% for field in form%}
        {% for error in form.errors[field.name] %}
          <div class="flash flash-error">
            <strong>Erreur : {{field.label}} :</strong> {{error}}
          </div>
        {% endfor %}
      {% endfor %}

      <div class="modal_form_input_box">
        Nom {{ form.name }}
      </div>

      <div class="modal_form_input_box">
        Fabricant {{ form.manufacturer }}
      </div>

      {{ form.submit(class="button button-primary") }}

      {{ form.hidden_tag() }}
    </form>
</div>