{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}



{% block content %}


    <!-- Display all equipment model-->
    {% with formAjoutModel=formAjoutModel, 
        listEquipementModel=equipmentType.models,
        equipmentType=typeSelected,
        formEditModel=formEditModel,
        modelId=modelId,
        deleteFormModel=deleteFormModel,
        typeId=equipmentType.id
        %}
        {% include "equipment/gestion/equipmentModel/displayAll.html" %}
    {% endwith %}
        


{% endblock %}