{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}


{% block additionalhead %}


  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Autocomplete for leader lookup #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/event/eventlist.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

{% endblock %}


{% block scriptJsBody %}

  {# Script JS in body tag #}
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}


{% block content %}

<div class="panel">
  
  <h3><a href="{{ url_for('equipment.view_equipment')}}" class="link_path"> <span class="title_first_path">GESTION DU MATÉRIEL</span></a> 
    <a href="{{ url_for('equipment.view_equipment_type')}}" class="link_path"> <span class="title_second_path">/  MATÉRIEL</span> </a> 
  </h3>

  <h4>Type équipement n° {{ equipmentType.id }} </h4>


  <div class="container_equipmentInfo">

    <div class="container_equipmentInfo_top">


      <div class="container_equipmentInfo_img">
        <img src=" {{ 
          url_for('static', filename='uploads/typeEquipmentImg/') + equipmentType.pathImg 
          if equipmentType.pathImg else 
         url_for('static', filename='img/icon/ionicon/md-images.svg') }}" alt="">
        
      </div>



      <div class="container_equipmentInfo_txt">
  
        <div class="container_main_info">
          <h5>Informations :</h5>

          <p> <span class="type_info">Type :</span>  {{ equipmentType.name }} </p>


        </div>


        <div class="container_location_info">

          <h5>Location :</h5>
          <div class="container_info_sub">
            <p> <span class="type_info">Prix :</span> {{ equipmentType.price }} € </p>
            <p> <span class="type_info">Caution :</span> {{ equipmentType.deposit or "- "}}€ </p>
          </div>
          
        </div>

      </div>


    </div>

  </div>



  <h4>Modèle{{"s" if equipmentType.nbModels()>1}} ({{equipmentType.nbModels()}}) : </h4>
  <p class="button button-primary button-small button-open-modal">Ajouter</p>


  <!-- Display all equipment model-->
  {% with formAjoutModel=formAjoutModel, 
      listEquipmentModel=equipmentType.models,
      equipmentType=typeSelected,
      formEditModel=formEditModel,
      modelId=modelId,
      deleteFormModel=deleteFormModel,
      typeId=equipmentType.id
      %}
      {% include "equipment/gestion/equipmentModel/displayAll.html" %}
  {% endwith %}




  <div id="equipmentModel"></div>

  <script>
    var ajaxURL= '/api/modelsfromtype/{{equipmentType.id}}';
  
    //initialize table
    let table = new Tabulator("#equipmentModel", {
      ajaxURL:ajaxURL,
      layout:"fitColumns",      //fit columns to width of table
      responsiveLayout:"hide",  //hide columns that dont fit on the table
      tooltips:true,            //show tool tips on cells
      addRowPos:"top",          //when adding a new row, add it to the top of the table
      history:true,             //allow undo and redo actions on the table
      pagination:"local",       //paginate the data
      paginationSize:7,         //allow 7 rows per page of data
      movableColumns:true,      //allow column order to be changed
      resizableRows:true,       //allow row order to be changed
      initialSort:[             //set the initial sort order of the data
          {column:"name", dir:"asc"},
      ],
      columns:[                 //define the table columns
        //{title:"id", field:"id", formatter:"number"},
        {title:"Name", headerFilter:"input",field:"name"},
      ],
       //create columns from data field names
    });
  </script>
      
</div>





{% endblock %}