  <h1 class="modal_form_title">{{ title or 'Éditer un type d''équipement'}}</h1>

  <div class="form-errors">
    {% for field in form %}
    {% for error in form.errors[field.name] %}

    <div class="flash flash-error">
      <strong>Erreur : {{field.label}}</strong> {{error}}
    </div>

    {% endfor %}
    {% endfor %}

    {% if form.generic_error %}
    <div class="flash flash-error">
      <strong>Erreur :</strong> {{form.generic_error}}
    </div>
    {% endif %}
  </div>

  <div class="modal_form_container">

    <form method="POST" action="{{route}}" enctype="multipart/form-data" class="modal_form">

      {{ form.hidden_tag() }}

      <div class="modal_form_input_box">
        {{ form.name.label }}
        {{ form.name }}
      </div>

      <div class="modal_form_input_box">
        {{ form.price.label }}
        {{ form.price }}
      </div>

      <div class="modal_form_input_box">
        {{ form.deposit.label }}
        {{ form.deposit }}
      </div>

      <div class="modal_form_input_box">
        {{ form.imageType_file.label }}
        {{ form.imageType_file }}
      </div>

        {{ form.submit(class="button button-primary") }}

      </form>

    </div>

  </div>




