{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}

{% block additionalhead %}

  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

 {# Axios #}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  {# Autocomplete for leader lookup #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/event/eventlist.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

{% endblock %}


{% block scriptJsBody %}

  {# Script JS in body tag #}
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/equipment/form_equipment_model.js') }}"></script>
{% endblock %}


{% block content %}

<div class="panel"  id="equipmentDetail">

  <h3>
    <a href="{{ url_for('equipment.stock_situation')}}" class="link_path"> <span class="title_first_path">GESTION DU MATÉRIEL</span></a>
    <a href="{{ url_for('equipment.display_all_type')}}" class="link_path"> <span class="title_second_path">/  MATÉRIEL</span> </a>
  </h3>

  <h4>Type équipement: {{ equipmentType.name }} </h4>
  <div class="container_equipmentInfo">
    <div class="container_equipmentInfo_top">
      <div class="container_equipmentInfo_img">
        <img src=" {{
          url_for('static', filename='uploads/typeEquipmentImg/') + equipmentType.pathImg
          if equipmentType.pathImg else
         url_for('static', filename='img/icon/ionicon/md-images.svg') }}" alt="">

      </div>

      <div class="container_equipmentInfo_txt">
        <div class="container_main_info">
          <h5>Informations :</h5>
          <p> <span class="type_info">Type :</span>  {{ equipmentType.name }} </p>
        </div>

        <div class="container_location_info">
          <h5>Location :</h5>
          <div class="container_info_sub">
            <p> <span class="type_info">Prix :</span> {{ equipmentType.price }} € </p>
            <p> <span class="type_info">Caution :</span> {{ equipmentType.deposit or "- "}}€ </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h4>Modèle{{"s" if equipmentType.nb_models()>1}} ({{equipmentType.nb_models()}}) : </h4>
  <p class="button button-primary button-small" id="btn_display_form_model">Ajouter</p>

  <div class="form_model display-none">
    {% with form=adding_from_model, route=url_for('equipment.detail_equipment_type', typeId=equipmentType.id) %}
    {% include "equipment/gestion/equipmentModel/edit_equipment_model.html" %}
    {% endwith %}
  </div>

  <div id="equipment-model-table"></div>

  <div class="administration">
    <h4>Administration</h4>
    <div class="administration-buttons">
      <p class="button button-secondary button-open-modal">
        <img src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}" alt="" class="icon">
        Éditer
      </p>

      {% with form=deleteForm, route=url_for("equipment.delete_equipment_type",equipmentTypeId=equipmentType.id), message="Êtes-vous sûr de vouloir supprimer ce type d\\'équipement ?\\nCette action supprimera tous les modèles liés à ce type ainsi que tous les équipements" %}
        {% include 'equipment/gestion/delete_form.html' %}
      {% endwith %}

      {% if formEdit is defined %}
        {% with form=formEdit, route=url_for("equipment.edit_equipment_type", typeId=equipmentType.id),
        includePath='equipment/gestion/equipmentType/edit_equipment_type.html', titre="Editer un équipement" %}
          {% include 'partials/modal.html' %}
        {% endwith %}
      {% endif %}

    </div>
  </div>






  <script>
    var ajaxURL= "{{url_for('api.equipmentModel', typeId=equipmentType.id)}}";
    const token_csrf = "{{ csrf_token() }}" ;
  </script>

  <script src="{{ url_for('static', filename='js/equipment/tabulator_equipment_models.js') }}"></script>

</div>





{% endblock %}