#administration #users-table{
  max-width: 800px;
  margin: auto;
}

#administration .action{
  max-width: 800px;
  margin: auto;
}



#administration form{
  padding: 10px 20px;
}

#administration label{
  width : 30%;
  margin-bottom: 1em;
}
#administration input{
  width : 40%;
  margin-bottom: 1em;
}

#administration input[type=submit] {
	margin: 8px 0;
	width: 50%;
}
