
body{
	margin: 0;
	background-color: white;
	font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

#playground{
	margin-top: 60px;
}

.panel{
	max-width: 1100px;
	margin: auto;
	min-height: 100vh;
	padding: 60px 10px 20px;
    background-color: white;
}

.panel h3{
	margin: 0 0 1em;
	text-align: left;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bolder;
}

.panel h4{
  text-align: left;
  font-size: 1.5em;
  margin:auto;
  margin-top: 2em;
  color:  rgb(235,105,28);
}

/* LOGIN PLACE */
#logger{

	width: 50%;
	position: absolute;
	top: 50%;
	right:0;
	transform: translate(  0px, -50%);
	z-index: 400;

	background-color: white;
	color: black;

	padding: 10px 30px;
	border-radius: 20px 0 0 20px;

	font-size: 1em;
	font-family: 'Nunito Sans', sans-serif;
}
/* Mobile Adjustment : smaller motto*/
@media only screen and (max-width:1000px) {
	#logger{
		width: 85%;
		top: 40%;
	}
}
#logger form{
	max-width: 400px;
}

#logger input[type=text], #logger input[type=password] {
	background-color: transparent;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ca3127;
	border-radius: 5px;
	color: black;
	font-size: 1.5em;
	width: 100%;
}
#logger input[type=submit]{
	background-color: #00a6cf;
	box-sizing: border-box;
	margin: 8px 0;
	padding: 1em;
	border: none;
	font-size: 1em;
	width: 100%;

	border-radius: 5px;
	color: white;

}
#logger h3
{
	text-align: center;
	height:0;
}
#logger .head
{
	height: 75px;
	background-color: white;
	border-radius: 68px;
	position: relative;
	top: -80px;
	padding: 20px;
	z-index: -1;
}
#logger label{
	font-weight: bold;
	line-height: 50%;
	padding-top: 5px;
	z-index: 20;
}

.contact-link{
	text-align: justify;
}
.contact-link a{
	text-decoration: underline;
}
.contact-link a:hover{
	text-decoration: none;
}


#footer{
	width: 100%;
	margin: 6em 0 0 0;
	padding: 4em 0 ;
	background-color: #5a4d4b;
	color:white;
}
#footer a{
	color:white;
}
#footer .container{
	max-width: 600px;
	margin:auto;
	display: flex;
	justify-content: space-between;
}
#footer .logo{
	float: left;
	margin: 0 20px;
}

/* Flash panel for messages */
#messages{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
}
#messages .innermessages{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	border-radius: 20px;
	padding: 50px 30px;
	min-width: 600px;
	z-index: 3000;
}
#messages .veil{
	background-color: rgba(0, 0, 10, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2500;
}
#messages h3{
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}
#messages .close{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	height: 30px;
}

#messages .message::before{
	height: 2em;
	width: 2em;
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
#messages .error::before{
	content: url("../img/icon/ionicon/md-close-circle.svg");
}
#messages .warning::before{
	content: url("../img/icon/ionicon/md-alert.svg");
}
#messages .success::before{
	content: url("../img/icon/ionicon/md-checkmark-circle.svg");
}

/* HEADER */
#header{
	background-color: white;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 2000;
	top: 0;
	left: 0;
	background-image: url("/static/caf/friseffcam_bleu.png");
	background-position: right;
}
#header h2 img{
	height:1em;
	position: relative;
	top: .2em;
}

#header h2{
	float:	right;
	text-align: right;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	vertical-align: middle;
	line-height: 60px;
	font-size: 40px;
	background-color: rgba(0, 104, 128,.75);
	padding: 0px 20px;
}
#header h2 a{
	color: white !important;
	text-decoration: none;
}
#header .item{
	height: 60px;
	display: inline-block;
	margin: 0;
	line-height: 60px;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 2em;
	padding: 0 10px;
	background-color:  rgba(255,255,255,.7);
}
#header .item:hover{
	background-color:  rgba(200,200,200,.7);
}
#header .item img{
	height: 50%;
	vertical-align: middle;
	position: relative;
	bottom: .15em;
}

#header #menu{
	line-height: 1px;
	position: relative;
	background-color: rgb(29,105,137)	;
}
#header #menu .content{
	line-height: 50px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
#header #menu:hover .content{
	display: block;
}
#header #menu:hover .content img{
	height: 1em;
	position: relative;
	top: -.1em;
}
#header #menu .content a{
	color: black;
	padding: 12px 16px;
	display: block;
	text-decoration:none;
}
#header #menu .content a:hover{
	background-color: #00a6d0;
	text-decoration:none;
}
#header .menubutton{
	height: 100% !important;
	cursor: pointer;
	filter: invert(1);
}
/* Identity space (top left user space) */
#header #logout{
	width: 60px;
	text-align: center;
}



/* Footer at the bottom of the page */
#footer{
	width: 100%;
	margin: 6em 0 0 0;
	padding: 4em 0 ;
	background-color: #5a4d4b;
	color:white;
}
#footer a{
	color:white;
}
#footer .container{
	max-width: 600px;
	margin:auto;
	display: flex;
	justify-content: space-between;
}
#footer .logo{
	float: left;
	margin: 0 20px;
}

/* Flash panel for messages */
#messages{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 10, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
}
#messages .innermessages{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	border-radius: 20px;
	padding: 50px 30px;
	min-width: 600px;
}
#messages h3{
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}
#messages .close{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	height: 30px;
}




/* Generic css classes across the site */
.user{
	float: left;
	width: 80px;
	text-align: center;
	padding: 5px;
}
.user:hover{
	background-color: rgba(0,0,0, .1);
}
.user .avatar{
	margin:auto;
	height: 60px;
	width: 60px;
	background-size: cover;
	border-radius: 5px;
	background-color: white;
}

button, a.button{
	border-radius: 5px;
	background-color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	padding: 8px 10px;
	text-decoration:none;
	border:0;
}
button:hover, a.button:hover{
	text-decoration:none;
	background-color: #dddddd;
}

.avatar{
	border-radius: 5px;
	background-color: white;
	height: 30px;
	width: 30px;
}
.avatar.big{
	height: 200px;
	width: 200px;
}

/* User icon display*/
.usericon {
	position: relative;
	min-width: 150px;
	height: 60px;
	display: inline-block;
	margin : 10px 20px;
	padding-right: 15px;

	background: #F5F5F5;
	border: 2px solid #006880;
	border-left: none;
	box-sizing: border-box;
	border-radius: 30px;

	font-size: 20px;
}
.usericon img.avatar{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: relative;
	top: -2px;
	left: -2px;
	background-color: #CDCDCD;
	vertical-align: middle;
}

.usericon .name a{
	color: #121F22 !important;
}

.usericon span.license-tag{
	border-radius: 5px;
	padding: 2px;
}
.usericon span.youth{
	background-color:orange;
}
.usericon span.minor{
	background-color:orangered;
}

.tag{
	border-radius: 5px;
	display: inline-block;
	padding: 3px 5px;
}

.tag.red{
	color: white;
	background-color: red;
}

img.icon{
	height: 1em;
}

/* UTILS */
/* class used to cancel a float */
.breaker{
	clear: both;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}

form {
	text-align:center;
}

form p{
	text-align:left;
}

form.inline{
    display: inline;
	text-align:left;
}

form label{
  font-weight: bold;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}

form input, form select{
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

form input[type=submit] {
	background-color: #00a6cf;
	box-sizing: border-box;
	border: none;
    text-align: center;
    font-weight: bold;
	padding: 1em;
	font-size: 1em;

	border-radius: 5px;
	color: white;
	cursor:pointer;
}

form input[type=submit]:hover {
	background-color: #0096bf;
}

form.inline input[type=submit] {
	padding: 0.5em;
	margin: auto;
	margin-bottom: 0.5em;
	font-size: 0.8em;
}

/* Class for the cover image (skiing man) */
#cover{
	margin: 0;
  	background-image: url("/static/caf/dsc_2983_2.jpg");
  	background-position: left;
  	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
#cover::before{
       content: "";
       z-index: 10;
       display: block;
       position: absolute;
       border-bottom: 15vh solid white;
       border-left: 100vw solid  transparent;
       bottom: 0;
	   margin: 0;
	   width: 0;
}

#cover div{
	width: 100%;
}
#cover  .motto{
	max-width: 90%;

}
#cover  .arrow{
	width: 6em	;
	filter: invert(1); /* Make arrow white */
	animation: votre_animation 1.5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	cursor: pointer;
}

/* use flexbox to have a label in front of an input on the same line,
 but the input can take up to the rest of the space*/
.inputGrow{
	display: flex;
}
.inputGrow .grow{
	flex-grow: 20;
}


.flex{
	display: flex;
}

.leftalign{
	text-align: left !important;
}

@keyframes votre_animation{ to{
       transform: scale(1.4)
}}

#legal p{
	text-justify:auto;
	margin-bottom: 0cm;
}

#legal h5{
	font-size: 1.1em
}

#legal ol{
	padding: 1.5em;
	margin-bottom: 1.5em
}

#legal ol li{
	padding: 1em
}

#legal ul li{
	padding: .2em
}

