body {
    width: 21cm;
    font-family: Arial, Helvetica, sans-serif;
}

div#buyer_info {
    float: right;
    width: 40%;
    margin-right: 2em;
    text-align: right;
}

div#buyer_info ul {
    list-style-type: none;
}

div#buyer_info li.email {
    font-style: italic;
}

div#logo {
    margin-bottom: 3em;
}

h1.title {
    clear: both;
    text-align: center;
}

div#main {
    width: 100%;
    text-align: center;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table thead th {
    border: 1px solid black;
    background-color: linen;
}

table tfoot th {
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table tfoot td {
    background-color: linen;
    font-weight: bold;
}

table td {
    border: 1px solid black;
    padding-left: 0.5em;
}

table td.num {
    text-align: center;
}

ul.address {
    list-style-type: none;
    text-align: center;
    margin-top: 5cm;
}

ul.address li {
    display: inline;
    font-style: italic;
}
