$padding-vertical-default: 0.6rem;
$padding-horizontal-default: 1.3rem;

$padding-vertical-xxs: 0.2rem; // 2px
$padding-horizontal-xxs: 0.4rem; // 6px

$padding-vertical-xs: 0.3rem; // 3px
$padding-horizontal-xs: 0.6rem; //9px

$padding-vertical-s: 0.4rem; // 6px
$padding-horizontal-s: 1.3rem; //20px

$padding-vertical-m: 0.8rem;
$padding-horizontal-m: 1.9rem;

$padding-vertical-l: 1.6rem;
$padding-horizontal-l: 2.2rem;

$padding-vertical-xl: 3rem;
$padding-horizontal-xl: 4.2rem;


$padding-default: $padding-vertical-default $padding-horizontal-default;

$padding-sections: (2*$padding-vertical-default) $padding-horizontal-default;
$padding-sections-mobile: (2*$padding-vertical-default) $padding-horizontal-s;


$padding-xs: $padding-vertical-xs $padding-horizontal-xs;
$padding-s: $padding-vertical-s $padding-horizontal-s;
$padding-m: $padding-vertical-m $padding-horizontal-m;
$padding-l: $padding-vertical-l $padding-horizontal-l;
$padding-xl: $padding-vertical-xl $padding-horizontal-xl;

$padding-buttons-default: $padding-vertical-m $padding-horizontal-m;


$padding-input-vertical-default: 0.8rem;
$padding-input-horizontal-default: 1rem;

$padding-input-default: $padding-input-vertical-default $padding-input-horizontal-default;
