{% extends 'base.html' %}


{% import 'macros.html' as macros with context %}

{% block header %}
  {% block title %}Liste{% endblock %}
{% endblock %}


{% block additionalhead %}


  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>

  <script type="text/javascript" src="https://unpkg.com/moment@2.30.1/min/moment.min.js"></script>

  {# Autocomplete for leader lookup #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/event/eventlist.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>

{% endblock %}



{% block content %}

  <div class="page-content">

    <h1 class="heading-1">
      <a href="{{ url_for('equipment.stock_situation')}}" class="link_path"> <span class="title_first_path">Gestion du matériel</span></a>
    </h1>

    <h4 class="heading-4">Accès direct</h4>
    <a href="{{ url_for('equipment.display_all_type')}}" class="button button-primary">Types de matériels</a>
    <a href="{{ url_for('equipment.stock_situation_stock')}}" class="button button-primary">Stock</a>

    <h4 class="heading-4">État des stocks en temps réel</h4>

    <div id="equipment-state"></div>

    <script>
      var ajaxURL = "{{url_for('api.equipment_types')}}";
    </script>

    <script src="{{ url_for('static', filename='js/equipment/tabulator_equipment_stock_situation.js') }}"></script>

  </div>


{% endblock %}