

  <div id="prices">
    <h3 class="heading-3">Tarifs</h3>
    <div id="payment_item_table" >
      {% for item in event.payment_items %}
      {% for price in item.prices if price.enabled %}

        <div class="leader-entry">
          <div class="leader-left"><b>{{item.title}}</b> - {{ price.title }} 
            
              {% if (price['start_date'] or price['end_date'] or price['max_uses'] or (price.user_group and price.user_group.has_conditions())) %} 

                {%- set comma = "" %}
                {%- if(price['start_date']) %}
                  -<i> A partir du {{price['start_date'].strftime('%d/%m/%Y')}}</i>
                {%- endif %}

                {%- if(price['end_date']) %}
                  -<i> Jusqu'au {{price['end_date'].strftime('%d/%m/%Y')}}</i>
                {%- endif %}

                {%- if(price['max_uses']) %}
                  -<i>  {{price['max_uses']}} maximum ({{price.active_use_count()}} déjà commandés)</i>
                {%- endif %}

                {%- if(price.user_group and price.user_group.has_conditions) %}
                  -<i>  Réservé aux 
                  {% with user_group = price.user_group %}
                    {% include 'partials/user-group-text.html' %}
                  {% endwith %}
                  </i>
                {%- endif %}

              {%- endif %}

            
          </div>
          <div class="leader-right">{{ price.amount }}€</div>
        </div>
      {% endfor %}{% endfor %}
    </div>
  </div>