
   {% if payment_item_choice_form and payment_item_choice_form.item_price.choices | length %}

    <p>
        Cette collective est payante; votre inscription ne sera définitive qu'une fois le paiement en ligne effectué. 
        Sauf circonstances exceptionelles une éventuelle désinscription ne donnera lieu à aucun remboursement; veuillez
        vous référer aux <a href="{{url_for('static', filename=config['PAYMENTS_TERMS_FILE'])}}">conditions de vente du club</a>.
    </p>
    {% if registration %}
        <form action="{{url_for('event.select_payment_item', event_id=event.id)}}" method="post">
        <strong>Finaliser l'inscription</strong>
    {% else %}
        <form action="{{url_for('event.self_register', event_id=event.id)}}" method="post">
        <strong>Inscription</strong>
    {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            {{payment_item_choice_form.item_price.label}} :
            <ul class="radio_fields">
            {% for option in payment_item_choice_form.item_price %}
                <li>{{option(required=1)}} {{option.label}} </li>
            {% endfor %}
            </ul>
        </div>
        <div>
            L'inscription à un événement vous engage à y participer.
        </div>
        <div>
            <label>
                {{payment_item_choice_form.accept_payment_terms}}
                J'ai lu et j'accepte les <a href="{{url_for('static', filename=config['PAYMENTS_TERMS_FILE'])}}">conditions générales de vente</a>.
            </label>
        </div>
        <div>
            <label>
                {{payment_item_choice_form.accept_guide}} J'ai lu et j'accepte le
                <a href="{{ url_for('static', filename='caf/doc/guide_collectives/'+config['GUIDE_FILENAME']) }}">guide d'organisation des sorties et des séjours du Club Alpin Français d'Annecy</a>
            </label>
        </div>
        <br/>
        {{payment_item_choice_form.submit(class="button button-primary")}}
    </form>
   {% else %}
      Les conditions tarifaires actuellement définies pour cette collective ne s'appliquent pas à votre profil.
   {% endif %}
