

  <div id="prices">
    <h3 class="heading-3">Tarifs</h3>
    <div id="payment_item_table" >
      {% for item in event.payment_items %}
      {% for price in item.prices if price.enabled %}

        <div class="leader-entry">
          <div class="leader-left"><b>{{item.title}}</b> - {{ price.title }} 
            
              {% if (price['start_date'] or price['end_date'] or price['max_uses'] or price['leader_only'] or price['license_types'] or price['parent_event_id'] ) %} 

                {%- set comma = "" %}
                {%- if(price['start_date']) %}
                  -<i> A partir du {{price['start_date'].strftime('%d/%m/%Y')}}</i>
                {%- endif %}

                {%- if(price['end_date']) %}
                  -<i> Jusqu'au {{price['end_date'].strftime('%d/%m/%Y')}}</i>
                {%- endif %}

                {%- if(price['max_uses']) %}
                  -<i>  {{price['max_uses']}} maximum ({{price.active_use_count()}} déjà commandés)</i>
                {%- endif %}


                {%- if(price['leader_only']) %}
                  -<i>  Réservé aux encadrants de la sortie</i>
                {%- endif %}

                {%- if(price['license_types']) %}
                  -<i>  Réservé aux licences {{price['license_types']}}</i>
                {%- endif %}

                {%- if(price['parent_event_id']) %}
                  -<i>  Réservé aux participants de <a href="{{url_for("event.view_event", event_id=price.parent_event.id)}}">{{price.parent_event.title}}</a></i>
                {%- endif %}
              
              {%- endif %}

            
          </div>
          <div class="leader-right">{{ price.amount }}€</div>
        </div>
      {% endfor %}{% endfor %}
    </div>
  </div>