{% if event.requires_payment() %}
    {% include 'partials/event/payment_item_choice.html' %}
{% else %}
    <form action="{{url_for('event.self_register', event_id=event.id)}}" method="post" onclick="if(confirm('L\'inscription a un événement vous engage à y participer. Confirmez-vous l\'inscription?')) this.submit()" class="usericon selfsubscribe">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <img class="avatar" src="{{ url_for('static', filename='img/icon/ionicon/md-person-add.svg')   }}" />
        <span class="name">S'inscrire</span>
    </form>
{% endif %}