{% if event.requires_payment() %}
    {% include 'partials/event/payment_item_choice.html' %}
{% else %}
    <form
            action="{{url_for('event.self_register', event_id=event.id)}}"
            method="post"

        >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div
                class="usericon selfsubscribe"
                onclick= "this.nextSibling.nextSibling.style.display='block'"
            >
            <img class="avatar" src="{{ url_for('static', filename='img/icon/ionicon/md-person-add.svg')   }}" />

            <span class="name" >S'inscrire</span>
        </div>

        <div class="messages" style="display:none">
            <div class="innermessages">
                <img
                                src="{{ url_for('static', filename='img/icon/ionicon/md-close-circle-outline.svg') }}"
                                class="close"
                                onclick= "this.parentNode.parentNode.style.display='none'"
                            />
                <h3>Confirmation</h3>
                <p>L'inscription à un événement vous engage à y participer.<br/>
                    <label><input type="checkbox" onchange="document.getElementById('submitSelfRegister').disabled = !this.checked;"/> J'ai lu et j'accepte le <a href="{{ url_for('static', filename='caf/doc/guide_collectives/2020-12-03 - CAF Annecy Organisation des sorties.pdf') }}">guide d'Organisation des sorties et des séjours du Club Alpin Français d'Annecy</a></label><br/>
                </p>
                <h4 class="centeralign">Confirmez-vous l'inscription? <br/> <input type="submit" id="submitSelfRegister" value="Confirmer" class="button button-primary" disabled=true></h4>
            </div>
            <div class="veil" onclick= "this.parentNode.style.display='none'"></div>
        </div>

    </form>
{% endif %}
