.max-100pc{
    max-width: 100%;
}

.card {
    position: relative; 
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 0.5px solid #e6e6e6;

    &.tall{
        height: 400px;
    }

    .tooltip{
        position: absolute;
        bottom: 5px;
        right: 10px;

        .text {
            visibility: hidden;
            min-width: 300px;
            background-color: rgb(51, 51, 51);
            color: #fff;
            text-align: justify;
            padding: 10px;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            right: 105%; 
          }

        img{
            height: 1.5em;
            width: 1.5em;
            opacity: 0.75;
        }
    }
    .tooltip:hover .text, .tooltip:active .text {
        visibility: visible;
    }

    & .card-info{
        display: flex;
        gap: $padding-horizontal-xs;
        align-items: center;
        line-height: 1;
    }

    &.single-stat{
        text-align: center;

        .value{
            font-size: 4em;
            font-weight: bold;
        }

        .header-3{
            font-weight: normal;
        }
    }
}

.card-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(2em, auto);



    @for $i from 1 through 6 {
      &.grid-columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    > * {
        flex-grow: 1;
    }
    @media screen and (max-width: 680px) {
        > * {
            width: 100%;
        }
    }
}

