.collective-display {
    &--photo {
        max-height: 600px;
        margin: auto;
        display: block;
        max-width: 100%;
    }

    &--header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: $padding-vertical-l;
        text-align: center;

        @media screen and (max-width: 700px) {
            flex-direction: column-reverse;
            gap: $padding-vertical-s;
        }
        
    }

    &--activity-type {
        min-width: 60px;
        margin-top: 8px;

        img{
            width: 90px;
            @media screen and (max-width: 700px) {
                width: 50px;
            }
        }
    }

    &--date {
        color: $color-blue-primary-dark;
        font-weight: $font-weight-medium;
        font-size: $font-size-m;
    }

    &--description {
       padding-bottom: $padding-vertical-l;

       table{
            border-collapse: collapse;
       }
       td, th{
            border: 1px solid #bbbbbb;
       }
    }

    &--administration {
        padding: $padding-sections;
        background: $color-white;
        border: 1px solid $color-gray-light;
        
        @media screen and (max-width: 700px) {
            padding: $padding-sections-mobile;
        }
    }

    &--administration-title {
       color: $color-blue-primary-dark;
    }

    .contactinfos {
        .inputGrow {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: $padding-horizontal-xs;
        }

        .inputGrow > label {
            min-width: 260px;
            margin: 0;
        }

        .inputGrow .grow {
            flex: 1 1 auto;
            min-width: 0;
        }

        .inputGrow input[type="button"] {
            flex-shrink: 0;
        }

        @media screen and (max-width: 700px) {
            .inputGrow {
                align-items: stretch;
                flex-wrap: wrap;
            }

            .inputGrow > label {
                min-width: 100%;
            }

            .inputGrow .grow {
                width: 100%;
            }
        }
    }
    
    &--uploaded-file-link {
        display: inline-block;
        border-radius: 25px;
        padding: 5px 15px 5px 15px;
        background: $color-white;
        height: 52px;
        line-height: 40px;
        width: -moz-fit-content;
        width: fit-content;
        color: $color-blue-primary-dark;
        border: 1px solid $color-white;
        font-weight: $font-weight-medium;
        font-size: $font-size-s;
        box-sizing: border-box;

        span {
            text-decoration: none;
            color: $color-black;

        }

        &:hover {
            background: $color-white;
            border: 1px solid $color-gray-light;
            text-decoration: none;
        }
    }
}