.collectives-list {
    &--item {
        &--activity-type {

        }
        
        &--photo {
            
        }

        &--details {
            &-heading {
                margin: $padding-vertical-s 0;
            }
            &-date {
                color: $color-gray-medium;
                font-weight: $font-weight-medium;
                font-size: $font-size-m;
                margin: $padding-vertical-s 0;
            }
            &-leader {
                margin: $padding-vertical-s 0;
            }
        }
    }
}