.collective-display {
    &--photo {
        max-height: 600px;
        margin: auto;
        display: block;
        max-width: 100%;
    }

    &--header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: $padding-vertical-l;
    }

    &--activity-type {
        min-width: 60px;
        margin-top: 8px;
    }

    &--date {
        color: $color-blue-primary-dark;
        font-weight: $font-weight-medium;
        font-size: $font-size-m;
    }

    &--description {
       padding-bottom: $padding-vertical-l;

       table{
            border-collapse: collapse;
       }
       td, th{
            border: 1px solid #bbbbbb;
       }
    }

    &--administration {
        padding: $padding-sections;
        background: $color-white;
        border: 1px solid $color-gray-light;
    }

    &--administration-title {
       color: $color-blue-primary-dark;
    }
    
    &--uploaded-file-link {
        display: inline-block;
        border-radius: 25px;
        padding: 5px 15px 5px 15px;
        background: $color-white;
        height: 52px;
        line-height: 40px;
        width: -moz-fit-content;
        width: fit-content;
        color: $color-blue-primary-dark;
        border: 1px solid $color-white;
        font-weight: $font-weight-medium;
        font-size: $font-size-s;
        box-sizing: border-box;

        span {
            text-decoration: none;
            color: $color-black;

        }

        &:hover {
            background: $color-white;
            border: 1px solid $color-gray-light;
            text-decoration: none;
        }
    }
}