.flash {
    padding: $padding-default;
    margin: 0 0 $padding-horizontal-default;
    &-success {
        background: lighten($color-success-light, 45%);
        color: $color-success-dark;
    }
    &-info {
        background: lighten($color-blue-primary-dark, 60%);
        color: $color-blue-primary-dark;
    }
    &-warning {
        background:  lighten($color-warning-light, 40%);
        color: darken($color-warning-dark, 10%);
    }
     &-error {
        background: lighten($color-error-light, 45%);
        color: $color-error-dark;
    }
}

