.login-form {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 48em;
    position: relative;
    z-index: 5;
    // We're overlaying this on the #cover element
    top: -90vh;
    @media screen and (max-width: 700px) {
		top: -15vh;
	}
}


input[passsword-reveal=true] {
  padding-right: 3em;

  + div{
    display: inline-block !important;
    text-align: right; 
    position: relative; 
    bottom: 2.9em; 
    height: 0px;  
    opacity: 0.65;
    margin: $padding-input-default !important;

    img{
      height: 1.5em;
      cursor: pointer;
    }
  }
}