.tabulator {
    .tabulator-footer {
        .tabulator-paginator {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;

            & > label {
                margin-right: 0;
                @include mobile {
                    width: 70%;
                }
            }

            & > .tabulator-page-size {
                margin-right: auto;
                @include mobile {
                    width: 25%;
                    margin-right: 0;
                }
            }

            @include mobile {
                flex-wrap: wrap;
            }
        }

        .tabulator-page {
            font-weight: $font-weight-medium;
            &.active {
                background: $color-blue-primary-light;
                color: $color-white !important; /* !important necessary to override Tabulator's default active page color */
            }
            &:not(:disabled):hover {
                background: $color-blue-primary-dark;
                color: $color-white;
            }
        }

    }
}