.usericon {
    display: flex;
    border-radius: 25px;
    padding: 5px 15px 5px 5px;
    background: $color-white;
    height: 52px;
    line-height: 40px;
    width: fit-content;
    color: $color-blue-primary-dark;
    border: 1px solid $color-white;
    font-weight: $font-weight-medium;
    font-size: $font-size-m;
    box-sizing: border-box;

    &:hover {
        background: $color-white;
        border: 1px solid $color-gray-light;
    }

    .usericon-wrapper {
        display: flex;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .usericon-avatar {
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        background: $color-gray-light;
        margin-right: 10px;
    }

    .usericon-name {
        color: $color-blue-primary-dark;
        font-weight: $font-weight-medium;
        font-size: $font-size-m;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .license-tag {
        border-radius: 5px;
	    padding: 4px;
        font-size: $font-size-s;
        vertical-align: middle;
    }

    .pending-renewal {
        color: $color-white;
        background-color: $color-error-dark;
        margin-right: 3px;

        img {
            height: 16px;
            vertical-align: middle;
        }
    }

    .youth {
        color: $color-white;
        background: $color-orange-primary-light;
    }

    .minor {
        color: $color-white;
        background: $color-orange-secondary-dark;
    }
}