.notification-badge {
    position: absolute;
    top: -2px;
    right: -2px;
    min-width: 16px;
    height: 16px;
    padding: 0 3px;
    border-radius: 50%;
    background-color: $color-error-dark;
    color: $color-white;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    border: 1px solid $color-white;
    z-index: 1;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px $color-blue-primary-light solid;
    img {
        width: 100%;
    }

    &.user-image-default {
        text-align: center;
        background: $color-white;
        svg {
            margin: 0 auto;
            height: 15px;
            padding: 12px 0;
            fill: $color-blue-primary-light;
        }
    }
    &.user-image-empty {
        background: $color-white;
        border: 1px $color-blue-primary-light dashed;
    }
}