#administration #users-table{
  width: 100%;
  margin: auto;
}

#administration #editor{
  width: 80%;
  margin:auto;
	text-align: left;
}

#administration #editor #description{
  height: 20em;
}

#editor a{
  text-decoration: underline;
}
#editor a:hover{
  text-decoration: none;
}
