.contact-link{
	text-align: justify;
}
.contact-link a{
	text-decoration: underline;
}
.contact-link a:hover{
	text-decoration: none;
}


/* Flash panel for messages */
.messages{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
}
.messages .innermessages{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	border-radius: 20px;
	padding: 50px 30px;
	width: 80vw;
	z-index: 3000;
	max-height: 100vh;
	overflow-y: auto;
}
@media (min-width: 660px) {
	.messages .innermessages{
		width: 600px;
	}
}
.messages .veil{
	background-color: rgba(0, 0, 10, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2500;
}
.messages h3{
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}
.messages .close{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	height: 30px;
}

.messages .message::before{
	height: 2em;
	width: 2em;
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
.messages .error::before{
	content: url("/static/img/icon/ionicon/md-close-circle.svg");
}
.messages .warning::before{
	content: url("/static/img/icon/ionicon/md-alert.svg");
}
.messages .success::before{
	content: url("/static/img/icon/ionicon/md-checkmark-circle.svg");
}



/* Generic css classes across the site */
.user{
	float: left;
	width: 80px;
	text-align: center;
	padding: 5px;
}
.user:hover{
	background-color: rgba(0,0,0, .1);
}
.user .avatar{
	margin:auto;
	height: 60px;
	width: 60px;
	background-size: cover;
	border-radius: 5px;
	background-color: white;
}

.avatar{
	border-radius: 5px;
	background-color: white;
	height: 30px;
	width: 30px;
}
.avatar.big{
	height: 200px;
	width: 200px;
}

.tag{
	border-radius: 5px;
	display: inline-block;
	padding: 3px 5px;
}

.tag.red{
	color: white;
	background-color: $punch;
}

.tag.blue{
	color: white;
	background-color: $shakespeare;
}

img.icon{
	height: 1em;
}

/* UTILS */
/* class used to cancel a float */
.breaker{
	clear: both;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}

form p{
	text-align:left;
}

form.inline{
    display: inline;
	text-align:left;
}

form input, form select{
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

/* Class for the cover image (skiing man) */
#cover{
	margin: 0;
  	background-image: url("/static/img/cover.jpg");
  	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: row;
	text-align: center;
	/* align-items: center; */
	position: relative;
	overflow: hidden;
}
#cover::before{
       content: "";
       z-index: 5;
       display: block;
       position: absolute;
       border-bottom: 15vh solid white;
       border-right: 100vw solid  transparent;
       bottom: 0;
	   margin: 0;
	   width: 0;
}


#cover div{
	width: 100%;
}
#cover  .motto{
	max-width: 90%;

}
#cover  .arrow{
	width: 6em	;
	filter: invert(1); /* Make arrow white */
	animation: votre_animation 1.5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	cursor: pointer;
}

/* use flexbox to have a label in front of an input on the same line,
 but the input can take up to the rest of the space*/
.inputGrow{
	display: flex;
	flex-wrap: wrap;
}
.inputGrow .grow{
	flex-grow: 20;
}


.flex{
	display: flex;
}

.leftalign{
	text-align: left !important;
}
.centeralign{
	text-align: center !important;
}
.rightalign{
	text-align: right !important;
}

@keyframes votre_animation{ to{
       transform: scale(1.4)
}}

#legal p{
	text-justify:auto;
	margin-bottom: 0cm;
}

#legal h5{
	font-size: 1.1em
}

#legal ol{
	padding: 1.5em;
	margin-bottom: 1.5em
}

#legal ol li{
	padding: 1em
}

#legal ul li{
	padding: .2em
}

.buttons-bar {
    display: flex;
    flex-flow: center;
    justify-content: center;
    align-items: stretch ;
    gap: 10px;
    flex-wrap: wrap;
}

.buttons-bar > *
{
    flex-grow: 1;
}