#profile .center_table{
    width: 100%;
}
#profile .center_table td{
    vertical-align: top;
    width: 50%;
}
#profile .center_table td.head{
    text-align:right;
    font-weight: bold;
}

#profile #refresh_extranet{
    margin: 3em 20px;
    text-align: left;
}
#profile #refresh_extranet input{
    color: #00a6cf;
    background: white;
    border: 1px solid #00a6cf;
    font-size: 15px;
}
#profile #info_extranet{
    color: #555555;
    font-size: 10px;
}

#profile h4{
    margin-top: 3em;
}

.profile-event-list div
{
}

.profile-event-list div.tabulator-col-content, .profile-event-list div.tabulator-cell, .profile-event-list div.tabulator-footer
{
    padding: 5px !important;
    font-size: $font-size-xs;
}
