#profile table{
    margin: auto;
}
#profile table td.head{
    text-align:right;
    font-weight: bold;
}

#profile #refresh_extranet{
    margin: 3em 20px;
    text-align: left;
}
#profile #refresh_extranet input{
    color: #00a6cf;
    background: white;
    border: 1px solid #00a6cf;
    font-size: 15px;
}
#profile #info_extranet{
    color: #555555;
    font-size: 10px;
}

#profile h4{
    margin-top: 5em;
}
