


<h1 class="modal_form_title">Ajouter un équipement</h1>

<div class="modal_form_container">
    <form action="{{ route }}" method="post" class="modal_form">

        {{ form.hidden_tag() }}
    
        <div class="modal_form_input_box">
            {{ form.reference.label }}
            {{ form.reference }}
        </div>
    
        <div class="modal_form_input_box">    
            {{ form.purchaseDate.label }}
            {{ form.purchaseDate }}
        </div>
    
    
        <div class="modal_form_input_box">
            {{ form.purchasePrice.label }}
            {{ form.purchasePrice }}
        </div>
    
    
        <div class="modal_form_input_box">    
            {{ form.model.label }}
            {{ form.model }}
        </div>
    
    
    
        {{ form.submit(class="button button-primary") }}
    
    </form>

</div>
