#existing_prices {
    width: 100%;
    margin:auto;
    border-spacing : 0;
    border-collapse : collapse;
}

#existing_prices tr.fields input{
    margin: auto;
    width:90%;
    padding: 0.5em;
}

#existing_prices tr.fields input[type=checkbox] {
    margin: 0.5em;
}

#existing_prices tr.fields input[type=number]{
    width:5em;
}

#existing_prices tr.fields input[type=checkbox]{
    width:auto;
    display:inline;
}

#existing_prices tr.fields label{
    display:inline;
    font-weight: normal;
}

#existing_prices tr.fields td {
    vertical-align: middle;
    text-align:center;
}

#existing_prices td.error-cell {
    text-align:left;
}

#existing_prices tr.fields td.actions{
    min-width:8em;
    text-align:left;
    vertical-align: top;
}

#existing_prices tr.item_row td {
    padding-top: 0.5em;
    border-top: 1px solid $color-gray-medium;
}

#existing_prices tr.even td {
    background-color: $color-blue-bg-light;
}

#existing_prices tr.restrictions h5 {
    margin:1em;
}

#existing_prices tr.restrictions div.inline_field{
    text-align: left;
}

.user_group_condition_table {
  margin-bottom: 1em;
}

#existing_prices fieldset
{
    padding: 0 0.5em;
}

#existing_prices .collapsed
{
    // When using display:none JS-generated inputs are not submitted
    // Put them offscreen instead
    position: absolute;
    left: -30000px;
    visibility: hidden;
    opacity: 0;
}