{% extends 'base.html' %}


{% block additionalhead %}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  <script src="{{ url_for('static', filename='js/payment/my_payments.js') }}"></script>
  <script>

      window.onload = function(){
          var initiatedAjaxUrl = "{{url_for('api.my_payments', status_code='Initiated')}}" ;
          var finalizedAjaxUrl = "{{url_for('api.my_payments', status_code='Approved')}}" ;
          var refundedAjaxUrl = "{{url_for('api.my_payments', status_code='Refunded')}}" ;
          createMyPaymentsTable("#initiated-payments", initiatedAjaxUrl , 'Initiated');
          createMyPaymentsTable("#approved-payments", finalizedAjaxUrl, 'Approved');
          createMyPaymentsTable("#refunded-payments", refundedAjaxUrl, 'Refunded');
    }
  </script>
{% endblock %}

{% block header %}
<h1>Mes paiements</h1>
{% endblock %}

{% block content %}
<div class="page-content" id="profile">
    <h3>Mes paiements</h3>

    <h4>Paiements à finaliser</h4>
    <div id="initiated-payments">
    </div>

    <h4>Paiements approuvés</h4>
    <div id="approved-payments">
    </div>

    <h4>Paiements remboursés</h4>
    <div id="refunded-payments">
    </div>

</div>

{% endblock %}
