
{% extends 'base.html' %}

{% block additionalhead %}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>

  <script>
    window.onload = function () {
      const searchInput = document.getElementById('user-search');
      setupUserAutoComplete(
        searchInput,
        '{{ url_for("api.autocomplete_users") }}',
        function (id, val) {
          window.location.href = '{{ url_for("profile.show_user", user_id=0) }}'.replace('/0', '/' + id);
        }
      );
    };
  </script>
{% endblock %}

{% block content %}
<div class="page-content" id="user-search-page">
  <h4 class="heading-4">Recherche d'adhérent</h4>

  <div class="form-group">
    <label for="user-search">Nom ou prénom</label>
    <input
      id="user-search"
      type="text"
      class="form-control"
      placeholder="Saisir au moins 2 caractères…"
      autocomplete="off"
    />
  </div>
</div>
{% endblock %}
