
{% extends 'base.html' %}

{% block content %}
<div class="page-content" >
  <!-- Logging Windows -->
  <h1 class="heading-1">Gestion des activités</h1>

  <div>
    <a class="button button-primary" href="{{ url_for('activity_supervision.leader_list')}}">
      <img class="icon invert-color" src="{{ url_for('static', filename='img/icon/ionicon/people.svg') }}"/>
      Encadrants
    </a>
    <a class="button button-primary" href="{{ url_for('activity_supervision.volunteers_list')}}">
        <img class="icon invert-color" src="{{ url_for('static', filename='img/icon/ionicon/thumbs-up.svg') }}"/>
        Bénévoles
      </a>
    <a class="button button-primary" href="{{ url_for('activity_supervision.csv_import')}}">
      <img class="icon invert-color" src="{{ url_for('static', filename='img/icon/ionicon/download.svg') }}"/>
      Import CSV
    </a>
    <a class="button button-primary" href="{{ url_for('activity_supervision.activity_documents')}}">
      <img class="icon invert-color" src="{{ url_for('static', filename='img/icon/ionicon/md-document.svg') }}"/>
      Documents
    </a>
  </div>

  {% block page_content %}{% endblock %}
</div>
{% endblock %}
