{% extends extends %}

{% import 'partials/form-fields.html' as generator  %}

{% block additionalhead %}

  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

  {# Autocomplete #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">

  {# Specific for this page #}
  <script src="{{ url_for('static', filename='js/activity_supervision/badges_list.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>
  <script src="{{ url_for('api.models_to_js') }}"></script>
  <script>
      const badgeLevels = {{models.BadgeIds.js_levels() | safe}};
      window.onload = function () {
        const show_type = {{ 'false' if badge_ids|length==1 else 'true' }};
        const show_level = {{ 'true' if level else 'false' }};
        const show_grantor = {{ 'true' if show_grantor else 'false' }};
        loadBadgesTable('{{url_for("api.badges", badge_ids=badge_ids)|safe}}', {{ routes | tojson}}, '{{csrf_token()}}', show_type, show_level, show_grantor, badgeLevels);

        const searchInput = document.getElementById('user_search');
        setupAutoComplete(
          searchInput,
          '{{url_for("api.autocomplete_users")}}',
          function(item) { return item.full_name; },
          function(id, val) { return onSelectAutocomplete(id, val);}
          )
      };
  </script>
{% endblock %}

{% block page_content %}
<div class="page-content" id="administration">
  <h2 class="heading-2">{{title}}</h2>
  <div id="badges-table"></div>

{%if add_badge_form%}
  <h4 class="heading-4">Ajout/renouvellement d'un {{title}}</h4>

  {%if models.BadgeIds.Benevole.value in badge_ids %}
  <p>Le badge <em>{{title}}</em> permet d'identifier les personnes ayant suffisamment contribué à l'activité pour bénéficier des avantages bénévole.
  Attention, détenir un rôle (encadrant ou autre) pour l'activité ne donnera bientôt plus automatiquement accès à ces avantages ; il faut
  renouveler le badge chaque année.
  </p>
  {% endif %}
  
  {{ generator.form_generator(add_badge_form, url_for(routes['add'])) }}
{% endif %}

<h4 class="heading-4">Export de la liste</h4>

{{ generator.form_generator(export_form, url_for(routes['export'])) }}

</div>
{% endblock %}
