{% extends 'activity_supervision/activity_supervision.html' %}

{% block additionalhead %}


{% endblock %}

{% macro activity_list(kind, empty_message) %}
  <p>
    <ul>
      {% for activity in activities if activity.kind == kind %}
        <li>
          <a href="{{url_for('activity_supervision.configuration_form', activity_type_id=activity.id) }}" >
            {% if activity.deprecated %}
              <del>{{ activity.name }} ({{activity.short}})</del>
            {% else %}
              {{ activity.name }} ({{activity.short}})
            {% endif %}
          </a>
        </li>
      {% else %}
        {{ empty_message }}
      {% endfor %}
    </ul>
  </p>
{% endmacro %}

{% block page_content %}
<div class="page-content" id="administration">
  <h2 class="heading-2">{{title}}</h2>

  <p>Merci de sélectionner l'activité, initiative ou service que vous souhaitez modifier :</p>
  <h3 class="heading-3"> Activités</h3>
  {{ activity_list(models.ActivityKind.Regular, "Vous n'êtes responsable d'aucune activité.") }}

  <h3 class="heading-3"> Initiatives</h3>
  {{ activity_list(models.ActivityKind.Initiative, "Vous n'êtes responsable d'aucune initiative.") }}

  <h3 class="heading-3"> Services</h3>
  {{ activity_list(models.ActivityKind.Service, "Vous n'êtes responsable d'aucun service.") }}

  {% if current_user.can_manage_all_activities() %}
    <p>
      <a href="{{url_for('activity_supervision.configuration_form', activity_type_id=None) }}" class="button button-secondary">
        <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-add-circle-outline.svg') }}"/>
        Ajouter un service ou une initiative
      </a>
    </p>
  {% endif %}

</div>
{% endblock %}
