{% extends 'activity_supervision/activity_supervision.html' %}

{% import 'partials/form-fields.html' as generator  %}

{% block additionalhead %}

  <script>
      const practitionerBadgeLevels = {{models.BadgeIds.js_levels(badge_ids=[models.BadgeIds.Practitioner], activity_ids=activity_ids) | safe}}[{{models.BadgeIds.Practitioner.value}}];
      window.addEventListener('DOMContentLoaded', function () {
        const activitySelect = document.getElementById("practitioner_level-activity_id");
        activitySelect.addEventListener("change", activityChanged);
        activityChanged();
      });

      function activityChanged() {
        const activitySelect = document.getElementById("practitioner_level-activity_id");
        const activityId = activitySelect.value;
        const defaultLevels = practitionerBadgeLevels[null];
        const activityLevels = practitionerBadgeLevels[activityId];

        for( [key, level] of Object.entries(defaultLevels)) {
          const levelInput = document.getElementById(`practitioner_level-level_names-${key}`);
          if (key in activityLevels) {
            levelInput.value = activityLevels[key].name;
          } else {
            levelInput.value = level.name;
          }
        }
      }
  </script>
{% endblock %}

{% block page_content %}
<div class="page-content" id="administration">
  <h2 class="heading-2">Badges de spécialisation</h2>
  <p>Les badges de spécialisation permettent de reconnaître les compétences acquises par les participants. Ils peuvent être utilisés pour valider des formations, des qualifications, ou des rôles spécifiques au sein de l'activité.
    Ils peuvent être liés ou non à une activité spécifique, et requérir ou non un recyclage régulier.
  </p>

  {% if custom_level %}
    <h4 class="heading-4">Modification d'une spécialisation</h4>
  {% else %}
    <h4 class="heading-4">Ajout d'une spécialisation</h4>
  {% endif %}
  
  
  {{ generator.form_generator(custom_level_form, action=url_for('.manage_custom_skills', custom_level_id=custom_level.id if custom_level else None)) }}

  <h4 class="heading-4">Spécialisations existantes</h4>
  <div>

    {% for id, level in levels.items() %}
      <div style="border: 1px solid grey; padding: 10px; margin-bottom: 10px;">
        <strong>{{ level.descriptor.name }}</strong> ({{ level.activity_name() }}) {% if level.deprecated %}<span style="color: red;">(obsolète)</span>{% endif %}
        [<a href="{{ url_for('.manage_custom_skills', custom_level_id=level.id) }}">Modifier</a>]
      </div>
    {% else %}
      <p>Aucune spécialisation définie.</p>
    {% endfor %}

  </div>

  
  <h4 class="heading-4">Intitulés des niveaux de pratiques</h4>

  {{ generator.form_generator(practitioner_level_form, action=url_for('.set_custom_practitioner_levels')) }}

  <form>



  </form>


</div>
{% endblock %}
