{% extends 'technician/maintenance.html' %}

{% block maintenance_content %}
  <h2 class="heading-4">{{ title }}</h2>

  <div>
    {% for folder in folders %}
    <a class="button 
          {% if folder == selected_folder %}
            button-primary
          {% else %}
            button-secondary
          {% endif %}
        " href="{{ url_for('technician.configuration', selected_folder=folder)}}">
      {{folder}}
    </a>
    {% endfor %}
  </div>
<br/>

<div class="configuration-form">

  <p>Le rechargement d'un paramètre peut prendre jusqu'à une minute.</p>
    {% for form in configuration_items %}
      <form action="" method="POST" enctype="multipart/form-data" class="form" id="form_{{form['conf'].name}}" >
        <div class="name">
          <b>{{ form['conf'].name }}</b><br/>
          <em>{{ form['conf'].description }}</em>
        </div>
        <div class="input">{{ form['form'].content }}</div>
        {{ form['form'].submit(class="button button-primary") }}
        {{ form['form'].hidden_tag() }}
      </form>
    {% endfor %}

</div>
{% endblock %}