{% extends 'base.html' %}

{% block additionalhead %}

{# Tabulator: for tables#}
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/moment@2.30.1/min/moment.min.js"></script>

{# Specific for this page #}
<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
<script>
    const csrf_token = "{{ csrf_token() }}";
    const files = {{ logs | safe}};
</script>
<script src="{{ url_for('static', filename='js/technician.js') }}"></script>

{% endblock %}

{% block content %}
<div class="page-content" >
  <!-- Logging Windows -->
  <h1 class="heading-1">Maintenance du serveur</h1>

  <div class="buttons-bar">
    <a class="button button-primary" href="{{ url_for('technician.logs')}}">
      Logs
    </a>
    <a class="button button-primary" href="{{ url_for('technician.configuration')}}">
      Configuration
    </a>
    <a class="button button-primary" href="{{ url_for('technician.cover')}}">
      Image de couverture
    </a>
    {% if Configuration.GOOGLE_ANALYTICS_UA %}
      <a class="button button-primary" href="https://analytics.google.com/analytics/web/">
          Statistiques
      </a>
    {% endif %}
  </div>

  {% block maintenance_content %}{% endblock %}
</div>
{% endblock %}
