<canvas id="volunteer-chart"></canvas>
              
<div class="tooltip">
    <img src="{{ url_for('static', filename='img/icon/ionicon/md-information-circle-outline.svg') }}" alt="(I)" />
    <span class="text">{{ engine.INDEX['volunteer_time_by_activity_type']['description'] }}</span>
</div>

<script>
    new Chart(document.getElementById('volunteer-chart'), {
    type: 'bar',
    data: {
        labels: {{ engine.volunteer_time_by_activity_type().keys() | list | tojson | safe }},
        datasets: [{
        data: {{ engine.volunteer_time_by_activity_type().values() | list | tojson | safe }},
        }]
    },
    options: {
        aspectRatio: 3,
        plugins: {
        title: {
            text: "{{ engine.INDEX['volunteer_time_by_activity_type']['name'] | safe }}",
        }
        }
    }
    });
</script>