{% extends 'base.html' %}

{% block additionalhead %}

{% endblock %}

{% block content %}
<div class="page-content" id="administration">
  <!-- Logging Windows -->
  <h1 class="heading-1">{{ title }}</h1>

  <div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}

        <div class="flash flash-error">
            <strong>Erreur : {{field.label}}:</strong> {{error}}
        </div>

    {% endfor %}
    {% endfor %}
    </div>

  <form action="" method="POST" enctype="multipart/form-data" class="form">
      <div class="controls">
          <h4>Mot de passe</h4>
      </div>

      <div class="controls">
        <div class="field">{{ form.password.label }}<span class="label-help">{{ form.password.description }}</span></div>
        {{ form.password(title=form.password.description, autocomplete="new-password") }}
      </div>

      <div class="controls">
        <div class="field">{{ form.confirm.label }}<span class="label-help">{{ form.confirm.description }}</span></div>
        {{ form.confirm(title=form.confirm.description, autocomplete="new-password") }}
      </div>

      {% if form.legal_accepted is defined %}
      <div class="controls">
        <h4>Acceptations des conditions du site</h4>
      </div>
      <div class="inline_field">
            {{ form.legal_accepted(title=form.legal_accepted.description) }}
            {{ form.legal_accepted.label }}
      </div>
      {% endif %}

    {{ form.hidden_tag() }}
    <div class="controls">
      {{ form.submit(class="button button-primary") }}
    </div>
  </form>

  {% include 'partials/contact_link.html' %}

</div>
{% endblock %}
