{% extends 'base.html' %}

{% block additionalhead %}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/administration.css') }}"> -->
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <!-- Logging Windows -->
  <h3>{{ title }}</h3>

  <div class="form-errors">
    {% for field in form%}
    {% for error in form.errors[field.name] %}

        <div class="flash flash-error">
            <strong>Erreur : {{field.label}}:</strong> {{error}}
        </div>

    {% endfor %}
    {% endfor %}
    </div>

  <form action="" method="POST" enctype="multipart/form-data">
      <h4>Mot de passe</h4>
      <br/>
      <div class="field">{{ form.password.label }}<span class="help">{{ form.password.description }}</span></div>
      {{ form.password(title=form.password.description, autocomplete="new-password") }}

      <div class="field">{{ form.confirm.label }}<span class="help">{{ form.confirm.description }}</span></div>
      {{ form.confirm(title=form.confirm.description, autocomplete="new-password") }}

      {% if form.legal_accepted is defined %}
      <h4>Acceptations des conditions du site</h4>
      <br/>
      <div class="inline_field">
            {{ form.legal_accepted(title=form.legal_accepted.description) }}
            {{ form.legal_accepted.label }}
      </div>
      {% endif %}

    {{ form.hidden_tag() }}
    <br /><br /><br /><br />{{ form.submit(class="button button-primary") }}
  </form>

  {% include 'contact_link.html' %}

</div>
{% endblock %}
