
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{event.title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <h3>{{event.title}}</h3>
  <p><a class="button button-secondary" href="{{url_for('event.view_event', event_id=event.id)}}">Retour à la collective</a></p>

  <h4>Édition des tarifs</h4>
  Pour rendre la collective payante, définissez un ou plusieurs tarifs.

  <form method="POST">

    <h5> Tarifs existants </h5>
    {% if form.items %}
    <table id="existing_prices">
    <thead>
      <th> Objet du paiement </th>
      <th> Intitulé du tarif </th>
      <th> Prix en euros </th>
      <th> Actif </th>
    </thead>
    {% for item_form in form.items %}
      {{item_form.item_id}}
    
      {% for field in item_form.item_prices %}
        <tr>
          <td> {% if loop.first %} {{item_form.title}} {% endif %}</td>
          <td> {{ field.title() }} </td>
          <td>
          {{ field.amount(type="number", min="0.00", max=config['PAYMENTS_MAX_PRICE'], step="0.01", lang="fr-FR")}}
          </td>
          <td> {{ field.enabled() }} </td>
          <td> {{field.price_id}} 
          {% if field.use_count %}
            Utilisé {{field.use_count}} fois.
          {% else %}
            {{field.delete}} {{field.delete.label}}
          {% endif %}
          </td>
        </tr>
        {% if field.errors %}
        <tr> <td colspan="4" class="error-cell">
          <div class="form-errors">
              {% for field_name, errors in field.errors.items() %}
              {% for error in errors %}
              <div class="flash flash-error">
                  <strong>Erreur: {{field[field_name].label}}:</strong> {{error}}
              </div>
              {% endfor %}
              {% endfor %}
          </div>
        </td> </tr>
        {%endif%}
      {% endfor %}
    {% endfor %}
    </table>
    {%else%}
      Aucun tarif n'a été défini pour le moment.
    {%endif%}

    <h5> Nouveau tarif </h5>

    <div class="form-errors">
        {% for field_name, errors in form.new_item.errors.items() %}
        {% for error in errors %}
        <div class="flash flash-error">
            <strong>Erreur: {{form.new_item[field_name].label}}:</strong> {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div class="field">{{ form.new_item.item_title.label }}<span class="help">Laissez vide pour ne pas créer de nouveau tarif</span></div>
    {{ form.new_item.item_title}}
    <div class="field">{{ form.new_item.title.label }}<span class="help">Par exemple «Adultes»</span></div>
    {{ form.new_item.title}}

    <div class="field">{{ form.new_item.amount.label }}<span class="help">{{ form.new_item.amount.description }}</span></div>
    {{ form.new_item.amount(type="number", min="0.00", max=config['PAYMENTS_MAX_PRICE'], step="0.01", lang="fr-FR")}}
    {#{ form.new_item.amount()}#}

    {{ form.hidden_tag() }}
    <br />{{ form.submit(class="button button-primary") }}
  </form>

</div>
{% endblock %}

