{% extends 'base.html' %}

{% block additionalhead %}

  {# Tabulator: for tables #}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css')}}">

  <script src="{{ url_for('static', filename='js/payment/payment_list.js') }}"></script>
  <script src="{{ url_for('api.models_to_js') }}"></script>
  <script>
  var table;
  window.onload = function() {
    var ajaxUrl = "{{url_for('api.list_payments')}}" ;
    table = createAllPaymentsTable(ajaxUrl);
  }

  </script>

{% endblock %}

{% block content %}
<div class="page-content" style="max-width: 100%">
  <h1 class="heading-1">Liste des paiements</h1>
  <div id="payments-table"></div>

  <p>
      <a
            class="button button-primary"
            href="{{url_for('payment.export_payments')}}"
            onclick="return exportAsExcel(this)">
            Export XLSX des paiements
      </a>
  </p>
</div>
{% endblock %}
