<!--htmlhint doctype-first:false -->
{% extends 'base.html' %}

{% block additionalhead %}

{% endblock %}

{% block header %}
  <h1>{% block title %}Fausse page de paiement{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="panel">
    <h4>
    Paiement de "{{payment.item.title}} &mdash; {{payment.price.title}}" pour {{format_currency(payment.amount_charged)}}.
    </h4>
    <p>
        Ceci est une fausse page de paiement permettant de générer les événements suivants:

        <ul>
            <li><a type="button" href="{{url_for('payment.process')}}?paylinetoken={{payment.processor_token}}&message=ACCEPTED&amount={{amount}}">Paiement accepté</a></li>
            <li><a type="button" href="{{url_for('payment.cancel')}}?paylinetoken={{payment.processor_token}}&message=REFUSED&amount=0">Paiement refusé</a></li>
            <li><a type="button" href="{{url_for('payment.notify')}}?token={{payment.processor_token}}&message=CANCELLED&amount=0">Timeout</a></li>
        </ul>
    </p>
</div>

{% endblock %}
