{% macro details_row(title, value) -%}
  <tr>
      <td class="key"><strong>{{title}}</strong></td>
      <td class="value">{{value}}</td>
  </tr>
{%- endmacro %}

{% extends 'base.html' %}

{% block additionalhead %}
{% endblock %}

{% block header %}
  <h1>{% block title %}Détails d'un paiement{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <p><a class="button button-secondary" href="{{url_for('payment.list_payments', event_id=event.id)}}">Retour à la liste des paiements</a></p>
  
  <h4>Détails du paiement</h4>
{% if payment.terms_version %}
  <p><a href="{{url_for('static', filename=payment.terms_version)}}">Voir les CGV acceptées</a></p>
{% endif %}

  {% if payment.is_offline() and payment.registration %}
  <p>
    <a class="button button-secondary" href="{{ url_for('payment.report_offline', registration_id = payment.registration_id, payment_id=payment.id)}}">
        <img class="icon" src="{{ url_for('static', filename='img/icon/ionicon/md-create.svg') }}"/>
        Editer le paiement hors-ligne
    </a>
  </p>
  {%endif%}

  <table id="payment_details">
    {{ details_row("Événement", event.title) }}
    {{ details_row("Objet du paiement", payment.item.title) }}
    {{ details_row("Tarif", payment.price.title) }}
    {{ details_row("Adhérent", payment.buyer.full_name()) }}
    {% if payment.registration %}
      {{ details_row("Inscription associée", payment.registration.status.display_name()) }}
    {% endif %}
    {{ details_row("Saisi par", payment.reporter.full_name()) }}
    {{ details_row("État", payment.status.display_name()) }}
    {{ details_row("Prix facturé", format_currency(payment.amount_charged)) }}
    {{ details_row("Prix payé", format_currency(payment.amount_paid)) }}
    {{ details_row("Type", payment.payment_type.display_name()) }}
    {{ details_row("Date de création", format_datetime(payment.creation_time)) }}
    {{ details_row("Date de finalisation", format_datetime(payment.finalization_time)) }}
    {{ details_row("Date de remboursement", format_datetime(payment.refund_time)) }}
    
    {% if payment.is_offline() %}
      {{ details_row("Précisions", payment.raw_metadata) }}
    {% else %}
      {{ details_row("Référence", payment.processor_order_ref) }}
      {% if current_user.is_admin() and not payment.is_offline() %}
        {{ details_row("Token", payment.processor_token) }}
        {{ details_row("Metadata", payment.raw_metadata) }}
        {% if payment.refund_metadata %}
         {{ details_row("Metadata du remboursement", payment.refund_metadata) }}
        {% endif %}
      {% endif %}  
    {% endif %}  

  </table>
</div>
{% endblock %}

