{% extends 'base.html' %}

{% block additionalhead %}

  {# Tabulator: for tables #}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.1/dist/js/tabulator.min.js"></script>
  
  <script src="{{ url_for('static', filename='js/payment/payment_list.js') }}"></script>
  <script> 
  window.onload = function() { 
    var ajaxUrl = "{{url_for('api.list_payments', event_id=event.id)}}" ;
    createPaymentsTable(ajaxUrl); 
  }
  </script>

{% endblock %}

{% block header %}
  <h1>{% block title %}Liste des paiements{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel" id="administration">
  <h3>{{event.title}}</h3>
  <p><a class="button button-secondary" href="{{url_for('event.view_event', event_id=event.id)}}">Retour à la collective</a></p>
  
  <h4>Paiement associés à la collective</h4>
  <div id="payments-table"></div>

  <p><a class="button button-primary" href="{{url_for('payment.export_payments', event_id=event.id)}}">Export XLSX des paiements validés</a></p>
</div>
{% endblock %}

