input,
textarea,
[contenteditable] {
  caret-color: $color-blue-primary-light;
}


label {
    font-weight: $font-weight-medium;
}

form {
    input, select, textarea {
        outline: none;
        border: none;
        background: $color-gray-bg-light;
        padding: $padding-input-default;
        box-sizing: border-box;
        line-height: 1;
        &:focus {
            border-bottom: 1px solid $color-gray-medium;
        }
    }
}

.form {
    .controls {
        display: flex;
        margin: 0.8rem 0;
        & > * {
            margin: 0 0;
        }

        .label-help {
            display: inline-block;
            font-size: $font-size-xs;
            font-weight: $font-weight-default;
        }
    }

    &.form-vertical {
        display: flex;
        flex-direction: column;
        margin: auto;

        max-width: 48em;

        .controls {
            margin: $padding-default;
            line-height: 2*$padding-input-vertical-default ;
            flex-direction: column;
        }
        label {
            width: 100%;
            justify-content: space-between;
            &:last-of-type {
                input {
                    margin-right: 0;
                }
            }
        }

        input {
            align-self: center;
        }



    }
    // Input widths
    .input-25 {
        width: 25%;
    }
    .input-33 {
        width: 33.33333%;
    }
    .input-50 {
        width: 50%;
    }
    .input-66 {
        width: 66%;
    }
    .input-75 {
        width: 75%;
    }
    .input-100 {
        width: 100%;
    }
}
