@font-face {
	font-family: 'DIN';
	src: url('/static/fonts/DINWeb-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('/static/fonts/DINWeb.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('/static/fonts/DINWeb-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'DIN';
	src: url('/static/fonts/DINWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

// Default content
html, body {
	font-family: $font-family-primary;
	font-size: $font-size-default;
	font-weight: $font-weight-default;
	line-height: $line-height-default;
}

// Headings
// Reset headings default styles
h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: normal;
}

// Custom heading styles, top be applied independently of page structure
// e.g <h1 class="heading-3">My Title</h1> works, but will have a h3 style

.h-xxl, .heading-1 {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
    line-height: $line-height-xxl;
    text-transform: uppercase;
}

.h-xl, .heading-2 {
	font-size: $font-size-xl;
	font-weight: $font-weight-bold;
	line-height: $line-height-xl;
	text-transform: uppercase;
}

.h-l, .heading-3 {
	font-size: $font-size-l;
	font-weight: $font-weight-bold;
	line-height: $line-height-l;
}

.h-m, .heading-4 {
	font-size: $font-size-m;
	font-weight: $font-weight-medium;
	line-height: $line-height-m;
	text-transform: uppercase;
}

.h-s, .heading-5 {
	font-size: $font-size-s;
	font-weight: $font-weight-medium;
	line-height: $line-height-s;
}

.h-xs, .heading-6 {
	font-size: $font-size-xs;
	font-weight: $font-weight-medium;
	line-height: $line-height-xs;
}

.title_first_path {
	color: $color-black;

	&:hover {
		color: $color-black;
		text-decoration: none;
	}
}


.title_second_path {
	font-size: $font-size-xl;
	color: $color-black;

	&:hover {
		color: $color-black;
		text-decoration: none;
	}
}


// Links

a, .link {
	color: darken($color-blue-secondary-dark, 5%);
	text-decoration: none;
	transition: all .2s ease-in-out;
	&:hover {
		text-decoration: underline;
		color: darken($color-blue-secondary-dark, 15%);
	}
}

.link_path {

	&:hover {
		text-decoration: none;
	}

}

.link_title {
	color: $color-black;

	&:hover {
		text-decoration: none;
		color: $color-black;
	}
}




.link-danger {
	color: $color-error-light;
	text-decoration: none;
	&:hover {
		color: $color-error-dark;
	}
}