.invert-color{
    filter: invert(1);
}

.text-gray {
    color: $color-gray-medium;
}

/* Text color utilities */
.text-primary {
    color: $color-blue-primary-dark;
}
.text-primary-light {
    color: $color-blue-primary-light;
}
.text-primary-dark {
    color: $color-blue-primary-dark;
}