

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.display-block {
    display: block !important;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-grid {
    display: grid !important;
}

.display-inline-flex {
    display: inline-flex !important;
}

.display-table {
    display: table !important;
}

.display-table-row {
    display: table-row !important;
}

.display-table-cell {
    display: table-cell !important;
}