

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-grid {
    display: grid;
}

.display-inline-flex {
    display: inline-flex;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}