.margin-0 {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-default {
    margin: $padding-vertical-default $padding-horizontal-default;
}

.margin-xs {
    margin: $padding-vertical-xs $padding-horizontal-xs;
}

.margin-s {
    margin: $padding-vertical-s $padding-horizontal-s;
}

.margin-m {
    margin: $padding-vertical-m $padding-horizontal-m;
}

.margin-l {
    margin: $padding-vertical-l $padding-horizontal-l;
}

.margin-xl {
    margin: $padding-vertical-xl $padding-horizontal-xl;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-default {
    margin-top: $padding-vertical-default;
}

.margin-top-xs {
    margin-top: $padding-vertical-xs;
}

.margin-top-s {
    margin-top: $padding-vertical-s;
}

.margin-top-m {
    margin-top: $padding-vertical-m;
}

.margin-top-l {
    margin-top: $padding-vertical-l;
}

.margin-top-xl {
    margin-top: $padding-vertical-xl;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-default {
    margin-bottom: $padding-vertical-default;
}

.margin-bottom-xs {
    margin-bottom: $padding-vertical-xs;
}

.margin-bottom-s {
    margin-bottom: $padding-vertical-s;
}

.margin-bottom-m {
    margin-bottom: $padding-vertical-m;
}

.margin-bottom-l {
    margin-bottom: $padding-vertical-l;
}

.margin-bottom-xl {
    margin-bottom: $padding-vertical-xl;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-default {
    margin-left: $padding-horizontal-default;
}

.margin-left-xs {
    margin-left: $padding-horizontal-xs;
}

.margin-left-s {
    margin-left: $padding-horizontal-s;
}

.margin-left-m {
    margin-left: $padding-horizontal-m;
}

.margin-left-l {
    margin-left: $padding-horizontal-l;
}

.margin-left-xl {
    margin-left: $padding-horizontal-xl;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-default {
    margin-right: $padding-horizontal-default;
}

.margin-right-xs {
    margin-right: $padding-horizontal-xs;
}

.margin-right-s {
    margin-right: $padding-horizontal-s;
}

.margin-right-m {
    margin-right: $padding-horizontal-m;
}

.margin-right-l {
    margin-right: $padding-horizontal-l;
}

.margin-right-xl {
    margin-right: $padding-horizontal-xl;
}