.margin-0 {
    margin: 0 !important;
}

.margin-auto {
    margin: auto !important;
}

.margin-default {
    margin: $padding-vertical-default $padding-horizontal-default !important;
}

.margin-xs {
    margin: $padding-vertical-xs $padding-horizontal-xs !important;
}

.margin-s {
    margin: $padding-vertical-s $padding-horizontal-s !important;
}

.margin-m {
    margin: $padding-vertical-m $padding-horizontal-m !important;
}

.margin-l {
    margin: $padding-vertical-l $padding-horizontal-l !important;
}

.margin-xl {
    margin: $padding-vertical-xl $padding-horizontal-xl !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-default {
    margin-top: $padding-vertical-default !important;
}

.margin-top-xs {
    margin-top: $padding-vertical-xs !important;
}

.margin-top-s {
    margin-top: $padding-vertical-s !important;
}

.margin-top-m {
    margin-top: $padding-vertical-m !important;
}

.margin-top-l {
    margin-top: $padding-vertical-l !important;
}

.margin-top-xl {
    margin-top: $padding-vertical-xl !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-default {
    margin-bottom: $padding-vertical-default !important;
}

.margin-bottom-xs {
    margin-bottom: $padding-vertical-xs !important;
}

.margin-bottom-s {
    margin-bottom: $padding-vertical-s !important;
}

.margin-bottom-m {
    margin-bottom: $padding-vertical-m !important;
}

.margin-bottom-l {
    margin-bottom: $padding-vertical-l !important;
}

.margin-bottom-xl {
    margin-bottom: $padding-vertical-xl !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-default {
    margin-left: $padding-horizontal-default !important;
}

.margin-left-xs {
    margin-left: $padding-horizontal-xs !important;
}

.margin-left-s {
    margin-left: $padding-horizontal-s !important;
}

.margin-left-m {
    margin-left: $padding-horizontal-m !important;
}

.margin-left-l {
    margin-left: $padding-horizontal-l !important;
}

.margin-left-xl {
    margin-left: $padding-horizontal-xl !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-default {
    margin-right: $padding-horizontal-default !important;
}

.margin-right-xs {
    margin-right: $padding-horizontal-xs !important;
}

.margin-right-s {
    margin-right: $padding-horizontal-s !important;
}

.margin-right-m {
    margin-right: $padding-horizontal-m !important;
}

.margin-right-l {
    margin-right: $padding-horizontal-l !important;
}

.margin-right-xl {
    margin-right: $padding-horizontal-xl !important;
}