.padding-default{
    padding: $padding-default;
}

.padding-xs{
    padding: $padding-xs;
}

.padding-s{
    padding: $padding-s;
}

.padding-m{
    padding: $padding-m;
}

.padding-l{
    padding: $padding-l;
}

.padding-xl{
    padding: $padding-xl;
}