.padding-default{
    padding: $padding-default;
}

.padding-xs{
    padding: $padding-xs;
}

.padding-s{
    padding: $padding-s;
}

.padding-m{
    padding: $padding-m;
}

.padding-l{
    padding: $padding-l;
}

.padding-xl{
    padding: $padding-xl;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-default {
    padding-top: $padding-vertical-default;
}

.padding-top-xs {
    padding-top: $padding-vertical-xs;
}

.padding-top-s {
    padding-top: $padding-vertical-s;
}

.padding-top-m {
    padding-top: $padding-vertical-m;
}

.padding-top-l {
    padding-top: $padding-vertical-l;
}

.padding-top-xl {
    padding-top: $padding-vertical-xl;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-default {
    padding-bottom: $padding-vertical-default;
}

.padding-bottom-xs {
    padding-bottom: $padding-vertical-xs;
}

.padding-bottom-s {
    padding-bottom: $padding-vertical-s;
}

.padding-bottom-m {
    padding-bottom: $padding-vertical-m;
}

.padding-bottom-l {
    padding-bottom: $padding-vertical-l;
}

.padding-bottom-xl {
    padding-bottom: $padding-vertical-xl;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-default {
    padding-left: $padding-horizontal-default;
}

.padding-left-xs {
    padding-left: $padding-horizontal-xs;
}

.padding-left-s {
    padding-left: $padding-horizontal-s;
}

.padding-left-m {
    padding-left: $padding-horizontal-m;
}

.padding-left-l {
    padding-left: $padding-horizontal-l;
}

.padding-left-xl {
    padding-left: $padding-horizontal-xl;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-default {
    padding-right: $padding-horizontal-default;
}

.padding-right-xs {
    padding-right: $padding-horizontal-xs;
}

.padding-right-s {
    padding-right: $padding-horizontal-s;
}

.padding-right-m {
    padding-right: $padding-horizontal-m;
}

.padding-right-l {
    padding-right: $padding-horizontal-l;
}

.padding-right-xl {
    padding-right: $padding-horizontal-xl;
}