name: Tests

on: 
  push:
    branches: ["master"]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install the project
        run: uv sync --locked --dev

      - name: Pytest
        run: |
          uv run pytest --cov=collectives tests/ --cov-fail-under=60
