# Syntax reference for this file:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: sphinx
on: [push]

# https://gist.github.com/c-bata/ed5e7b7f8015502ee5092a3e77937c99
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v2
      # https://github.com/marketplace/actions/setup-python
      # ^-- This gives info on matrix testing.
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      # I don't know where the "run" thing is documented.
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Install Sphinx
        run: |
          pip install Sphinx==3.0.1
      - name: Build Sphinx docs
        working-directory: doc
        env:
            SPHINXOPTS: -W  --keep-going
        run: |
          make html
