

#eventedit form{
  padding: 10px 20px;
}

#eventedit label{
  width : 30%;
  margin-bottom: 1em;
}
#eventedit input, #eventedit select{
  width : 40%;
  margin-bottom: 1em;
}


#eventedit input[type=submit] {
	margin: 8px 0;
	width: 50%;
}


#eventedit #editor, #eventedit .ql-toolbar{
  width: 80%;
  margin:auto;
}

#eventedit #editor{
  height: 40em;
}
