

#eventedit form{
  padding: 10px 20px;
}

#eventedit label{
  width : 30%;
  margin-bottom: 1em;
}
#eventedit input, #eventedit select{
  width : 40%;
  margin-bottom: 1em;
}


#eventedit input[type=submit] {
	margin: 8px 0;
	width: 50%;
}


#eventedit #editor {
  width: 80%;
  margin:auto;
	text-align: left;
}

#eventedit #description{
  height: 40em;
}

#editor a{
  text-decoration: underline;
}
#editor a:hover{
  text-decoration: none;
}