#eventlist #filters{
    background: white;
    padding: 20px;
    text-align: right;
}
#eventlist #filters .unselected{
    opacity: .5;
}
#eventlist #filters .activity{
    cursor: pointer;
}

#eventlist #eventstable{
    min-height: 2200px;
}

#eventlist #eventstable .row{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
}
#eventlist #eventstable .row:hover{
    text-decoration: none;
}
#eventlist #eventstable .row .section{
    margin: 0 20px;
}

#eventlist #eventstable img.photo{
    height: 130px;
    width: 200px;
}
#eventlist #eventstable h4{
    font-size: 200%;
    margin: 0;
}
#eventlist #eventstable .row div div{
    font-size: 150%;
}
#eventlist #eventstable .activities{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#eventlist #eventstable .activity{
    margin: 1px;
}

#eventlist #eventstable .slots .free_slot{
    opacity: .5;
}

span.event-status{
  padding: 0 0.5em; 
  color:  white;
  background-color: red;
  border-radius: 5px;
}


/* Event details */
#eventdetail h5{
  font-size: 20px;
  margin: .5em 20px;
}
#eventdetail .slots {
  text-align: left;
}
#eventdetail .photo {
  width: 50%;
  margin: 2em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}
#eventdetail .type{
  float: right;
}
#eventdetail #description{
  text-align: justify;
  max-width: 1000px;
  margin: 2em auto 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px 40px;
}
#eventdetail #encadrement{
  float: right;
  text-align: center;
}

#eventdetail .subscriptions{
  padding: 3px 20px;

}

#eventdetail .date, #eventdetail .subscriptions h5{
    color:  rgb(235,105,28);
}

#eventdetail .useractionmenu{
  position: relative;
  display: inline-block;
}

#eventdetail .useractionmenu form{
  display: none;
  position: absolute;
  width: 80px;
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 2px;
  cursor: pointer;
  border-radius: 5px;

}
#eventdetail .useractionmenu:hover form{
  display: inline-block;
}

#eventdetail .selfsubscribe{
  cursor: pointer;
  margin-left: 40px;
  border: 3px solid #00a6d0;
}

#eventdetail .selfunregister{
  display: inline;
  vertical-align: middle;
}

#eventdetail .administration{
  background-color: #cccccc;
  margin-top: 5em;
  padding: 20px 10px;
}

#eventdetail .administration h4{
  text-align: center;
}

#eventdetail .administration h5{
  margin-top: 2em;
}


#eventdetail .search-input{
    width: 400px;
    font-size: 200%;
}

#eventdetail p {
    padding: 1em 20px;
}
#eventdetail .contactinfos input[type=text]{
    width: calc(100% - 1em - 60px - 20px);
}

#eventdetail .contactinfos input[type=button]{
    width:  60px;
}

.delete-button{
  font-size: 20px;
  color:white;
  background-color: rgb(20, 20, 40);
}
.delete-button:hover{
  color:white;
  background-color:  rgb(60, 60, 60);
}

#description a{
  text-decoration: underline;
}
#description a:hover{
  text-decoration: none;
}