#eventlist #filters{
    background: white;
    padding: 20px;
    text-align: right;
}

#eventlist #filters input.button{
    display:none;
}
#eventlist #filters input.button + label{
    height: 40px;
    border: 2px solid rgb(29,105,137);
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    color: grey;
    cursor: pointer;
}
#eventlist #filters input.button:checked + label{
    color: white;
    background-color: rgb(29,105,137);
    font-weight: bold;
}

#eventlist #eventstable{
    min-height: 2200px;
}

#eventlist #eventstable .row{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    white-space: normal;
    align-items: center;
}
#eventlist #eventstable .row:hover{
    text-decoration: none;
}
#eventlist #eventstable .row .section{
    margin: 0 20px;
}

#eventlist #eventstable img.photo{
    height: 130px;
    width: 200px;
}
#eventlist #eventstable h4{
    font-size: 200%;
    margin: 0;
}
#eventlist #eventstable .row div div{
    font-size: 150%;
}
#eventlist #eventstable .activities{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#eventlist #eventstable .activity{
    margin: 1px;
}

#eventlist #eventstable .slots .free_slot{
    opacity: .5;
}

span.event-status{
  padding: 0 0.5em;
  color:  white;
  background-color: red;
  border-radius: 5px;
}


/* Event details */
#eventdetail h5{
  font-size: 20px;
  margin: .5em 20px;
}
#eventdetail .slots {
  text-align: left;
}
#eventdetail .photo {
  width: 50%;
  margin: 2em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}
#eventdetail .type{
  float: right;
}
#eventdetail #description{
  text-align: justify;
  max-width: 1000px;
  margin: 2em auto 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px 40px;
  overflow-wrap: break-word;
}

#eventdetail .subscriptions, #eventdetail #encadrement{
  padding: 3px 20px;

}

#eventdetail .date, #eventdetail .subscriptions h5, #eventdetail #encadrement h5{
    color:  rgb(235,105,28);
}

#eventdetail .useractionmenu{
  position: relative;
  display: inline-block;
}

#eventdetail .useractionmenu form{
  display: none;
  position: absolute;
  bottom: -15px;
  width: 80px;
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 2px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 500;
}
#eventdetail .useractionmenu:hover form{
  display: inline-block;
}

#eventdetail .selfsubscribe{
  cursor: pointer;
  margin-left: 40px;
  background-color: #006880;
  color: white;
}

#eventdetail .selfunregister{
  display: inline;
  vertical-align: middle;
}

#eventdetail .administration{
  background-color: #cccccc;
  margin-top: 5em;
  padding: 20px 10px;
}

#eventdetail .administration h4{
  text-align: center;
}

#eventdetail .administration h5{
  margin-top: 2em;
}


#eventdetail .search-input{
    width: 400px;
    font-size: 200%;
}

#eventdetail p {
    padding: 1em 20px;
}

.delete-button{
  font-size: 20px;
  color:white;
  background-color: rgb(20, 20, 40);
}
.delete-button:hover{
  color:white;
  background-color:  rgb(60, 60, 60);
}

#description a{
  text-decoration: underline;
}
#description a:hover{
  text-decoration: none;
}

.select{
    height: 40px;
    width: 360px;
    position: relative;
    border: 1px solid rgb(29,105,137);
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
    z-index:100;
}

.select .chevrons{
    float: right;
    height: 30px;
    margin-top: 5px;
    z-index:10000;
    transform: rotate(90deg);
    position: relative;
    color: rgb(29,105,137);
}
.select input[type="checkbox"]{
    height: 100%;
    width: 100%; 
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    z-index: 10000;
 }
.select input[type="checkbox"]:checked + .message{
    display: block;
}
.select input[type="radio"]{
    display: none;
}

.select label.closer{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: none;
    z-index: 100;
}

.select label{
    display:none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(29,105,137);
    background-color: white;
    cursor: pointer;
    z-index: 5000;
    position: relative;
}
.select input[type="checkbox"]:checked ~ label{
    display: block;
    border-top: none;
}
.select input[type="radio"]:checked + label{
    display: block;
    background-color: #e0e0e0;
}

.select input[type="checkbox"]:not(:checked) ~ label{
    background-color: white !important;
}

.select label label{
    display: block;
    border: none;
    background: none;
    padding: 0 10px;
}
